{% macro tag(tag) %}
	{% set modifier %}
		{% if tag.modifier %}
			tag--{{ tag.modifier }}
		{% else %}
			{% for modifier in tag.modifiers %} tag--{{ modifier }}{% endfor %}
		{% endif %}
	{% endset %}

	{% set tagName %}{{ "a" if tag.href else "span" }}{% endset %}

	{% set href %}{% if tag.href %}href="{{tag.href}}"{% endif %}{% endset %}

	<{{ tagName }} class="tag {{ modifier | trim }} {{ tag.className if tag.className }}" {{ href }}>
		{{ tag.label }}
	</{{ tagName }}>
{% endmacro %}
