////
/// @group components
////

/// Container placeholder.
/// @since 1.0.0
@mixin nds-container {
  margin: auto;
  max-width: rem($nds-container-max-width);
  width: 96%; // IE11 support for calc not consistent https://caniuse.com/calc (See "Known issues")
  width: calc(100% - #{rem($nds-container-gutter * 2)});
}
