{% extends "../layouts/_sidebar.njk" %}
{% set breadcrumbs = [{ title: "About", href: "/about/" }, { title: title }] %}
{% set title = title + " | About" %}

{% block sidebar %}

	<nav role="navigation">
		<ul>
			<li><a href="/about/">About</a></li>
			<li><a href="/about/installation">Installation</a></li>
			<li><a href="/about/roadmap">Roadmap</a></li>
		</ul>
	</nav>

{% endblock %}
