@import '~@nice-digital/nds-core/scss/core';

.fieldset {
  border: rem(1px) solid $colour-border;
  margin-bottom: rem($spacing-medium);
  padding: rem($spacing-small);

  &__legend {
    @include font-size(p);
    font-weight: bold;
    padding-right: rem($spacing-x-small);
    padding-left: rem($spacing-x-small);
    margin-left: rem(-$spacing-x-small);
  }
}
