@use '@nice-digital/nds-core/scss/colours';
@use '@nice-digital/nds-core/scss/focus';
@use '@nice-digital/nds-core/scss/layout';
@use '@nice-digital/nds-core/scss/media-queries';
@use '@nice-digital/nds-core/scss/spacing';
@use '@nice-digital/nds-core/scss/typography';
@use '@nice-digital/nds-core/scss/utils';

////
/// @group components
////

/// Hero banner component.
/// @since 0.2.0
.hero {
  @include layout.fullWidth;
  @include focus.inverse-button-focus;
  background: colours.$hero-background-default;
  color: colours.$hero-text-default;
  margin-bottom: utils.rem(spacing.$large);
  overflow: hidden;
  padding: utils.rem(spacing.$large) 0 utils.rem(spacing.$x-large);
  position: relative;

  &--dark {
    background: colours.$hero-background-dark;
    color: colours.$hero-text-dark;

    .breadcrumbs {
      @include typography.links-inverse;
    }
  }

  &:has(.hero__image-container) {
    @include media-queries.mq($from: md) {
      min-height: 300px;
    }
  }

  &__container {
    @include layout.fullWidthContainer;
  }

  &__body {
    @include media-queries.mq($from: md) {
      width: 66%;
    }
  }

  &__title {
    @include typography.h1;
    margin-bottom: utils.rem(spacing.$large);
  }

  &__intro {
    @include typography.lead;
    margin-block: utils.rem(spacing.$medium);
  }

  &__actions {
    margin-top: utils.rem(spacing.$large);
  }

  &__image-container {
    background-position: center center;
    background-size: cover;
    bottom: 0;
    display: none;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;

    @include media-queries.mq($from: md) {
      display: flex;
      width: 34%;
    }

    &::before {
      background: colours.$hero-background-default;
      content: '';
      flex: 0 0 200px;
      pointer-events: none;
      position: relative;
      transform: rotate(-15deg) scale(1.2) translateX(-60%);
      z-index: 1;

      .hero--dark & {
        background: colours.$hero-background-dark;
      }
    }
  }
}
