@use '@nice-digital/nds-core/scss/colours';
@use '@nice-digital/nds-core/scss/focus';
@use '@nice-digital/nds-core/scss/layout';
@use '@nice-digital/nds-core/scss/media-queries';
@use '@nice-digital/nds-core/scss/spacing';
@use '@nice-digital/nds-core/scss/typography';
@use '@nice-digital/nds-core/scss/utils';

////
/// @group components
////

/// Hero banner component.
/// @since 0.2.0
.hero {
  @include typography.links-inverse;
  @include focus.inverse-button-focus;
  background: colours.$hero-background;
  color: colours.$text-inverse;
  left: calc(50%);
  margin-bottom: utils.rem(spacing.$large);
  margin-left: -50vw;
  margin-right: -50vw;
  overflow: hidden;
  position: relative;
  right: calc(50%);
  width: 100vw;

  .breadcrumbs {
    @include typography.links-inverse;
  }

  &__container {
    @include layout.container;
  }

  &__body {
    @include layout.clearfix;
    margin-top: utils.rem(spacing.$large);
    padding: utils.rem(0 0 spacing.$large);
  }

  // Container for title, lead and actions
  &__copy {
    margin-bottom: utils.rem(spacing.$large);
  }

  &__title {
    @include typography.h1;
  }

  &__intro {
    @include typography.lead;
  }

  // Optional footer
  &__footer {
    align-items: center;
    border-top: utils.rem(spacing.$xx-small) solid colours.$hero-border;
    display: flex;
    flex-flow: row wrap;
    padding: utils.rem(spacing.$medium 0);

    p,
    ul {
      margin: 0;
      max-width: 100%;
    }
  }

  @include media-queries.mq($from: md) {
    &__copy {
      float: left;
      margin-bottom: 0;
      width: 55%;
    }

    &__extra {
      float: right;
      width: 35%;
    }
  }
}
