////
/// @group components
////

/// A panel is a container for visually separating content.
/// Often used within a sidebar.
/// @since 0.1.0
.panel {
  background: $colour-panel-default;
  border: 1px solid $colour-panel-default-border; // To distinguish panel from off-grey body background
  margin: em($spacing-medium 0 $spacing-large);
  padding: em($spacing-medium);

  // sass-lint:disable no-combinators
  > :first-child {
    margin-top: 0;
  }

  // sass-lint:disable no-combinators
  > :last-child {
    margin-bottom: 0;
  }
}

/// Modifier for the panel, to use a inverse (dark) background.
/// Autmatically uses inverse links within it. Doesn't affect buttons
/// though, so any buttons within a dark panel should be `.btn.btn--inverse`.
/// @require {mixin} links-inverse
/// @require .panel
/// @since 0.1.0
.panel--inverse {
  @include links-inverse;
  background: $colour-panel-inverse;
  border: 0;
  color: $colour-text-inverse;
}
