////
/// @group Typography
////

@include default-box-sixing;

/// The default focus style used for elements like anchors and buttons
/// @output the default focus styles ie background colour and outline
@mixin default-focus-style {
	outline: 3px solid get-colour(orange);
}

html {
	@include root-size;
}

body {
	background: $white;
	color: get-colour(grey, mid-dark);
	font-family: font-family(sans);
	font-style: normal;
	line-height: 1.6rem;
	overflow-x: hidden;
	text-rendering: optimizelegibility;
}

body,
html {
	height: 100%;
}

a {
	color: get-colour(blue, light);
	text-decoration: none;

	&:visited {
		color: get-colour(blue);
	}

	&:hover {
		color: get-colour(blue, dark);
		text-decoration: underline;
	}

	&:focus {
		@include default-focus-style;
		background-color: get-colour(orange);
	}
}

p, .p {
	@include nice-font($scale: 0, $line-height: 1.6);
	font-feature-settings: 'kern', 'onum', 'liga';
}
