////
/// @group Typography
////

/// A map of named font sizes to their corresponding modular scale factor
/// @prop {Integer} h1 [5] Heading 1
/// @prop {Integer} h2 [4] Heading 2
/// @prop {Integer} h3 [3] Heading 3
/// @prop {Integer} h4 [2] Heading 4
/// @prop {Integer} h5 [1] Heading 5
/// @prop {Integer} h6 [0] Heading 6
/// @prop {Integer} lead [2] Lead
/// @prop {Integer} p [0] Paragraph
/// @since 0.1.0
$named-font-sizes: (
  h1: 5,
  h2: 4,
  h3: 3,
  h4: 2,
  h5: 1,
  h6: 0,
  lead: 2,
  p: 0
);

/// Numeric font sizes
/// @since 0.2.0
$font-sizes: (
  // sass-lint:disable-block space-around-operator
  -2: (
    fs: 12,
    lh: 18,
    mb: $spacing-small,
    mt: $spacing-small
  ),
  -1: (
    fs: 14,
    lh: 20,
    mb: $spacing-medium,
    mt: $spacing-medium
  ),
  // Paragraphs, h6
  0: (
    fs: 16,
    lh: 24,
    mb: $spacing-medium,
    mt: $spacing-medium
  ),
  // h5
  1: (
    fs: 18,
    lh: 24,
    mb: $spacing-medium,
    mt: $spacing-medium
  ),
  // Lead, h4
  2: (
    fs: 20,
    lh: 28,
    mb: $spacing-medium,
    mt: $spacing-medium
  ),
  // h3
  3: (
    fs: 28,
    lh: 32,
    mb: $spacing-medium,
    mt: $spacing-large
  ),
  // h2
  4: (
    fs: 36,
    lh: 40,
    mb: $spacing-medium,
    mt: $spacing-large
  ),
  // h1
  5: (
    fs: 44,
    lh: 56,
    mb: $spacing-medium,
    mt: 0
  ),
  6: (
    fs: 52,
    lh: 60,
    mb: $spacing-large,
    mt: 0
  )
);
