////
/// @group Typography
////

/// Blockquote style
.quote {
  @include font-size($scale: h4);
  font-weight: 300;

  &:before {
    color: $colour-nice-teal;
    content: get-glyph(left-double-quotation-mark);
    display: inline-block;
    font-family: Arial;
    font-size: 6rem;
    font-weight: bold;
    line-height: 0;
    vertical-align: bottom;

    @media print {
      color: $colour-true-black;
    }
  }

  p {
    font-size: inherit;
    padding-top: 0;
  }

  footer,
  cite {
    @include font-size($scale: 0);
    font-style: normal;
  }
}
