////
/// @group Typography
////

@include default-box-sixing;

/// The default focus style used for elements like anchors and buttons
/// @output the default focus styles ie background colour and outline
/// @since 0.1.0
@mixin default-focus-style {
  outline: 3px solid $colour-focus;
}

html {
  font-size: percentage($nice-mobile-root-size / $nice-base-font-size);

  @include mq($from: xs) {
    font-size: percentage($nice-breakpoint-xs-root-size / $nice-base-font-size);
  }

  @include mq($from: sm) {
    font-size: percentage($nice-breakpoint-sm-root-size / $nice-base-font-size);
  }

  @include mq($from: md) {
    font-size: percentage($nice-breakpoint-md-root-size / $nice-base-font-size);
  }

  @include mq($from: lg) {
    font-size: percentage($nice-breakpoint-lg-root-size / $nice-base-font-size);
  }

  @include mq($from: xl) {
    font-size: percentage($nice-breakpoint-xl-root-size / $nice-base-font-size);
  }
}

body {
  background: $colour-page;
  color: $colour-text;
  font-family: font-family(sans);
  font-style: normal;
  line-height: 1.6rem;
  overflow-x: hidden;
  text-rendering: optimizelegibility;
}

a {
  color: $colour-link;
  text-decoration: underline;

  &:visited {
    color: $colour-link-visited;
  }

  &:hover {
    color: $colour-link-hover;
  }

  &:focus {
    @include default-focus-style;
    background-color: $colour-focus;
  }

  // Add icon to external links
  &[rel='external'] {
    &::after {
      color: $colour-link;
      content: get-glyph(punc-space, box-box);
    }

    &:hover::after {
      color: $colour-link-hover;
    }
  }
}

p,
.p {
  @include font($scale: 0, $line-height: 1.6);
  font-feature-settings: 'kern', 'onum', 'liga';
  font-weight: normal;

  &.lead {
    @include font($scale: 1, $line-height: 2);

    // TODO: Drop cap needs some work
    &--drop-cap {
      &:first-letter {
        @include font-size($scale: 11, $line-height: 4);
        float: left;
        font-weight: 300;
        padding: em(0 2px 0 0);
      }
    }
  }
}

code {
  background: $colour-grey-3;
  border: 1px solid $colour-grey-2;
  border-radius: 2px;
  color: $colour-text;
  display: inline-block;
  font-family: font-family(mono);
  margin: em(0 0 2);
  padding: em(0 4);

  pre & {
    background: transparent;
    border: 0;
    margin: 0;
  }
}

/// Mark
mark,
.mark {
  background-color: #fff999;
  padding: em(4);
}

/// Small
small,
.small {
  font-size: 85%;
}
