////
/// @group Typography
////

@include default-box-sixing;

/// The default focus style used for elements like anchors and buttons
/// @output the default focus styles ie background colour and outline
@mixin default-focus-style {
	outline: 3px solid $focus-colour;
}

html {
	@include root-size;
}

body {
	background: $page-colour;
	color: $text-colour;
	font-family: font-family(sans);
	font-style: normal;
	line-height: 1.6rem;
	overflow-x: hidden;
	text-rendering: optimizelegibility;
}

body,
html {
	height: 100%;
}

a {
	color: $link-colour;
	text-decoration: underline;

	&:visited {
		color: $link-visited-colour;
	}

	&:hover {
		color: $link-hover-colour;
	}

	&:focus {
		@include default-focus-style;
		background-color: $focus-colour;
	}

	// Add icon to external links
	&[rel='external'] {
		&::after {
			color: $link-colour;
			content: get-glyph(ne-arrow);
		    display: inline-block;
	        position: relative;
    		top: -.5em;
		}

		&:hover::after {
			color: $link-hover-colour;
		}
	}
}

p,
.p {
	@include nice-font($scale: 0, $line-height: 1.6);
	font-feature-settings: 'kern', 'onum', 'liga';

	&.lead {
		@include nice-font($scale: 1, $line-height: 2);

		&:first-letter {
			@include nice-font-size($scale: 7, $line-height: 4);
			float: left;
			padding: scut-em(0 2px 0 0);
		}
	}
}
