////
/// @group Typography
////

/// A map of named font sizes to their corresponding modular scale factor
/// @prop {Integer} h1 [6] Heading 1
/// @prop {Integer} h2 [5] Heading 2
/// @prop {Integer} h3 [4] Heading 3
/// @prop {Integer} h4 [3] Heading 4
/// @prop {Integer} h5 [2] Heading 5
/// @prop {Integer} h6 [1] Heading 6
/// @prop {Integer} p [0] Paragraph
/// @since 0.1.0
$named-font-sizes: (
  h1: 3,
  h2: 2,
  h3: 1,
  h4: 0,
  h5: 0,
  h6: 0,
  p: 0
);
