////
/// @group Typography
////

h1,
h2,
h3,
h4,
h5,
h6,
.heading {
  clear: both;
  margin: 0;
}

/// Heading, BEM style.
/// Modifiers:
///   - separator: Border below
.heading {
  &--separator {
    border-bottom: 1px solid $colour-border;
  }
}

/// Primary heading. Used for h1 tag but can be used directly
/// for semantic classes for visual styling.
/// @since 0.1.0
@mixin h1 {
  @include font(h1);
  font-weight: 900;
}

/// Secondary heading. Used for h2 tag but can be used directly
/// for semantic classes for visual styling.
/// @since 0.1.0
@mixin h2 {
  @include font(h2);
  font-weight: 900;
}

/// Tertiary heading. Used for h3 tag but can be used directly
/// for semantic classes for visual styling.
/// @since 0.1.0
@mixin h3 {
  @include font(h3);
  font-weight: 900;
}

/// Fourth level heading. Used for h4 tag but can be used directly
/// for semantic classes for visual styling.
/// @since 0.1.0
@mixin h4 {
  @include font(h4);
  font-weight: 900;
}

/// Fifth level heading. Used for h5 tag but can be used directly
/// for semantic classes for visual styling.
/// @since 0.1.0
@mixin h5 {
  @include font(h5);
  font-weight: 900;
}

/// Sixth level heading. Used for h6 tag but can be used directly
/// for semantic classes for visual styling.
/// @since 0.1.0
@mixin h6 {
  @include font(h6);
  font-weight: 900;
}

h1,
.h1,
.heading--primary {
  @include h1;
}

h2,
.h2,
.heading--secondary {
  @include h2;
}

h3,
.h3,
.heading--tertiary {
  @include h3;
}

h4,
.h4,
.heading--quaternary {
  @include h4;
}

h5,
.h5,
.heading--quinary {
  @include h5;
}

h6,
.h6,
.heading--senary {
  @include h6;
}
