////
/// @group Typography
////

/// The font families in use across NICE.
/// @prop {Font stack} sans [Lato, Helvetica Neue, Helvetica, Arial, sans-serif] The sans-serif font stack
/// @prop {Font stack} serif [Georgia, "Times New Roman", Times, serif] The serif font stack
/// @prop {Font stack} mono [Monaco, Menlo, Consolas, "Courier New", monospace] The monospace font stack
/// @see font-family
/// @since 0.1.0
$font-families: (
  sans: '"Lato", "Helvetica Neue", Helvetica, Arial, sans-serif',
  serif: 'Georgia, "Times New Roman", Times, serif',
  mono: 'Monaco, Menlo, Consolas, "Courier New", monospace'
);

/// Cap height
/// @since 0.1.0
$cap-height: .68;

/// A map of named font sizes to their corresponding modular scale factor
/// @prop {Integer} h1 [6] Heading 1
/// @prop {Integer} h2 [5] Heading 2
/// @prop {Integer} h3 [4] Heading 3
/// @prop {Integer} h4 [3] Heading 4
/// @prop {Integer} h5 [2] Heading 5
/// @prop {Integer} h6 [1] Heading 6
/// @prop {Integer} p [0] Paragraph
/// @since 0.1.0
$named-font-sizes: (
  h1: 6,
  h2: 5,
  h3: 4,
  h4: 3,
  h5: 2,
  h6: 1,
  p: 0
);
