////
/// @group Typography
////

/// Gets a font family from the `$nice-font-families` map, given a name
/// @param {String} $stack The stack name e.g. sans, serif or mono
/// @since 0.1.0
@function font-family($stack) {
  $result: map-get($nice-font-families, $stack);
  @return unquote($result);
}

/// Gets a numeric scale
/// @param $scale {Integer|Name} The integer ratio or named font-size.
@function get-scale-integer($scale) {
  @if map-has-key($named-font-sizes, $scale) {
    @return map-get($named-font-sizes, $scale);
  }
  @elseif is-integer($scale) {
    @return $scale;
  }

  @error '`$scale` must either be an integer or exist as a named font size in `$named-font-sizes`';
}


/// Gets a numeric font size (in px) from a given scale multiplier.
/// Usually not used directly - the font-size or font mixin is usually used instead.
/// @param $scale {Integer|Name} The integer ratio or named font-size.
/// @return {Number} Numeric font size (in px)
/// @example
///   $font-size: get-font-size(2)
/// @example
///   $font-size: get-font-size(h1)
/// @since 0.1.0
@function get-font-size($scale) {
  @return $nice-base-font-size * power($nice-type-ratio, get-scale-integer($scale));
}

/// Applies font size and line-height for the given scale.
/// @param $scale {Integer|Name} The integer ratio or named font-size.
/// @param $line-height {Number} The line-height
/// @example
///   .test {
///     @include font-size(-2);
///   }
/// @example
///   .test {
///     @include font-size(h1);
///   }
/// @since 0.1.0
@mixin font-size($scale: 0, $line-height: 2) {
  $font-size: get-font-size($scale);

  font-size: rem($font-size);
  @if $line-height != 0 {
    line-height: #{$line-height}rem;
  }
}

/// Nice font.
/// @param $scale {Integer|Name} The integer ratio or named font-size.
/// @param $line-height {Number} The line-height
/// @since 0.1.0
@mixin font($scale: 0, $line-height: 2) {
  $font-size: get-font-size($scale);

  font-size: rem($font-size);
  @if $line-height != 0 {
    line-height: #{$line-height}rem;
  }

  $margin-default: $nice-base-font-size * .666;
  $margin-bottom: $margin-default * power($nice-type-ratio, get-scale-integer($scale));
  margin-bottom: rem($margin-bottom);
  margin-top: 0;
}
