////
/// @group Typography
////

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6,
.heading {
  clear: both;
  color: $colour-headings;
  margin: 0;
  max-width: 66ch;
}

/// Heading, BEM style.
/// Modifiers:
///   - separator: Border below
.heading {
  &--separator {
    border-bottom: 1px solid $colour-border;
    padding-bottom: rem($spacing-x-small);
  }
}

/// Primary heading. Used for h1 tag but can be used directly
/// for semantic classes for visual styling.
/// @since 0.1.0
@mixin h1 {
  @include font(h1);
  color: $colour-headings;
  font-weight: 900;
}

/// Secondary heading. Used for h2 tag but can be used directly
/// for semantic classes for visual styling.
/// @since 0.1.0
@mixin h2 {
  @include font(h2);
  color: $colour-headings;
  font-weight: 700;
}

/// Tertiary heading. Used for h3 tag but can be used directly
/// for semantic classes for visual styling.
/// @since 0.1.0
@mixin h3 {
  @include font(h3);
  color: $colour-headings;
  font-weight: 700;
}

/// Fourth level heading. Used for h4 tag but can be used directly
/// for semantic classes for visual styling.
/// @since 0.1.0
@mixin h4 {
  @include font(h4);
  color: $colour-headings;
  font-weight: 700;
}

/// Fifth level heading. Used for h5 tag but can be used directly
/// for semantic classes for visual styling.
/// @since 0.1.0
@mixin h5 {
  @include font(h5);
  color: $colour-headings;
  font-weight: 700;
}

/// Sixth level heading. Used for h6 tag but can be used directly
/// for semantic classes for visual styling.
/// @since 0.1.0
@mixin h6 {
  @include font(h6);
  color: $colour-headings;
  font-weight: 700;
}

h1,
.h1 {
  @include h1;
}

h2,
.h2 {
  @include h2;

  // sass-lint:disable no-combinators
  + h3,
  + .h3 {
    margin-top: 0;
  }
}

h3,
.h3 {
  @include h3;
}

h4,
.h4 {
  @include h4;
}

h5,
.h5 {
  @include h5;
}

h6,
.h6 {
  @include h6;
}
