@import '~@nice-digital/design-system/scss/nice-design-system';

main {
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  position: relative;
}

.grid-example-item {
  background: $nds-colour-nice-grey-3;
  border: 0.25em solid $nds-colour-nice-grey-1;
  padding: 0.5em;
  text-align: center;
}
