@use '@nice-digital/design-system/scss/base';
@use '@nice-digital/nds-core/scss/colours';

main {
  background: white;
  box-shadow: 0 0 10px rgb(0 0 0 / 30%);
  position: relative;
}

.grid-example-item {
  background: colours.$nice-grey-3;
  border: 0.25em solid colours.$nice-grey-1;
  padding: 0.5em;
  text-align: center;
}
