////
/// @group components
////

@use '@nice-digital/nds-core/scss/colours';
@use '@nice-digital/nds-core/scss/spacing';
@use '@nice-digital/nds-core/scss/typography';
@use '@nice-digital/nds-core/scss/utils';

.callout {
  background: colours.$callout-background;
  height: auto;
  margin-bottom: utils.rem(spacing.$large);
  position: relative;

  &__image img {
    width: 100%;
  }

  &__body {
    padding: utils.rem(spacing.$medium);

    h2,
    h3,
    h4 {
      font-family: typography.get-font-family(sans);
    }

    > :first-child {
      margin-top: 0;
    }

    > :last-child {
      margin-bottom: 0;
    }

    a {
      text-decoration: none;

      &:hover,
      &:focus {
        text-decoration: underline;
      }

      &:before {
        content: '';
        display: block;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 0;
      }
    }
  }
}
