////
/// @group components
////

@import '~@nice-digital/nds-core/scss/core';

.callout {
  background: $nds-colour-nice-white;
  height: auto;
  margin-bottom: rem($nds-spacing-large);
  position: relative;
  &__image img {
    width: 100%;
  }
  &__body {
    padding: rem($nds-spacing-medium);
    > :first-child {
      margin-top: 0;
    }
    > :last-child {
      margin-bottom: 0;
    }
    a {
      text-decoration: none;
      &:hover,
      &:focus {
        text-decoration: underline;
      }
      &:before {
        content: '';
        display: block;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 0;
      }
    }
  }
}
