////
/// @group components
////

/// A phase banner includes a tag and a label and is designed
/// to designate that a service is in alpha or beta.
/// Usually contains a `.tag .tag--phase`.
///
/// BEM elements:
///   - `__tag`   The tag itself
///   - `__label` The label explaining
///
/// @see .tag
/// @since 0.1.0
.phase-banner {
  border-bottom: 1px solid $colour-border;
  display: table;
  margin: em(0 0 $spacing-small);
  max-width: 100%;
  padding: em($spacing-small 0);
  width: 100%;

  &__tag {
    display: table-cell;
    padding: em(0 $spacing-small 0 0);
    vertical-align: top;
  }

  &__label {
    display: table-cell;
    line-height: 1.3;
    vertical-align: middle;
    width: 100%;
  }
}
