@import 'hacks/hacks';
@import 'hacks/print';

////
/// @group helpers
////

/// Return ems from a pixel value
/// This assumes a base of `$base-font-size`
/// @link https://github.com/alphagov/govuk_elements/blob/master/public/sass/elements/_helpers.scss#L12 em function in GOV.UK's elements
/// @param {Number} $px - The pixel value to convert
/// @param {Number} $base [$base-font-size] - The base pixel value
@function em($px, $base: $base-font-size) {
	@return ($px / $base) + em;
}


/// Hide, but not for screenreaders
/// @link https://github.com/alphagov/govuk_elements/blob/master/public/sass/elements/_helpers.scss#L31
.visually-hidden,
.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}
