////
/// @group helpers
////

.show-print,
.show-print--i,
.show-print-ib {
  @include important(display, none);
}

@media print {
  .show-print {
    @include important(display, block);
  }

  .show-print--i {
    @include important(display, inline);
  }

  .show-print--ib {
    @include important(display, inline-block);
  }

  .hide-print {
    @include important(display, none);
  }
}


// Printing
// -------------------------
// Source: https://github.com/h5bp/html5-boilerplate/blob/master/css/main.css
@if $nice-output-default-print-styles {
  @media print {
    // sass-lint:disable no-qualifying-elements
    // sass-lint:disable no-universal-selectors
    // sass-lint:disable no-combinators

    * {
      @include important(text-shadow, none);
      @include important(color, $colour-true-black); // Black prints faster: h5bp.com/s
      @include important(background, transparent);
      @include important(box-shadow, none);
    }

    body:before {
      // NICE logo
      content: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAfQAAABdCAMAAABkbGQqAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAAEnQAABJ0Ad5mH3gAAAAZdEVYdFNvZnR3YXJlAHBhaW50Lm5ldCA0LjAuMTJDBGvsAAADAFBMVEUAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACzMPSIAAAA/3RSTlMAAQIDBAUGBwgJCgsMDQ4PEBESExQVFhcYGRobHB0eHyAhIiMkJSYnKCkqKywtLi8wMTIzNDU2Nzg5Ojs8PT4/QEFCQ0RFRkdISUpLTE1OT1BRUlNUVVZXWFlaW1xdXl9gYWJjZGVmZ2hpamtsbW5vcHFyc3R1dnd4eXp7fH1+f4CBgoOEhYaHiImKi4yNjo+QkZKTlJWWl5iZmpucnZ6foKGio6SlpqeoqaqrrK2ur7CxsrO0tba3uLm6u7y9vr/AwcLDxMXGx8jJysvMzc7P0NHS09TV1tfY2drb3N3e3+Dh4uPk5ebn6Onq6+zt7u/w8fLz9PX29/j5+vv8/f7rCNk1AAATm0lEQVR42u2cCXwN1x7Hz9x7s5NEJEEW+7M1BKWlpVpFSKoUVV4tXVSL1pLqYm15trSUlGpTS6m2sQtKaBBblUoikkYQTyIklYVscnNz78z835zZ7twlcW/EE/2c3+fjysxZZ74z5/zP/5wzCBEREREREREREREREREREREREREREREREREREREREREREREREREREREREREREVmIcu/34bd7jsYfiVk3f1R7DbkhdU8tv9mBtX11RyuB7ku3C6HzHORzPgeSBZ3tbS0/jwnxlaDQnT3jGxpDu55Irkrn3yEw/l/aK9Ep7WIZOEdmFyafmySfi7FM4LWoGCyk3dqTEsP3Q9XKoAiN/5POyzf9an2LwDVy4FvyuXD53EHz6KpRBdZ5sgvEGKergf7nP+zOuvo7133oEG3xqn0jh02wAbrrD2xVQPfaAH23fRXvNLQJ9+v09ltqe1KdKPSWTA8VZUcBPYZ6Wony0gT3qlL7rC9lBzwG0GHiA0H3PFE10LdsgP61SW7fay+6Sn831R63rPhqGMr9NmQNTvZcbhLtI/71mnZZ9VFNCtgP3axEOQX/qiKx80UoiO38OEDXdnwA6K7VAC2vbwP0j0yy+wFgo/R3Mzhb+9D/DSseIvQRkFTvcejTOaW71Rg6tbManvuQDdBHm0HXyWeqgU55eaGHCl0swF7oi+AD9JhAh81UTaFPMyVIl2VnF1Wy5jyrgV7R3Az6J7qilmbQNc5OXAUp/h/HhFLUlnJ0loaV+LSaj4nkZCrciVuBzufl5KRWZCMkxAW8IhVAURx0cxOAUqtPQ1u1kFRdv4GDwqJVL4cxajWfQuXm5UiJCXAtXFzqGnT2zRpCb6NT5nLuneb4XrgHT95/jzsudrGEvn2mqSYHITPoA96Hs05K6N125rO6C+PVe9MaNEtNLYQbqakd1Bd/x0GO7yaUQ/HRwZir75Xdmg+uM7oL41R86qCf/mb0aVMctlxpbgn9yCW3F//U01mL+cbY+aNULWiTJ2mQVMAT6otnUI/U1FK4lnrB++XkqULiFskbUEh2tg5yszM4C6/RypssFMU8LVV+S3YpFGZnP4dQ/XkZNJTHh2HsQdmb0TMn9LPqGnQoa18j6NQBRR63X1G8FB6T0tjNyBL6hPvUi4NO7YYvFdCnGNjs2Lg82Jii926RmVkKeZmZHdVMERfU4BRo/9h/0cBu0CDkBym/MOn7EwywGtfjdY7M4UM5sOs0tLGEfs0wk86NjS+DPzmzQ7UXbm39bncBRKtMCng2M1MLuZnXfN6ApULi9nAcPZ+QUAapCWc80JP5kH9gVzprmC71DAm34XpCQg8UmA5Fh7cnGthI7gHsCgdH6umb79Q56JDiWhPozyoGaxnNTEtQd3OrGXTU8CY9UIYewpS/wSF1ms/Qem+5y+Whqw/AMX/uyet8FRZj6OzdUA53j3x2GELd9ZVTHRFymGagrUIHwxwuuPFpiOLiQgJukzyS2RdMC5D6dBPocp/uc5tZyg3JVYOLmcFS9b+Af3O/DonwEx7UdctiZ2DoZ4sTglWo7kGH9VQNoO81pr/bqprS7IOO+hhuNxahqy/BGCFkBZhD78deETqQVuWV/hx0GM4fDYUTiDoOYos8C6xDX8cf+WnvuaLRsJo/6PNViD3Ql4p5oFD2MmUCfTycFLr8jpV363HQ2cvuddCQwx3yaPuhB+qN6ceh2oOOFkCcSoDemU2RXL06c+gbZD9AJIfYD3KFO+1WUUL5sVmigVWvxDr0J4TDg9AL9YT8EJWZ9X5/6JqbBj+xk0uCribQY6GfeLwNXsXQB6G6CR1KWtsNXWG6J1G1Cd3hFMwWoI+FVVJQgjn0NGgkBg2FDRz0C+JRAagGws9SssPW+3TRhRAFQ5BqHcCt9ROCKLuge+nLvl4lKAXGm0DP00sOiomwhIOer66r0CHR0V7oipHYGFSb0FGzIn1PHvoUmCfTM4eeY5C83L1hBwc9UTzKB9VIiJSSbbYOXfShfMdBR1RYTClnnVx+zR7ovsp794EJdJ1WKnwkfM1BP47qLHT4xk7o7lpjM+Fcu9DRMDarAYY+RnbTUonm0FOhiRg2jOteTaCHQLSUY9z9oeMMgybHMeyUqqCLrtsOCuieuvzuT0ryNYGeo5c89lNgIbbe6zB0dqR90Hsak/6Kahk6V4fdLTjoQWy62N36VppDj4L3xFTfwmRT6I3pW6Kb1qPsvtCbdhRa46Esnua1Av0V2CTEHqiArkpnJfe1RmNqve+GV+QhbVidhK5Y+1DSyi7o7xlTzrYV+gwfE9WrErrLRfiCg65KFslS31lY78+x1z2EF1CnbWQKnToMgjOEWgT3hb5W9P+7lmNT0Ar05nQe/1io9iut96lwVDAWQ/8+Y2q9D5VGwC/Qt5zrJPQptGJu28ke6CuNCV+yFTpjMFHZuKqgo3b3GDxOf86gn8rdQc8VrMEcOrUDzrbnUPS5iQmbQEfBWnouB6rePEZ/X+i9mMIe2HoMh1jrzTvaBYe49O6raSV0l0Q4yBm/jiNKmSGmbzoVC/FcoY7Di5jRqE5Cb7VY0cKvsgf6HmO6NrZCN9epKqGjN4H3yI2rgJIz57Ww5qI5dOQWC/TVEzdZZiVlDh0NKYN7586Wwc+n7t+nz6Lp8z/uyYWCoCqg+6aD9vjRUu0sJXTU6E+gs5Lugn4aMoWOPOKFkMpwVEehc+Mj44TJy3ZA/8OYrl5NoZ8zi7kwuafs412bvIVvvLfcKC+IH0FFn8Pm0ezUvphJyhm+vR1zLL88JwY70pBPojRKO5KIW9uW66/fu/v7eNW6xKYI/XK+gRg4MHEG9ir9KXogZyf2wZ7FXTfLSy5F8uPu2akvGgtYkyqM5z0iswzaY91aXuJdy2tOBgh9+TvxuXcytnQ1Vn/SSWGErh5/NOdOxqZO/PzEyS/qHnTkr1jtVBBgO/Q0+ZTesbagW1V1q12qCaNUtvs+ubjU/SJYPU1RNah0HYCOQhhFe6uxFTp1RT6le7jQiR4CdLRIgWGZzW96urFXcCLQHzvoDscV3fogW6EnGhP51BT6aYLiUUFHAflGDvn+NkKPM6Z5sobQDeEExSODjgYpRusno2yDvsmYZKyt0Od3MFHjBzJ23FsrVsp5t67hksTAVo9sD5ZPazeEmrR2fETQkXK0rrUN+ufGFCtryw3rHySjo4LuM/pHE+A/3K/X+jn4IFKcTrdbSbSf8tCzz9g3QgPszUQdpJCrramisFdrD3R6VNAdT1lrfquFPloxQ1frvneEnCDTJuhNBWuwdqAHbOTd0szx3vZl4qG8a888LtBRYKG90DsorL/Afwb03nehfO/iT784B+xndkIv3SqrzWMDHYUydkJ3KTJGXPKPgB50j90gbLZ9MRdm2gf9cg2KfvTQ0RI7oSuXyBV5PzToVKMXwp6SF1mqWwwY1EaN6vu5CtC9/LpBkp+fFw/dtVdoZ1OrSNMmJKS5Cnn6OSEHv4ZI1S60j7yF2ik4tK+vErrmPMh7ntoUV7QWSw8NdkROfp4IufrV5wzGvvhSVQEvhgY7VQW9nq9YiJcvvzrO/Zmw3rLNqW4dMqi9gyX0+j3D+gh3Ud3EB1GtQvvKZi7l/XzY07Kx49gxdEALdS1B15ywE/pYRcyfqYcEvc0BA571/VK45n7JLACb1P1zvAMPQ4+R9k9HwojX8MAz+xWFK3TYVdxBn2y3DgaijhAXeJRLrfuef4I04XnYgRztZYQ+AJKNhvy7KR9zv+0O49JvDA+FDfwKGuevKvACuO6ncbOY95GDdehP6/R43g49UaHnLsdjDd4FoNvZnK/SYN57fX0sZQrdY3UZnufegyP50SneMVwB+q3CjEHT3djQKF3tyT8Rk3Lw2oekF2sHOvLLsw+6V7liBUb4w4H+dAkkLJi+OhfO47nzt2jmxLwZUYX39kvQJ67ZBLfXrJnIQT9An5770V6afk3O7RPWEDv7w82lhUd56MlZf0dOX3kbfuPQaqKhPHrmp/v0Fy/L0DcotmaL9MrgryXTV1xntgnQI2Lg+i8d0JBKrhrhG4pgn6P15n0GXOZaIodzsAihhilQ+H347N+hMJgL+YjV7/tk5jYti2cGjdC9UyF75bTFXNROGHpW2t210yOyhLXZ7fMha9X0hZcgnWuX1Buh7McPZx2iDW/XDnQ0kLYLOopSRGXmmg533Qc0rgXo7jnsx3imwz0WfuTenMrKUfgN8U0ACbqiT2em47CRTIHUFzzHlPXH/zfn3ncMHf7Ab47PJXgbL4HIasubbqUgQacu0Y3MHAE3YTFuR52jQYCewszmrrJZuf51XFSTC/C5dejqvbAGf9zhhAZRu+EkbuxVs+CKM1elol689ZADoxTQqRjYjQd66oVw1ZmDDpdwndz/gLlc4WnwA+5IHLfgW/8uZPC7vgaW6zrWDnSLbv0+0NsalJF/7y038a79vi+DE1RNoKedEfUHhj5VWuzm/rehJdoC84WjZhVWoB8QyouR99AdlYrrQvPQDcImuX5wErkWGsQZ0Tdl6A55RWZL/d6HvUKezhkCdPgKH62SFko21xXXl6BrpXqfwU1Sw2y6b7A+358rm80TunNq27VQFA+vCwlegHTKCL0LmykUTe2HNznorLBvMpi9ilcAnBU6cNeEa20cb+mDpbrtqCXoDqftgq7w0vNNfMaqt18aNHzS8vgKfsLVzxJ6WpyZdvYwg64QBz1eHvQuhanOJVppbfFPVqCL++zfxftd+N6HKRT7XOokDz1JvEhDIdULjkpmUbEE3bHgrtnE0XHoJbfXPPQSXL4ql5FahG0w0HKczhtxzxqyLjL46y1zYKFkYVCUl+62ZIFdYloZoc+WF/2GwB7cvIt7H4sYZ7QThskZoK7ybIVHxV1V7UBHgXfsgu6VW80mZOOgp7qtyhfMoI/0FRWIod+BlAuCbsCaJsxfxk5zYlVDttHC64hQZ4iToi8XDDnxqLhE8xZESGHxEnR1ps50J4rqjl6y1HoL0GN4n10lLdbpwm0Il6BnSPX2FVh8DMKWvM2g2OrwBJRLSYsgxAj9B8gUT6dBGjbkxPhZrDu6yjYwZjAK7kgZ6KF+LUFHYYw90NHzhmp4nqVsgH6dqq5PLwOdrKgAVvb8vWcD9O7GDfL/MYFeVKJ5T+6N0UHZkPsVTE1iTXG59F4+JUBfznv59ayxUrOqGqd/AMIrHg0vGE92AcaYdIgR+k+gl0+nm0KnbhgUbt2xQBszaFBb0Llm1B7oaAJTNU+66QNDT4PWakmqBrpcqUWLsAF6SzZVyutnc+hDQd5Te0WGPhG2K/h8Goaugr949Ko4ZOMrVqZ1kStFVQG9e2XOFRpfy0qlHRPAXNYoksrQl8N78mm12Zt+GoKNGfSDPYqItQbdxAlvwzdnJumrBvrxA0P/CtuvwngyQEMlSa+iQ4YN0FU5jLj7vX6hOfQAQ55o43dkZeiehXR/qXTnC2woWg3SrvLtCuhciyCaiqoAf5V16F6Z9KDu+ttczsMhXrzC0Bmd1dcZ0f3mGNBEYb2/DEfESF4B9cygfybur0TUmzMCPLV3PYUjtwDv2oOOAgrsgo5CC6oEuv6BobfT3+ssOE6YXDc0Bi7zVhI1H2yAjj6B33my1DdgDh3tgvU8L5eTYHTDjmeLQ8TBwh7YR6FgukR4bF5ilND7s7cCxaYh2Tp09U5Yi9A8OKZBrjfFTU/t7lW0QJPhPN8TU1/hVkWG7vRfEPav++fR3c2gN6+o7MsfDGZznbkk0fzQ2PGQ/DrUAHpLizDFaN2m78g13m69iWdTpQ+2nKoxdDQTSj5o6t7swwr6Ve5eHoL/jmjk0XEdm2cLdKcEuDDQ27PrNi66OfSm+fBrjwYN+56tLDJCp5axzMHXO7XsMj0bznvyQ9jiyYHuLeZU5imhU99Czpgm7q0X0xU95XH6zRBZntx46rILZxOcwxXsr2eigj19R+fjZsPhCPw12Nej0yY2P1DpnHm2go7s4NFoRBYe35tCR1NZ3WdtPfxn6PRDuJYgA4709mrwTBwkO9kLPVb+5ounZeBc+VsD/ay4XDdaJnhyZ4UlzMgn5SHFxmqgH6/eI0dNKwdGz8A9/gspbrs4S0HPMt8usAU68j4GYNCz9KL1FtBR0BVuUGmAstHKWTZqPHZKcpdf8TU/blYtM/ClHxulhI7Uyw1cNRgoGGR9arWLTvcU/3KXG7g7+HIhsFxJ2o/x4+22lcVVgmudTN2wz9/iItHArFVbQKfCK/iwAv4C/blm08CZz6d97fbIdVi3k1f0SGuhgzbwgTvmGW0Fh6lLBM2z2pV4vbPjhvyoGK7umNFB+QJ7hi+pSnP8TfIZtaKtbDuvENovv093xu34VNqr2Pvr2IORPVD/iKc5kzoCN8aeEe/jgJcjRA9V54jBRoihUYcPLO+ERkS0RY0jpC+ALFiIH0fHcVviYub7o2nLlAM1l9ejYn/7aZpUHGq39NffNgyh2kWMQKhbhAy5zcK9cVunesjJnFco1HzSCnHnzvAVmLTntG1xO2dJF9rty18PbxrP+2+HRbRHaFwEX5jLhC2/7Yvg+zL3ZTPEuLMi+GcvYO7uuF8mi9VUDVobe+i7wXXh0xbYXOrcPzQsLKR3KwdEREREREREREREREREREREREREREREREREREREREREREREREREREREREREREREZJP+B17UmM7VZAxqAAAAAElFTkSuQmCC');
      display: block;
      text-align: center;
      top: 0;
      width: 100%;
    }

    a,
    a:visited {
      text-decoration: underline;
    }

    a[href]:after {
      content: ' (' attr(href) ')';
    }

    abbr[title]:after {
      content: ' (' attr(title) ')';
    }

    // Don't show links for images, or javascript/internal links
    .ir a:after,
    a[href^='javascript:']:after,
    a[href^='#']:after {
      content: '';
    }

    pre,
    blockquote {
      border: 1px solid #999;
      page-break-inside: avoid;
    }

    thead {
      display: table-header-group; // h5bp.com/t
    }

    tr,
    img {
      page-break-inside: avoid;
    }

    img {
      @include important(max-width, 100%);
    }

    @page {
      margin: .5cm;
    }

    p,
    h2,
    h3 {
      orphans: 3;
      widows: 3;
    }

    h2,
    h3 {
      page-break-after: avoid;
    }

    .nice-tophat {
      display: none;
    }
  }
}
