////
/// @group components
////

@use '@nice-digital/nds-core/scss/colours';
@use '@nice-digital/nds-core/scss/media-queries';
@use '@nice-digital/nds-core/scss/spacing';
@use '@nice-digital/nds-core/scss/typography';
@use '@nice-digital/nds-core/scss/utils';

.pagination {
  // padding: 20px;
  // The list of pages
  &__list {
    align-content: center;
    align-items: stretch;
    display: flex;
    flex-flow: row wrap;
    justify-content: left;
    line-height: 1;
    list-style: none;
    margin: 0;
    max-width: unset;
    padding: 0;
    position: relative;
  }

  // Individual page
  &__item {
    display: none;
    line-height: 1;
    margin: 0;
    padding: 0;
    text-align: center;

    &--bookend {
      display: block;
      white-space: nowrap;
    }

    &--count {
      border: 1px solid transparent;
      display: block;
      line-height: 1.15;
      padding: utils.rem(spacing.$medium);
      @include media-queries.mq($from: md) {
        display: none !important;
      }
    }

    &--current {
      background: colours.$enhanced-pagination-current-item-background;
      border: 1px solid transparent;
      font-weight: bold;
    }

    @include media-queries.mq($from: md) {
      display: block;
    }
  }

  &__inactive {
    display: block;
    padding: utils.rem(spacing.$medium);
  }

  // The button/link for the tab itself
  &__link {
    @include typography.link-default;
    background: none;
    border: 1px solid transparent;
    cursor: pointer;
    display: block;
    padding: utils.rem(spacing.$medium);

    &:hover {
      background-color: colours.$enhanced-pagination-link-hover-background;
      border: 1px solid colours.$focus;
      color: colours.$text;
    }

    &:focus {
      // Stop focus ring clipping
      outline-color: colours.$focus;
      outline-offset: utils.rem(-(spacing.$x-small));
      z-index: 1;
    }
  }
}

// Your pagesActions array is missing an object for a page number that is expected to render
.page-object-missing {
  border: 2px solid colours.$error;
}
