////
/// @group components
////

@import '~@nice-digital/nds-core/scss/core';

.pagination {
  // The list of pages
  &__list {
    all: unset;
    align-content: center;
    border: 1px solid red;
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    padding: 1rem;
    position: relative;

    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  // Individual page
  &__page {
    all: unset;
    border: 1px solid green;
    // flex-grow: 1;
    // flex-shrink: 1;
    // flex-basis: 0;
    min-height: 18px;
    min-width: 18px;

    // line-height: 2rem;
    // min-height: 2rem;
    // min-width: 2rem;
    // padding: 1rem;
    text-align: center;
    &__current {
      background: $nds-colour-nice-grey-2;
      display: block;
      font-weight: bold;
    }
  }

  // The button/link for the tab itself
  &__page-link {
    @include nds-link-default;
    border: 1px solid transparent;
    cursor: pointer;
    display: block;

    &:hover {
      border: 1px solid $nds-colour-focus;
      color: $nds-colour-text;
    }

    &:focus {
      // Stop focus ring clipping
      outline-color: $nds-colour-focus;
      outline-offset: rem(-$nds-spacing-x-small);
      z-index: 1;
    }
  }
}

.pagination li:first-of-type {
  background: red;
  padding: 0.5rem;
}

.pagination li:last-of-type {
  background: green;
}
