////
/// @group components
////

// stylelint-disable no-descending-specificity

@use '@nice-digital/nds-core/scss/colours';
@use '@nice-digital/nds-core/scss/spacing';
@use '@nice-digital/nds-core/scss/media-queries';
@use '@nice-digital/nds-core/scss/utils';
@use '@nice-digital/nds-core/scss/visibility';

.horizontal-nav {
  @include visibility.hide-print;
  margin-bottom: utils.rem(spacing.$large);

  &__list {
    align-items: stretch;
    display: flex;
    flex-flow: column wrap;
    list-style: none;
    margin: 0;
    max-width: 100%;

    @include media-queries.mq($from: sm) {
      border-bottom: 3px solid colours.$horizontal-nav-list-border;
      flex-direction: row;
    }
  }

  &__item {
    margin: 0;

    &:first-of-type {
      margin-left: 0;
    }

    @include media-queries.mq($from: sm) {
      align-items: stretch;
      display: flex;
      margin: 0 utils.rem(spacing.$small);
      text-align: center;
    }

    @include media-queries.mq($until: sm) {
      border-top: 1px solid colours.$border;

      &:first-of-type {
        border-top: none;
      }
    }
  }

  &__link {
    display: block;
    line-height: 1em;
    margin-bottom: -1px; // to ensure there's no rendered gap between the bottom border and the border across the page
    padding: utils.rem(spacing.$medium);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

    &[aria-current='true'] {
      background-color: colours.$horizontal-nav-current-link-background;
      border-bottom: 4px solid colours.$horizontal-nav-current-link-border;
      color: colours.$horizontal-nav-current-link;
      font-weight: bold;

      @include media-queries.mq($from: md) {
        background-color: unset;
      }
    }

    @include media-queries.mq($until: sm) {
      &:active {
        background-color: colours.$horizontal-nav-active-link-mobile-background;
        color: colours.$horizontal-nav-active-link-mobile;
      }
    }

    @include media-queries.mq($from: sm) {
      padding: utils.rem(spacing.$medium) utils.rem(spacing.$small);
    }

    @include media-queries.mq($from: md) {
      padding: utils.rem(spacing.$medium);
    }
  }

  @include media-queries.mq($until: sm) {
    border: 1px solid colours.$border;
  }
}
