package.json
public
package-lock.json
.cache
*.md
*.mdx

lib
es
vendor
*.bundle.js
packages/storybook/storybook-static
packages/storybook/stories/**/*.mdx
packages/docs/.netlify/state.json

# Generated icons SCSS
components/icons/scss/nice-icons.scss
