{
	"semi": true,
	"singleQuote": false,
	"trailingComma": "none",
	"useTabs": true,
	"printWidth": 80,
	"endOfLine": "lf",
	"overrides": [
		{
			"files": ["**/*.scss"],
			"options": {
				"useTabs": false,
				"tabWidth": 2,
				"singleQuote": true
			}
		}
	]
}
