{% macro filterPanel(filterPanel) %}
    {% set isExpanded = (filterPanel.isExpanded | default(true)) %}
	<div class="filter-panel">
		<button type="button" class="filter-panel__heading" aria-expanded="{{ isExpanded }}" aria-controls="filter-panel-body">
			{{filterPanel.title}}
		</button>
        <div id="filter-panel-body" class="filter-panel__body" aria-hidden="{{ (not isExpanded) }}">
            {{ filterPanel.body | safe }}
            <button type="submit" class="btn filter-panel__submit">
                Apply filters
            </button>
        </div>
    </div>
{% endmacro %}
