@use '@nice-digital/nds-core/scss/colours';
@use '@nice-digital/nds-core/scss/spacing';
@use '@nice-digital/nds-core/scss/typography';
@use '@nice-digital/nds-core/scss/utils';

.alert {
  @include typography.font-size(p);
  border: 1px solid;
  font-weight: bold;
  margin-bottom: utils.rem(spacing.$medium);
  padding: utils.rem(spacing.$medium);

  p {
    font-weight: bold;
  }

  > :first-child {
    margin-top: 0;
  }

  > :last-child {
    margin-bottom: 0;
  }

  &--info {
    background-color: colours.$info-background;
    border-color: colours.$info;
  }

  &--caution {
    background-color: colours.$caution-background;
    border-color: colours.$caution;
  }

  &--error {
    background-color: colours.$error-background;
    border-color: colours.$error;
  }

  &--success {
    background-color: colours.$success-background;
    border-color: colours.$success;
  }
}
