@import '~@nice-digital/nds-core/scss/core';

/// The width of the default spacing between grid items, in rems
/// @since 0.2.0
$nds-grid-gutter: rem($nds-spacing-medium);

/// The width of the spacing between grid items in a compact grid, in rems
/// @since 0.2.0
$nds-grid-gutter-compact: rem($nds-spacing-small);

/// The width of the spacing between grid items in a loose grid, in rems
/// @since 0.2.0
$nds-grid-gutter-loose: rem($nds-spacing-large);
