////
/// @group grid
////

@import '_grid-helpers';

/// The width of the default spacing between grid items, in rems
/// @since 0.2.0
$nds-grid-gutter: 1rem * ($nds-spacing-medium / $nds-base-font-size) !default;

/// The width of the spacing between grid items in a compact grid, in rems
/// @since 0.2.0
$nds-grid-gutter-compact: 1rem * ($nds-spacing-small / $nds-base-font-size) !default;

/// The width of the spacing between grid items in a loose grid, in rems
/// @since 0.2.0
$nds-grid-gutter-loose: 1rem * ($nds-spacing-large / $nds-base-font-size) !default;

/// Grid item default selector.
/// Use within a `.grid`.
/// Use the value of the data attribute to specify the grid item widths
/// mobile first. E.g "n w:m" where *n* and *m* are the number of columns and *w*
/// is the name of the breakpoint.
///
/// @example html HTML usage
///   <div class="grid">
///     <div data-g="12 xs:6 md:4 lg:3 xl:2">Grid item</div>
///     <div data-g="12 xs:6 md:4 lg:3 xl:2">Grid item</div>
///     <div data-g="12 xs:6 md:4 lg:3 xl:2">Grid item</div>
///     <div data-g="12 xs:6 md:4 lg:3 xl:2">Grid item</div>
///   </div>
[data-g] {
  @include nds-grid-item;
}

/// Grid class for the grid wrapper. Expects direct children to be `[data-g]`
/// grid items. Use modifiers to affect grid behaviour as shown below:
///
/// Modifiers:
///   - `rev` - Reverses the grid direction from natural source order
///   - `gutterless` - Removes spacing and gutters from the grid
///   - `compact` - Uses tighter spacing and gutters
///   - `loose` - Uses looser spacing and gutters
///   - `right` - Right aligned grid items
///   - `center` - Horizontally center aligned grid items
///   - `middle` - Vertically middle aligned grid items
///   - `bottom` - Bottom aligned grid items
///
/// @example html
///   <div class="grid">
///     <div data-g="12 xs:6 md:4 lg:3 xl:2">Grid item</div>
///   </div>
.grid {
  @include nds-grid;

  @include nds-generate-grid-classes;

  &--rev {
    @include nds-grid-reverse;
  }

  &--gutterless {
    @include nds-grid-gutterless;

    > [data-g] {
      @include nds-grid-item-gutterless;
    }
  }

  &--compact {
    @include nds-grid-compact;

    > [data-g] {
      @include nds-grid-item-compact;
    }
  }

  &--loose {
    @include nds-grid-loose;

    > [data-g] {
      @include nds-grid-item-loose;
    }
  }

  &--right {
    @include nds-grid-right;
  }

  &--center {
    @include nds-grid-center;
  }

  &--middle {
    > [data-g] {
      @include nds-grid-item-middle;
    }
  }

  &--bottom {
    > [data-g] {
      @include nds-grid-item-bottom;
    }
  }

  &--debug {
    @include nds-grid-debug;

    [data-g] {
      @include nds-grid-item-debug;
    }
  }

  // Add debug grid to body to show an outline on all grids
  .debug-grid & {
    @include nds-grid-debug;

    [data-g] {
      @include nds-grid-item-debug;
    }
  }

  @if $nds-responsive {
    @each $brkpnt-key, $brkpnt-value in $mq-breakpoints {
      @include mq($from: $brkpnt-key) {
        @include nds-generate-grid-classes($brkpnt-key);
      }
    }
  }
}
