{% extends "../layouts/_sidebar.njk" %}
{% set breadcrumbs = [{ title: "JavaScript", href: "/javascript/" }, { title: title }] %}
{% set title = title + " | JavaScript" %}

{% block sidebar %}

	<nav>
		<ul>
			<li><a href="/javascript/">JavaScript</a></li>
			<li><a href="/javascript/docs">Docs</a></li>
		</ul>
	</nav>

{% endblock %}
