{% extends "./_javascript-layout.njk" %}
{% set title = "JavaScript Documentation" %}

{% block main %}

	{% for item in data %}

		<h2>{{item.name}}</h2>
		<h3>Type: {{item.kind}}</h3>

	{% endfor %}

{% endblock %}
