{% extends "./_javascript-layout.njk" %}
{% set title = "JavaScript" %}

{% block main %}

	<h1>JavaScript</h1>

	<ul>
		<li>Syntax/formatting</li>
		<li>Naming</li>
	</ul>

	<a href="/javascript/docs" class="btn">JS Documentation</a>

{% endblock %}
