@use 'helpers';

////
/// @group Typography
////

/// Primary heading. Used for h1 tag but can be used directly
/// for semantic classes for visual styling.
/// @since 0.1.0
@mixin h1 {
  @include helpers.font(h1);
  clear: both;
  font-family: helpers.get-font-family(serif);
  font-weight: 600;
  max-width: 66ch;
}

/// Secondary heading. Used for h2 tag but can be used directly
/// for semantic classes for visual styling.
/// @since 0.1.0
@mixin h2 {
  @include helpers.font(h2);
  clear: both;
  font-family: helpers.get-font-family(serif);
  font-weight: 600;
  max-width: 66ch;
}

/// Tertiary heading. Used for h3 tag but can be used directly
/// for semantic classes for visual styling.
/// @since 0.1.0
@mixin h3 {
  @include helpers.font(h3);
  clear: both;
  font-family: helpers.get-font-family(serif);
  font-weight: 600;
  max-width: 66ch;
}

/// Fourth level heading. Used for h4 tag but can be used directly
/// for semantic classes for visual styling.
/// @since 0.1.0
@mixin h4 {
  @include helpers.font(h4);
  clear: both;
  font-family: helpers.get-font-family(serif);
  font-weight: 600;
  max-width: 66ch;
}

/// Fifth level heading. Used for h5 tag but can be used directly
/// for semantic classes for visual styling.
/// @since 0.1.0
@mixin h5 {
  @include helpers.font(h5);
  clear: both;
  font-weight: 700;
  max-width: 66ch;
}

/// Sixth level heading. Used for h6 tag but can be used directly
/// for semantic classes for visual styling.
/// @since 0.1.0
@mixin h6 {
  @include helpers.font(h6);
  clear: both;
  font-weight: 700;
  max-width: 66ch;
}
