////
/// @group Typography
////

/// Primary heading. Used for h1 tag but can be used directly
/// for semantic classes for visual styling.
/// @since 0.1.0
@mixin nds-h1 {
  @include nds-font(h1);
  clear: both;
  font-family: $nds-font-family-serif;
  font-weight: 600;
  // Letter spacing and text shadow to mimic 900 weight, see https://github.com/nice-digital/nice-design-system/issues/240
  letter-spacing: 0.5px;
  max-width: 66ch;
  text-shadow: 1.5px 0 0 currentColor;
}

/// Secondary heading. Used for h2 tag but can be used directly
/// for semantic classes for visual styling.
/// @since 0.1.0
@mixin nds-h2 {
  @include nds-font(h2);
  clear: both;
  font-family: $nds-font-family-serif;
  font-weight: 600;
  max-width: 66ch;
}

/// Tertiary heading. Used for h3 tag but can be used directly
/// for semantic classes for visual styling.
/// @since 0.1.0
@mixin nds-h3 {
  @include nds-font(h3);
  clear: both;
  font-family: $nds-font-family-serif;
  font-weight: 600;
  max-width: 66ch;
}

/// Fourth level heading. Used for h4 tag but can be used directly
/// for semantic classes for visual styling.
/// @since 0.1.0
@mixin nds-h4 {
  @include nds-font(h4);
  clear: both;
  font-family: $nds-font-family-serif;
  font-weight: 600;
  max-width: 66ch;
}

/// Fifth level heading. Used for h5 tag but can be used directly
/// for semantic classes for visual styling.
/// @since 0.1.0
@mixin nds-h5 {
  @include nds-font(h5);
  clear: both;
  font-weight: 700;
  max-width: 66ch;
}

/// Sixth level heading. Used for h6 tag but can be used directly
/// for semantic classes for visual styling.
/// @since 0.1.0
@mixin nds-h6 {
  @include nds-font(h6);
  clear: both;
  font-weight: 700;
  max-width: 66ch;
}
