@use '@nice-digital/nds-core/scss/colours';
@use '@nice-digital/nds-core/scss/media-queries';
@use '@nice-digital/nds-core/scss/spacing';
@use '@nice-digital/nds-core/scss/typography';
@use '@nice-digital/nds-core/scss/utils';

////
/// @group components
////

/// In page nav
.in-page-nav {
  margin: utils.rem(0 0 spacing.$large);

  // The 'on this page' title
  &__title {
    @include typography.font-size(h4);
    margin-top: 0;
  }

  // Lists (both root level and sub level)
  &__list {
    list-style: disc;
    margin: 0;
    padding-left: utils.rem(spacing.$medium + spacing.$xx-small);

    .in-page-nav__list {
      list-style: circle;
    }
  }

  a {
    &:visited {
      color: colours.$link;
    }

    &:focus {
      background: none;
    }
  }

  @include media-queries.mq($from: md) {
    margin: 0;

    @supports (position: sticky) {
      display: flex;
      flex-direction: column;
      max-height: 100vh;
      padding-top: utils.rem(spacing.$small);
      position: sticky;
      top: 0;

      &__list {
        flex-grow: 1;
        overflow: auto;
        padding-top: utils.rem(spacing.$x-small);
        scrollbar-width: thin;

        .in-page-nav__list {
          height: 0;
          overflow: hidden;
          padding-top: 0;
        }

        .in-page-nav__list:focus-within {
          height: auto;
          overflow: visible;
        }
      }

      a {
        &[aria-current='location'] {
          font-weight: bold;
        }

        &[aria-current],
        &:focus {
          + .in-page-nav__list {
            height: auto;
            overflow: visible;
          }
        }
      }
    }
  }
}
