@use '@nice-digital/nds-core/scss/colours';
@use '@nice-digital/nds-core/scss/spacing';
@use '@nice-digital/nds-core/scss/typography';
@use '@nice-digital/nds-core/scss/utils';

.form-group {
  border: 0;
  margin-bottom: utils.rem(spacing.$medium);
  padding: 0;

  &--no-legend {
    border: none;
  }

  &__legend {
    @include typography.font-size(p);
    font-weight: bold;
  }

  &__hint {
    color: colours.$form-group-hint;
    margin-top: utils.rem(spacing.$x-small);
  }

  &__error-message {
    color: colours.$error;
    font-weight: bold;
    margin-top: utils.rem(spacing.$x-small);
  }
}
