////
/// @group colors
////

@import 'settings-colours-nice';

/// True black, used for print styles
/// @since 0.2.0
$nds-colour-true-black: #000;

/// True white, used for print styles
/// @since 0.2.0
$nds-colour-true-white: #fff;

// GLOBAL

/// Page background colour. It's off-white in an attempt to make
/// text easier to read for those with 'visual stress', 50% of
/// which happen to be dyslexic (British Dyslexia association), by
/// reducing contrast. See https://ux.stackexchange.com/a/73918/92081
/// for a more detailed explanation.
/// @since 0.2.0
$nds-colour-body: #f4f4f4;

/// Standard, primary body text colour. Off-black, to slightly reduce
/// contrast in an attempt to make text easier to read for those with
/// 'visual stress', see also $nds-colour-body.
/// @since 0.2.0
$nds-colour-text: $nds-colour-nice-black;

/// Subtle text colour
/// @since 0.2.0
$nds-colour-text-subtle: $nds-colour-nice-grey-1;

/// Inverse body text colour for use on dark background
/// @since 0.2.2
$nds-colour-text-inverse: $nds-colour-nice-white;

/// Icons colour
/// @since 0.2.0
$nds-colour-icons: $nds-colour-nice-teal;

// LINKS

/// Link text colour
/// @since 0.2.0
$nds-colour-link: #005ea5;

/// Link hover colour
/// @since 0.2.0
$nds-colour-link-hover: #2e8aca;

/// Link visited colour
/// @since 0.2.0
$nds-colour-link-visited: #4c2c92;

/// Link active colour
/// @since 0.2.0
$nds-colour-link-active: $nds-colour-text;

/// Link focus text colour
/// @since 0.2.11
$nds-colour-link-focus-text: $nds-colour-link;

// INVERSE LINKS

/// Inverse link text colour
/// @since 0.2.9
$nds-colour-link-inverse: $nds-colour-text-inverse;

/// Inverse link hover text colour
/// @since 0.2.9
$nds-colour-link-inverse-hover: $nds-colour-nice-grey-2;

/// Inverse link visited text colour. Same as normal inverse link colour to ensure minimum 4.5:1 colour contrast across various dark backgrounds.
/// @since 0.2.9
$nds-colour-link-inverse-visited: $nds-colour-link-inverse;

/// Inverse link active text colour
/// @since 0.2.9
$nds-colour-link-inverse-active: $nds-colour-link-inverse-hover;

/// Inverse link focus text colour
/// @since 0.2.9
$nds-colour-link-inverse-focus-text: $nds-colour-link-inverse;

// FOCUS

/// Focus colour
/// @since 0.2.0
$nds-colour-focus: #0092a6;

/// Focus colour
/// @since 0.3.1
$nds-colour-focus-inverse: $nds-colour-link-inverse;

// CTA BUTTONS

/// CTA button background colour
/// @since 0.2.2
$nds-colour-btn-cta: $nds-colour-nice-purple;

/// CTA button hover colour
/// @since 0.2.2
$nds-colour-btn-cta-hover: #260b2d;

/// CTA button text colour
/// @since 0.2.2
$nds-colour-btn-cta-text: $nds-colour-nice-white;

// PRIMARY BUTTONS

/// Primary button background colour
/// @since 0.2.2
$nds-colour-btn-primary: $nds-colour-nice-dark-grey;

/// Primary button hover colour
/// @since 0.2.2
$nds-colour-btn-primary-hover: $nds-colour-nice-rich-black;

/// Primary button text colour
/// @since 0.2.2
$nds-colour-btn-primary-text: $nds-colour-nice-white;

// SECONDARY BUTTONS

/// Secondary button background colour
/// @since 0.2.2
$nds-colour-btn-secondary: #666;

/// Secondary button hover colour
/// @since 0.2.2
$nds-colour-btn-secondary-hover: #333;

/// Primary button text colour
/// @since 0.2.2
$nds-colour-btn-secondary-text: $nds-colour-nice-white;

// LIGHT BUTTONS

/// Inverse (light) button background colour
/// @since 0.2.2
$nds-colour-btn-inverse: $nds-colour-nice-white;

/// Inverse (light) button hover colour
/// @since 0.2.2
$nds-colour-btn-inverse-hover: $nds-colour-nice-grey-3;

/// Inverse (light) button text colour
/// @since 0.2.2
$nds-colour-btn-inverse-text: $nds-colour-nice-rich-black;

// BACKGROUNDS/BORDERS

/// Borders, separators, rules, keylines etc.
/// @since 0.2.0
$nds-colour-border: $nds-colour-nice-grey-1;

/// Focused Borders, separators, rules, keylines etc.
/// @since 0.4.2
$nds-colour-border-focus: $nds-colour-nice-blue-3;

// NOTIFICATIONS/BANNERS

/// Agile lifecycle phase banner
/// @since 0.2.2
$nds-colour-agile-phase: #009ae9;

/// Discovery agile lifecycle phase
/// @since 0.2.0
/// @deprecated Use $nds-colour-agile-phase instead
$nds-colour-discovery: #b8008e;

/// Alpha badges and banners
/// @since 0.2.0
/// @deprecated Use $nds-colour-agile-phase instead
$nds-colour-alpha: #d5367f;

/// Beta badges and banners
/// @since 0.2.0
/// @deprecated Use $nds-colour-agile-phase instead
$nds-colour-beta: #f47738;

/// Live badges and banners
/// @since 0.2.0
/// @deprecated Use $nds-colour-agile-phase instead
$nds-colour-live: #70a747;

/// Error text and border colour
/// @since 0.2.0
$nds-colour-error: #ae0e1e;

/// Error background colour
/// @since 0.2.0
$nds-colour-error-background: #eac3c3;

/// Caution text and border colour
/// @since 0.2.0
$nds-colour-caution: #9b722f;

/// Caution background colour
/// @since 0.2.0
$nds-colour-caution-background: #ffdfa4;

/// Info text and border colour
/// @since 0.2.0
$nds-colour-info: #4a7f99;

/// Info background colour
/// @since 0.2.0
$nds-colour-info-background: #e6faff;

/// Success text and border colour
/// @since 0.2.0
$nds-colour-success: #3f8c5e;

/// Success background colour
/// @since 0.2.0
$nds-colour-success-background: #eff7eb;

// GUIDANCE TYPES

/// New guidance colour
/// @since 0.3.0
$nds-colour-guidance-new: $nds-colour-nice-purple;

/// Updated guidance colour
/// @since 0.3.0
$nds-colour-guidance-updated: $nds-colour-nice-blue-3;

/// In consultation guidance colour
/// @since 0.3.0
$nds-colour-guidance-consultation: #557021;

// HERO

/// Background colour for the hero component
/// @since 0.5.2
$nds-colour-hero-background: $nds-colour-nice-teal-2;

/// Colour for the border in the hero component
/// @since 0.5.2
$nds-colour-hero-border: $nds-colour-nice-teal-3;
