/// Baseline, in pixels
/// @since 0.2.0
$nice-baseline: 4 !default;

/// Base font size, in pixels
/// @since 0.2.0
$nice-base-font-size: $nice-baseline * 4 !default;

/// Base line height, in pixels
/// @since 0.2.0
$nice-base-line-height: $nice-baseline * 6 !default;

/// The width of the default spacing between grid items
/// @since 0.2.0
$nice-grid-gutter: 1em * ($spacing-medium / 16) !default;

/// The width of the spacing between grid items in a compact grid
/// @since 0.2.0
$nice-grid-gutter-compact: 1em * ($spacing-small / 16) !default;

/// The width of the spacing between grid items in a loose grid
/// @since 0.2.0
$nice-grid-gutter-loose: 1em * ($spacing-large / 16) !default;

/// Sans-serif font stack
/// @since 0.2.0
$nice-font-family-sans: '"Lato", "Helvetica Neue", Helvetica, Arial, sans-serif' !default;

/// Serif font stack
/// @since 0.2.0
$nice-font-family-serif: 'Georgia, "Times New Roman", Times, serif' !default;

/// Mono font stack
/// @since 0.2.0
$nice-font-family-mono: 'Monaco, Menlo, Consolas, "Courier New", monospace' !default;

/// The font families in use across NICE.
/// @prop {Font stack} sans [Lato, Helvetica Neue, Helvetica, Arial, sans-serif] The sans-serif font stack
/// @prop {Font stack} serif [Georgia, "Times New Roman", Times, serif] The serif font stack
/// @prop {Font stack} mono [Monaco, Menlo, Consolas, "Courier New", monospace] The monospace font stack
/// @see font-family
/// @since 0.2.0
$nice-font-families: (
  sans: $nice-font-family-sans,
  serif: $nice-font-family-serif,
  mono: $nice-font-family-mono
) !default;

/// The modular scale ratio to use for typography
/// @since 0.2.0
$nice-type-ratio: get-ratio(fourth) !default;

/// Extra small break point
/// @since 0.2.0
$nice-breakpoint-xs: 400px !default;

/// 'Small' break point. Roughly portrait tablets.
/// @since 0.2.0
$nice-breakpoint-sm: 600px !default;

/// 'Medium' break point. Roughly landscape tablets.
/// @since 0.2.0
$nice-breakpoint-md: 900px !default;

/// 'Large' break point. Roughly 'dektops'.
/// @since 0.2.0
$nice-breakpoint-lg: 1200px !default;

/// 'Extra large' break point for wide screens
/// @since 0.2.0
$nice-breakpoint-xl: 1600px !default;

/// The minimum root font size, in pixels
/// @since 0.2.13
$nice-root-font-size-min: 15;

/// The maximum root font size, used from breakpoint `$nice-root-font-size-max-breakpoint`
/// @since 0.2.13
$nice-root-font-size-max: 18;

/// The breakpoint at which the root font size starts changing from minimum
/// towards maximum.
/// @since 0.2.13
$nice-root-font-size-min-breakpoint: $nice-breakpoint-md;

/// The breakpoint at which the root font size stops changing and is at its maximum
/// towards maximum.
/// @since 0.2.13
$nice-root-font-size-max-breakpoint: $nice-breakpoint-lg;

/// Whether to output a default set of generic print styles for things
/// like avoiding page breaks after headings etc. If you disabled this,
/// be sure to add your own print styles.
/// @since 0.2.0
$nice-output-default-print-styles: true !default;

/// Whether to output the classes for the UTF-8 glyphs.
/// @since 0.2.0
$nice-output-glyph-classes: false !default;

/// Whether the site is responsive. Setting to false will disable
/// generation of the responsie grid selectors.
/// True by default.
/// @since 0.2.0
$nice-responsive: true !default;

/// The maximum width of the default container, in pixels
/// @since 0.5.2
$nice-container-max-width: 1170;


// SASS MQ OVERRIDES

// A map of breakpoints (name: px) required for SASS MQ
$mq-breakpoints: (
  xs: $nice-breakpoint-xs,
  sm: $nice-breakpoint-sm,
  md: $nice-breakpoint-md,
  lg: $nice-breakpoint-lg,
  xl: $nice-breakpoint-xl
);

// Base font size
$mq-base-font-size: $nice-base-font-size * 1px;

$mq-static-breakpoint: lg;

$mq-responsive: $nice-responsive;
