////
/// @group grid
////

/// The maximum width of the default container, in pixels
/// @since 0.5.2
$nds-container-max-width: 1170;

/// The gutter for the default container
/// @since 1.0.0
$nds-container-gutter: $nds-spacing-large;
