/// Breadcrumbs
/// @group General
.breadcrumb {
	list-style: none;
	padding: 0;
	//margin: 0 0 @baseLineHeight;

	li {
		padding-left: 0;
		//display: inline-block;
		//.ie7-inline-block();

		.divider {
			padding: 0 5px;
			//color: @grayDarker;
		}
	}

	li:before {
		display: none;
	}

	a {
		//color: @grayDark;

		&:hover,
		&:active ,
		&:focus {
			//color: @grayDarker;
			text-decoration: none;
		}
	}

	.active {
		//color: @gray;
	}
}
