.breadcrumbs {
	list-style: none;
	padding: scut-em(12 0);
	margin: 0;

	&__crumb {
		display: inline-block;

		&--active {
			color: get-colour(grey);
		}

		&::before {
			content: ">";
			margin: 0 10px;
			font-weight: bold;
		}

		&:first-of-type::before {
			display: none;
		}
	}
}
