.breadcrumbs {
	list-style: none;
	padding: 0;
	margin: 0;

	&__crumb {
		display: inline-block;

		&.active {
			color: get-colour(grey);
		}

		&::after {
			content: ">";
			margin: 0 10px;
			font-weight: bold;
		}

		&:last-of-type::after {
			display: none;
		}
	}
}
