$button-colour: #11779b;

@mixin coloured-btn($bg-colour, $text-colour, $hover-colour: '', $hover-text-colour: '') {
	background: $bg-colour;
	border-color: $text-colour;
	color: $text-colour;

	&:hover,
	&:focus {
		@if $hover-colour = '' {
			text-decoration: underline;
		} @else {
			background-color: $hover-colour;
		}
		@if $hover-text-colour = '' {
			color: $text-colour;
		} @else {
			color: $hover-text-colour;
		}
	}

	&.disabled,
	&[disabled='disabled'],
	&[disabled] {
		&:hover {
			background-color: $bg-colour;
			cursor: default;
		}
	}
}

.btn {
	@include remove-mz-focus-inner;
	appearance: none;
	background: get-colour(blue);
	border: 0;
	border-radius: 0;
	color: $white;
	cursor: pointer;
	display: inline-block;
	margin: 0 em(4) 0 0;
	padding: em(6) em(10);
	position: relative;
	text-decoration: none;
	vertical-align: top;

	&:hover,
	&:focus,
	&:active {
		background: get-colour(grey, dark);
		color: $white;
		text-decoration: none;
	}

	&:focus {
		@include default-focus-style;
	}

	&:visited {
		color: #fff;
	}

	// Disabled button styles
	&.disabled,
	&[disabled='disabled'],
	&[disabled] {
		opacity: .5;

		&:hover {
			cursor: default;
		}
	}

	&--lg {
		font-size: 135%;
		padding: em(12) em(20);
	}

	&--primary {
		background: get-colour(green, light);
		border: 1px solid $white;
		color: $white;

		&:hover {
			text-decoration: underline;
		}

		&:hover,
		&:focus {
			background: get-colour(green, light);
		}
	}

	&--secondary {
		background: get-colour(grey);
		color: get-colour(grey, dark);

		&:hover {
			background: get-colour(grey);
			color: get-colour(grey, dark);
			text-decoration: underline;
		}

		&:active {
			background: get-colour(grey, dark);
			color: get-colour(grey);
		}
	}
}
