.navbar {
	@extend .nav;
	background-color: get-colour(grey);

	&__inner {
		@extend .container;
		overflow: hidden;
	}

	&__nav {
		.active {
			a {
				&::after {
					background-color: get-colour(orange);
					display: block;
				}
			}
		}
	}
}
