////
/// @group components
////

/// breadcrumbs
/// See https://www.w3.org/WAI/WCAG20/Techniques/working-examples/G65/ex3.html
/// @since 0.1.0
.breadcrumbs {
  @include font-size(0);
  list-style: none;
  margin: em(0 0 $spacing-large);
  padding: 0;

  &__crumb {
    display: inline-block;

    &:before {
      @include nice-icon(angle-right);
      color: $colour-grey-1;
      margin: em(0 10);
    }

    &:first-child:before {
      display: none;
    }

    a {
      color: $colour-text;
    }
  }
}
