////
/// @group components
////

/// Button
/// @since 0.1.0
.btn {
  @include remove-mz-focus-inner;
  @include font-size(0, 2.5);
  appearance: none;
  background: $colour-dark-grey;
  border: 0;
  border-radius: 0;
  color: $colour-nice-white;
  cursor: pointer;
  display: inline-block;
  margin: 0 em(4) 0 0;
  padding: 0 em(12);
  position: relative;
  text-decoration: none;
  vertical-align: top;

  &:hover,
  &:focus,
  &:active {
    background: $colour-rich-black;
    color: $colour-nice-white;
    text-decoration: none;
  }

  &:focus {
    @include default-focus-style;
  }

  &:visited {
    color: $colour-nice-white;
  }

  // Disabled button styles
  &.disabled,
  &[disabled='disabled'],
  &[disabled] {
    opacity: .5;

    &:hover {
      cursor: default;
    }
  }

  // External links have an icon
  &[rel='external'] {
    &::after {
      color: $colour-nice-white;
    }

    &:hover {
      &::after {
        color: $colour-nice-white;
      }
    }
  }

  &--prominent {
    @include font-size(2, 4);
    padding: 0 em(20);
    background: $colour-purple;
    border: 1px solid $colour-nice-white;
    color: $colour-nice-white;

    &:hover {
      text-decoration: underline;
    }
  }

  &--secondary {
    background: #666;
    color: $colour-nice-white;

    &[rel='external'] {
      &:after {
        color: $colour-nice-white;
      }

      &:hover {
        &:after {
          color: $colour-nice-white;
        }
      }
    }

    &:hover,
    &:focus {
      background: #333;
      color: $colour-nice-white;
      text-decoration: underline;
    }

    &:visited {
      color: $colour-nice-white;
    }
  }
}
