////
/// @group components
////

/// Button
/// @since 0.1.0
.btn {
  @include remove-mz-focus-inner;
  @include font-size(0);
  appearance: none;
  background: $colour-btn-primary;
  border: em(1px) solid $colour-btn-primary-text;
  border-radius: 0;
  color: $colour-btn-primary-text;
  cursor: pointer;
  display: inline-block;
  margin: em(0 $spacing-x-small 0 0);
  padding: em($spacing-x-small $spacing-medium);
  position: relative;
  text-decoration: none;
  vertical-align: top;

  &:visited {
    color: $colour-btn-primary-text;
  }

  &:hover {
    background: $colour-btn-primary-hover;
    color: $colour-btn-primary-text;
    text-decoration: none;
  }

  &:focus {
    @include default-focus-style;
    background: $colour-btn-primary;
    border-color: $colour-focus;
  }

  &:active {
    background: $colour-btn-primary-hover;
    text-decoration: none;
    top: em(2px);
  }

  // Disabled button styles
  &--disabled,
  &.disabled,
  &[aria-disabled='true'],
  &[disabled='disabled'],
  &[disabled] {
    opacity: .5;
    pointer-events: none;

    &:hover {
      cursor: default;
    }
  }

  // CTA/prominent button
  &--cta {
    background: $colour-btn-cta;
    border: em(1px) solid $colour-btn-cta-text;
    color: $colour-btn-cta-text;

    &:visited {
      color: $colour-btn-cta-text;
    }

    &:hover {
      background: $colour-btn-cta-hover;
      color: $colour-btn-cta-text;
    }

    &:focus {
      background: $colour-btn-cta-hover;
    }

    &:active {
      background: $colour-btn-cta-hover;
    }
  }

  // Secondary button
  &--secondary {
    background: $colour-btn-secondary;
    border: em(1px) solid $colour-btn-secondary-text;
    color: $colour-btn-secondary-text;

    &:visited {
      color: $colour-btn-secondary-text;
    }

    &:hover {
      background: $colour-btn-secondary-hover;
      color: $colour-btn-secondary-text;
    }

    &:focus {
      background: $colour-btn-secondary-hover;
    }

    &:active {
      background: $colour-btn-secondary-hover;
    }
  }

  // Light button, for use on dark panels/sections
  &--light {
    background: $colour-btn-light;
    border: em(1px) solid $colour-btn-light-text;
    color: $colour-btn-light-text;

    &:visited {
      color: $colour-btn-light-text;
    }

    &:hover {
      background: $colour-btn-light-hover;
      color: $colour-btn-light-text;
    }

    &:focus {
      background: $colour-btn-light-hover;
    }

    &:active {
      background: $colour-btn-light-hover;
    }
  }
}
