////
/// @group components
////

.btn {
  @include remove-mz-focus-inner;
  @include nice-font-size(0, 2.5);
  appearance: none;
  background: get-colour(blue);
  border: 0;
  border-radius: 0;
  color: $white;
  cursor: pointer;
  display: inline-block;
  margin: 0 em(4) 0 0;
  padding: 0 em(12);
  position: relative;
  text-decoration: none;
  vertical-align: top;

  &:hover,
  &:focus,
  &:active {
    background: get-colour(grey);
    color: $white;
    text-decoration: none;
  }

  &:focus {
    @include default-focus-style;
  }

  &:visited {
    color: #fff;
  }

  // Disabled button styles
  &.disabled,
  &[disabled='disabled'],
  &[disabled] {
    opacity: .5;

    &:hover {
      cursor: default;
    }
  }

  // External links have an icon
  &[rel='external'] {
    &::after {
      color: $white;
    }

    &:hover {
      &::after {
        color: $white;
      }
    }
  }

  &--xs {
    @include nice-font-size(-2, 1.5);
    padding: 0 em(12);
  }

  &--sm {
    @include nice-font-size(-1);
    padding: 0 em(12);
  }

  &--lg {
    @include nice-font-size(1, 3);
    padding: 0 em(16);
  }

  &--xl {
    @include nice-font-size(2, 4);
    padding: 0 em(20);
  }

  &--primary {
    background: get-colour(green, light);
    border: 1px solid $white;
    color: $white;

    &:hover {
      text-decoration: underline;
    }

    &:hover,
    &:focus {
      background: get-colour(green, light);
    }
  }

  &--secondary {
    background: get-colour(grey, x-light);
    color: get-colour(grey, dark);

    &[rel='external'] {
      &::after {
        color: get-colour(grey, dark);
      }

      &:hover {
        &::after {
          color: get-colour(grey, dark);
        }
      }
    }

    &:hover,
    &:focus {
      background: get-colour(grey, light);
      color: get-colour(grey, dark);
      text-decoration: underline;
    }

    &:active {
      background: get-colour(grey, light);
      color: get-colour(grey, dark);
    }

    &:visited {
      color: get-colour(grey, dark);
    }
  }
}
