////
/// @group components
////

/// A panel is a container for visually separating content.
/// Often used within a sidebar.
.panel {
  background: $colour-panel;
  padding: 1em;

  &--dark {
    background: get-colour(grey, mid-dark);
    color: $white;
  }
}
