////
/// @group components
////

// See https://www.w3.org/WAI/WCAG20/Techniques/working-examples/G65/ex3.html
.breadcrumbs {
  list-style: none;
  margin: 0;
  padding: scut-em(12 0);

  &__crumb {
    display: inline-block;

    &:before {
      @include nice-icon(angle-right);
      color: get-colour(grey);
      margin: scut-em(0 10);
    }

    &:first-child:before {
      display: none;
    }

    a {
      color: $colour-text;
    }
  }
}
