////
/// @group components
////

/// A panel is a container for visually separating content.
/// Often used within a sidebar.
/// @since 0.1.0
.panel {
  background: $colour-panel;
  padding: 1em;

  &--dark {
    background: $colour-panel-dark;
    color: $colour-nice-white;
  }
}
