////
/// @group components
////

/// Tabbed navigational structure
///
/// Elements:
///   - `__list`    The containing list of tabs
///   - `__tab`     An individual tab
///   - `__tab-btn` A button within a tab
///   - `__content` The tabs content - container for the
///   - `__pane`    An individual tab pane
///
/// @example html
///   <div class="tabs" data-tabs>
///     <ul class="tabs__list" role="tablist">
///       <li class="tabs__tab" role="presentation">
///         <button class="tabs__tab-btn" type="button" role="tab">
///           Tab 1
///         </button>
///       </li>
///       <li class="tabs__tab" role="presentation">
///         <button class="tabs__tab-btn" type="button" role="tab">
///           Tab 2
///         </button>
///       </li>
///     </ul>
///     <div class="tabs__content">
///       <div class="tabs__pane" role="tabpanel">
///         Tab content 1
///       </div>
///       <div class="tabs__pane" role="tabpanel">
///         Tab content 2
///       </div>
///     </div>
///   </div>
.tabs {

  // The list of tabs
  &__list {
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
  }

  //
  &__tab {
    float: left;

    &--active .tabs__tab-btn {
      background: $colour-panel;
    }
  }

  // The button/link for the tab itself
  &__tab-btn {
    background: 0;
    border: 0;
    cursor: pointer;
    display: block;
    line-height: 4rem;
    margin: 0;
    padding: 0 1rem;

    &:hover {
      background: $colour-panel;
    }
  }

  // The tab content containing the tab panels
  &__content {
    background: $colour-panel;
    padding: 1rem;
  }

  // An individual tab content pane
  &__pane {

    // Assume tabs will stack if no JS is available
    .js & {
      display: none;

      &--active {
        display: block;
      }
    }
  }
}
