.navbar {
	background-color: get-colour(grey);

	&__inner {
		@extend .container;
		overflow: hidden;
	}

	&__brand {}
	&__nav {
			list-style: none;
			padding: 0;
			margin: 0;
	}

	&__item {
		display: inline-block;

		a {
			display: block;
			padding: 20px 15px;
		}
		&--active {
			border-bottom: 5px solid get-colour(orange);
		}
	}
}
