.navbar {
	background-color: get-colour(grey);

	@extend .nav;

	&__inner {
		@extend .container;
		overflow: hidden;
	}

	&__brand {}
	&__nav {
		.active {
			a {
				&::after {
					display: block;
					background-color: get-colour(orange);
				}
			}
		}
	}
}
