@use 'sass:math';

@use '@nice-digital/nds-core/scss/colours';
@use '@nice-digital/nds-core/scss/focus';
@use '@nice-digital/nds-core/scss/spacing';
@use '@nice-digital/nds-core/scss/typography';
@use '@nice-digital/nds-core/scss/utils';

// stylelint-disable no-descending-specificity

$checkbox-size: utils.rem(spacing.$large);

.checkbox {
  @include typography.font-size(p);
  display: block;
  margin-bottom: utils.rem(spacing.$medium);
  min-height: $checkbox-size;
  padding-left: $checkbox-size + utils.rem(spacing.$medium);
  position: relative;

  &:last-child,
  &:last-of-type {
    margin-bottom: 0;
  }

  &__label {
    cursor: pointer;
    display: block;
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: utils.rem(spacing.$x-small);
    padding: utils.rem(spacing.$x-small) 0;

    // outside square
    &:before {
      background: transparent;
      border: utils.rem(spacing.$xx-small) solid colours.$checkbox;
      box-sizing: border-box;
      content: '';
      height: $checkbox-size;
      left: 0;
      position: absolute;
      top: 0;
      width: $checkbox-size;
    }

    // inside check / tick
    &:after {
      background: transparent;
      border: solid;
      border-top-color: transparent; // IE11 bug
      border-width: 0 0 utils.rem(spacing.$x-small) utils.rem(spacing.$x-small);
      content: '';
      height: math.div(
        $checkbox-size,
        3
      ); // this is the short end of the checkmark;
      left: utils.rem(spacing.$small);
      opacity: 0;
      position: absolute;
      top: utils.rem(spacing.$small);
      transform: rotate(-45deg);
      width: utils.rem(spacing.$medium);
    }
  }

  &__input {
    cursor: pointer;
    height: $checkbox-size;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: $checkbox-size;
    z-index: 1;

    &:focus + .checkbox__label:before {
      @include focus.default-focus-style;
    }

    &:checked + .checkbox__label:after {
      opacity: 1;
    }

    &:disabled {
      cursor: default;

      & + .checkbox__label {
        cursor: default;
        opacity: 0.5;
      }
    }
  }

  &__hint {
    color: colours.$checkbox-hint;
    margin-bottom: utils.rem(spacing.$small);
    margin-top: utils.rem(spacing.$x-small);
  }

  &__error-message {
    color: colours.$error;
    font-weight: bold;
  }

  &--error .checkbox__label {
    color: colours.$error;

    &:before {
      @include typography.default-error-style;
    }

    &:after {
      color: colours.$checkbox;
    }
  }

  &--inline {
    display: inline-block;
    margin-right: utils.rem(spacing.$medium);
    vertical-align: top;

    input {
      margin-right: utils.rem(spacing.$x-small);
    }
  }
}
