@use 'sass:math';

@use '@nice-digital/nds-core/scss/colours';
@use '@nice-digital/nds-core/scss/focus';
@use '@nice-digital/nds-core/scss/spacing';
@use '@nice-digital/nds-core/scss/typography';
@use '@nice-digital/nds-core/scss/utils';

// stylelint-disable no-descending-specificity
.fieldset {
  margin-bottom: utils.rem(spacing.$medium);
  padding: utils.rem(spacing.$small);
  border: none;

  &__legend {
    @include typography.font-size(p);
    font-weight: bold;
    margin-left: utils.rem(-(spacing.$x-small));
    padding-left: utils.rem(spacing.$x-small);
    padding-right: utils.rem(spacing.$x-small);
  }

  &__hint {
    color: colours.$form-group-hint;
    margin-top: utils.rem(spacing.$x-small);
  }

  &__error-message {
    color: colours.$error;
    font-weight: bold;
    margin-top: utils.rem(spacing.$x-small);
  }
}
// ----------------------
// Checkbox group styling
// ----------------------
$checkbox-size: utils.rem(spacing.$large);

.checkbox-group {
  &__item {
    font-size: 1rem;
    line-height: 1.6;
    display: block;
    margin-bottom: 1rem;
    min-height: 2rem 36px;
    padding-left: 3rem;
    position: relative;

    &:last-child,
    &:last-of-type {
      margin-bottom: 0;
    }

    &__input {
      position: absolute;
      top: 0;
      left: 0;
      width: $checkbox-size;
      height: $checkbox-size;
      margin: 0;
      cursor: pointer;
      opacity: 0;
      z-index: 2;

      &:focus + .checkbox-group__item__label:before {
        @include focus.default-focus-style;
      }

      &:checked + .checkbox-group__item__label:after {
        opacity: 1;
      }

      &:disabled + .checkbox-group__item__label {
        opacity: 0.5;
        cursor: default;
      }
    }

    &__label {
      cursor: pointer;
      display: block;
      font-size: 1rem;
      font-weight: bold;
      margin-bottom: utils.rem(spacing.$x-small);
      padding: utils.rem(spacing.$x-small) 0;

      // outside square
      &:before {
        background: transparent;
        border: utils.rem(spacing.$xx-small) solid colours.$checkbox;
        box-sizing: border-box;
        content: '';
        height: $checkbox-size;
        left: 0;
        position: absolute;
        top: 0;
        width: $checkbox-size;
        z-index: 1;
      }

      // inside check / tick
      &:after {
        background: transparent;
        border: solid;
        border-top-color: transparent; // IE11 bug
        border-width: 0 0 utils.rem(spacing.$x-small)
          utils.rem(spacing.$x-small);
        content: '';
        height: math.div(
          $checkbox-size,
          3
        ); // this is the short end of the checkmark;
        left: utils.rem(spacing.$small);
        opacity: 0;
        position: absolute;
        top: utils.rem(spacing.$small);
        transform: rotate(-45deg);
        width: utils.rem(spacing.$medium);
        z-index: 1;
      }
    }

    &__hint {
      color: colours.$checkbox-hint;
      margin-bottom: utils.rem(spacing.$small);
      margin-top: utils.rem(spacing.$x-small);
    }

    &__error-message {
      color: colours.$error;
      font-weight: bold;
    }
  }
  &--inline {
    display: flex;
    flex-wrap: wrap;
    gap: utils.rem(spacing.$medium);
    margin-right: utils.rem(spacing.$medium);

    vertical-align: top;
    .checkbox-group__item {
      display: inline-flex;
      align-items: center;
      margin-bottom: utils.rem(spacing.$medium);

      // Optional: hide per-item hint in inline mode
      &__hint {
        display: none;
      }
      input {
        margin-right: utils.rem(spacing.$x-small);
      }
    }
  }
  &--error {
    // Red for legend and error message
    .fieldset__legend,
    .fieldset__error-message {
      color: colours.$error;
    }

    .checkbox-group__item__label {
      color: colours.$error;
    }

    .checkbox-group__item__label::before {
      @include typography.default-error-style; // gives red border
    }

    .checkbox-group__item__label::after {
      border-color: colours.$checkbox;
    }

    // Checked boxes: keep normal border and tick colour
    .checkbox-group__item__input:checked
      + .checkbox-group__item__label::before {
      border-color: colours.$checkbox;
    }

    // Keep focus accessible
    .checkbox-group__item__input:focus + .checkbox-group__item__label::before {
      @include focus.default-focus-style;
    }
  }
}
