@use '@nice-digital/nds-core/scss/colours';
@use '@nice-digital/nds-core/scss/spacing';
@use '@nice-digital/nds-core/scss/utils';

.block {
  background: colours.$btn-primary;
  display: inline-block;
  height: 20px;
  min-width: 1px;
}

.xx-small {
  width: utils.rem(spacing.$xx-small);
}
.x-small {
  width: utils.rem(spacing.$x-small);
}
.small {
  width: utils.rem(spacing.$small);
}
.medium {
  width: utils.rem(spacing.$medium);
}
.large {
  width: utils.rem(spacing.$large);
}
.x-large {
  width: utils.rem(spacing.$x-large);
}
.xx-large {
  width: utils.rem(spacing.$xx-large);
}
