{% extends "layouts/_layout.njk" %}
{% set title = "Action banner" %}
{% from "action-banner/action-banner.njk" import actionBanner %}

{% block body %}

	<div class="container">
		<h1>Action banner</h1>

		<h2>Normal</h2>

		{{ actionBanner({
			title: "This is a title",
			body: "This is some body copy",
			cta: {
				text: "Link text",
				href: "/button-href",
				modifier: "inverse"
			}
		}) }}

		<h2>Subtle</h2>

		{{ actionBanner({
			modifier: "subtle",
			title: "This is a title",
			body: "This is some body copy",
			cta: {
				text: "Button text",
				modifier: "secondary"
			}
		}) }}

	</div>
{% endblock %}
