{% extends "layouts/_layout.njk" %}
{% set title = "Buttons" %}

{% block body %}

	<div class="container">

		<h1>Buttons</h1>

		<h2>Button types</h2>

		<p>
			<a href="#" class="btn btn--cta">CTA button</a>
			<a href="#" class="btn">Primary button</a>
			<a href="#" class="btn btn--secondary">Secondary button</a>
			<a href="#" class="btn btn--inverse">Inverse button</a>
		</p>

		<h2>Buttons on inverse background</h2>

		<div class="panel panel--inverse">
			<p>
				<a href="#" class="btn btn--cta">CTA button</a>
				<a href="#" class="btn">Primary button</a>
				<a href="#" class="btn btn--secondary">Secondary button</a>
				<a href="#" class="btn btn--inverse">Inverse button</a>
			</p>
		</div>

	</div>

{% endblock %}
