{% extends "layouts/_layout.njk" %}
{% set title = "Left nav" %}
{% from "left-nav/left-nav.njk" import leftNav %}

{% block body %}

	<div class="container">
		<h1>Left nav</h1>

		{% set leftNavContent = {
			root: {
				title: "Root title",
				href: "/root-href"
			},
			links: [
				{
					title: "Link 1",
					href: "/link-1"
				},
				{
					title: "Link 2 (active)",
					href: "/link-2",
					active: true
				},
				{
					title: "Link 3",
					href: "/link-3"
				},
				{
					title: "Link 4",
					href: "/link-4"
				}
			]
		} %}

		<div class="grid">
			<div data-g="12 md:3">{{ leftNav(leftNavContent) }}</div>
		</div>

	</div>

{% endblock %}
