{% extends "layouts/_layout.njk" %}
{% set title = "Lists" %}

{% block body %}

	<div class="container">

		<h1>Lists</h1>

		<h2>Standard list</h2>

		<ul>
			<li>List item</li>
			<li>List item</li>
		</ul>

		<h2>Nested list</h2>

		<ul>
			<li>Top level
				<ul>
					<li>Second level
						<ul>
							<li>Third level</li>
							<li>Third level</li>
						</ul>
					</li>
					<li>Second level</li>
				</ul>
			</li>
			<li>Top level</li>
		</ul>

		<h2>Ordered list</h2>

		<ol>
			<li>List item</li>
			<li>List item</li>
		</ol>

		<h2>Nested ordered list</h2>

		<ol>
			<li>Top level
				<ol>
					<li>Second level</li>
					<li>Second level</li>
				</ol>
			</li>
			<li>Top level</li>
		</ol>

		<h2>Loose list</h2>

		<ul class="list list--loose">
			<li>List item</li>
			<li>List item</li>
		</ul>

		<h2>Unstyled list</h2>

		<ul class="list list--unstyled">
			<li>List item</li>
			<li>List item</li>
		</ul>

	</div>

{% endblock %}
