{% extends "layouts/_layout.njk" %}
{% set title = "Alpha/beta phase banner" %}

{% block body %}

	<div class="container">

		<h1>Phase banner</h1>

		<p class="phase-banner">
			<span class="phase-banner__tag">
				<strong class="tag tag--impact tag--alpha">ALPHA</strong>
			</span>
			<span class="phase-banner__label">
				This site is in development. This means there it isn't feature complete and there will be issues. Find any? Please, <a href="#">let us know</a>!
			</span>
		</p>

	</div>

{% endblock %}
