{% extends "layouts/_layout.njk" %}
{% set title = "Quote" %}

{% block body %}

	<div class="container">

		<h1>Quote</h1>

		<blockquote class="quote">
			<p>
				Be excellent to each other.
				<br/>
				And, party on dudes!
			</p>
			<footer>
				<cite>
					<strong>Abraham Lincoln</strong>
				</cite>
			</footer>
		</blockquote>

	</div>

{% endblock %}
