{% extends "layouts/_layout.njk" %}
{% set title = "Quote" %}

{% block body %}

	<div class="container">

		<h1>Quote</h1>

		<blockquote class="quote">
			<p>
				We do the right work in the right way at NICE. We mix content, dev, design and research at the start to solve user problems. We produce things quickly, get data and refine.
			</p>
			<footer>
				<cite>
					<strong>Dafydd - Content Team</strong>
				</cite>
			</footer>
		</blockquote>

	</div>

{% endblock %}
