{% extends "layouts/_layout.njk" %}
{% set title = "Stacked nav" %}
{% from "stacked-nav/stacked-nav.njk" import stackedNav %}

{% block body %}

	<div class="container">
		<h1>Stacked nav</h1>

		<h2>Current link in list</h2>

		{% set stackedNavContent = {
			root: {
				title: "Root title",
				href: "/root-href"
			},
			links: [
				{
					title: "Link 1",
					href: "/link-1"
				},
				{
					title: "Link 2 (current)",
					href: "/link-2",
					current: true
				},
				{
					title: "Link 3",
					href: "/link-3"
				},
				{
					title: "Link 4",
					href: "/link-4"
				}
			]
		} %}

		<div class="grid">
			<div data-g="12 md:3">{{ stackedNav(stackedNavContent) }}</div>
		</div>

		<h2>Root current</h2>

		{% set stackedNavContent2 = {
			root: {
				title: "Root title (current)",
				href: "/root-href",
				current: true
			},
			links: [
				{
					title: "Link 1",
					href: "/link-1"
				},
				{
					title: "Link 2",
					href: "/link-2"
				},
				{
					title: "Link 3",
					href: "/link-3"
				},
				{
					title: "Link 4",
					href: "/link-4"
				}
			]
		} %}

		<div class="grid">
			<div data-g="12 md:3">{{ stackedNav(stackedNavContent2) }}</div>
		</div>


	</div>

{% endblock %}
