{% extends "layouts/_layout.njk" %}
{% set title = "Tabs component" %}
{% from "tabs/tabs.njk" import tabs %}

{% block body %}

	<div class="container">

		<h1>Tabs</h1>

		{% set tabsContent = [
			{
				title: "Tab one",
				content: "<h2>Tab one content</h2><p>This is the content for tab 1<a href=\"#\">A link</a></p>"
			},
			{
				title: "Tab two",
				content: "<h2>Tab two content</h2><p>This is the content for tab 2</p>"
			},
			{
				title: "Tab three",
				content: "<h2>Tab three content</h2><p>This is the content for tab 3</p>"
			}] %}

		{{ tabs(tabsContent) }}

	</div>

{% endblock %}
