{% extends "layouts/_layout.njk" %}
{% set title = "Tag" %}

{% block body %}

	<div class="container">

		<h1>Tag</h1>

		<h2>Types of tag</h2>

		<ul>
			<li>Tag <span class="tag">Tag</span></li>
			<li>New <span class="tag tag--new">New</span></li>
			<li>Updated <span class="tag tag--updated">Updated</span></li>
			<li>Alpha <span class="tag tag--alpha">Alpha</span></li>
			<li>Beta <span class="tag tag--beta">Beta</span></li>
			<li>Live <span class="tag tag--live">Live</span></li>
			<li>Impact <span class="tag tag--impact">Impact</span></li>
		</ul>

	</div>

{% endblock %}
