@use '@nice-digital/nds-core/scss/colours';
@use '@nice-digital/nds-core/scss/focus';
@use '@nice-digital/nds-core/scss/spacing';
@use '@nice-digital/nds-core/scss/typography';
@use '@nice-digital/nds-core/scss/utils';

.accordion {
  &__details {
    background: none;
    border: 1px solid colours.$accordion-details-border;
    margin: utils.rem(spacing.$medium 0);
    padding: utils.rem(spacing.$medium);

    > :last-child {
      margin-bottom: 0;
    }
  }

  &__summary {
    cursor: pointer;
    display: flex;
    flex-direction: column-reverse;
    list-style: none;

    &::marker,
    &::-webkit-details-marker {
      display: none;
    }

    &:hover,
    &:hover * {
      color: #006bbd; // Specific to BNF accordions for now - Nick may move this into the design system later
    }

    // Could be h3/h4 here so use * to cover all bases
    > * {
      font-family: typography.get-font-family(sans);
    }

    > :last-child {
      margin: 0;
    }

    [open] > & {
      margin-bottom: utils.rem(spacing.$medium);
    }
  }

  &__toggleLabel {
    margin-top: utils.rem(spacing.$x-small);
  }
}

// .warningTheme {
//   background: colours.$caution-background;
//   border: 1px solid colours.$caution;

//   .toggleLabel {
//     color: colours.$accordion-toggle-warning-label;
//   }

//   .summary:hover,
//   .summary:hover * {
//     color: colours.$accordion-summary-hover;
//   }
// }
