@use '@nice-digital/nds-core/scss/colours';
@use '@nice-digital/nds-core/scss/spacing';
@use '@nice-digital/nds-core/scss/typography';
@use '@nice-digital/nds-core/scss/utils';

.toggle {
  &__label {
    // @include typography.link-default;
    @include typography.font-size(0);
    align-items: center;
    color: colours.$accrordion-label-text;
    display: flex;
    flex-wrap: nowrap;
    text-decoration: underline;
    :hover {
      color: colours.$accrordion-label-text-hover;
      text-decoration-thickness: 0;
    }
  }

  &__icon {
    display: block;
    margin-right: utils.rem(spacing.$small);
    transition: all 0.25s ease;

    &--open {
      transform: rotate(-180deg);
    }
  }
}
