////
/// @group colors
////

@use 'nice-brand';

/// True black, used for print styles
/// @since 0.2.0
$true-black: #000;

/// True white, used for print styles
/// @since 0.2.0
$true-white: #fff;

// GLOBAL

/// Page background colour. It's off-white in an attempt to make
/// text easier to read for those with 'visual stress', 50% of
/// which happen to be dyslexic (British Dyslexia association), by
/// reducing contrast. See https://ux.stackexchange.com/a/73918/92081
/// for a more detailed explanation.
/// @since 0.2.0
$body: #f4f4f4;

/// Standard, primary body text colour. Off-black, to slightly reduce
/// contrast in an attempt to make text easier to read for those with
/// 'visual stress', see also $body.
/// @since 0.2.0
$text: nice-brand.$nice-black;

/// Subtle text colour
/// @since 0.2.0
$text-subtle: nice-brand.$nice-grey-1;

/// Inverse body text colour for use on dark background
/// @since 0.2.2
$text-inverse: nice-brand.$nice-white;

/// Icons colour
/// @since 0.2.0
$icons: nice-brand.$nice-teal;

// LINKS

/// Link text colour
/// @since 0.2.0
$link: #005ea5;

/// Link hover colour
/// @since 0.2.0
$link-hover: #003761;

/// Link visited colour
/// @since 0.2.0
$link-visited: #4c2c92;

/// Link active colour
/// @since 0.2.0
$link-active: $text;

/// Link focus text colour
/// @since 0.2.11
$link-focus-text: $link;

// INVERSE LINKS

/// Inverse link text colour
/// @since 0.2.9
$link-inverse: $text-inverse;

/// Inverse link hover text colour
/// @since 0.2.9
$link-inverse-hover: nice-brand.$nice-grey-2;

/// Inverse link visited text colour. Same as normal inverse link colour to ensure minimum 4.5:1 colour contrast across various dark backgrounds.
/// @since 0.2.9
$link-inverse-visited: $link-inverse;

/// Inverse link active text colour
/// @since 0.2.9
$link-inverse-active: $link-inverse-hover;

/// Inverse link focus text colour
/// @since 0.2.9
$link-inverse-focus-text: $link-inverse;

// FOCUS

/// Focus colour
/// @since 0.2.0
$focus: #0092a6;

/// Focus colour
/// @since 0.3.1
$focus-inverse: $link-inverse;

// CTA BUTTONS

/// CTA button background colour
/// @since 0.2.2
$btn-cta: nice-brand.$nice-purple;

/// CTA button hover colour
/// @since 0.2.2
$btn-cta-hover: #260b2d;

/// CTA button text colour
/// @since 0.2.2
$btn-cta-text: nice-brand.$nice-white;

// PRIMARY BUTTONS

/// Primary button background colour
/// @since 0.2.2
$btn-primary: nice-brand.$nice-dark-grey;

/// Primary button hover colour
/// @since 0.2.2
$btn-primary-hover: nice-brand.$nice-rich-black;

/// Primary button text colour
/// @since 0.2.2
$btn-primary-text: nice-brand.$nice-white;

// SECONDARY BUTTONS

/// Secondary button background colour
/// @since 0.2.2
$btn-secondary: #666;

/// Secondary button hover colour
/// @since 0.2.2
$btn-secondary-hover: #333;

/// Primary button text colour
/// @since 0.2.2
$btn-secondary-text: nice-brand.$nice-white;

// LIGHT BUTTONS

/// Inverse (light) button background colour
/// @since 0.2.2
$btn-inverse: nice-brand.$nice-white;

/// Inverse (light) button hover colour
/// @since 0.2.2
$btn-inverse-hover: nice-brand.$nice-grey-3;

/// Inverse (light) button text colour
/// @since 0.2.2
$btn-inverse-text: nice-brand.$nice-rich-black;

// BACKGROUNDS/BORDERS

/// Borders, separators, rules, keylines etc.
/// @since 0.2.0
$border: nice-brand.$nice-grey-1;

/// Focused Borders, separators, rules, keylines etc.
/// @since 0.4.2
$border-focus: nice-brand.$nice-blue-3;

// NOTIFICATIONS/BANNERS

/// Agile lifecycle phase banner
/// @since 0.2.2
$agile-phase: #009ae9;

/// Discovery agile lifecycle phase
/// @since 0.2.0
/// @deprecated Use $agile-phase instead
$discovery: #b8008e;

/// Alpha badges and banners
/// @since 0.2.0
/// @deprecated Use $agile-phase instead
$alpha: #d5367f;

/// Beta badges and banners
/// @since 0.2.0
/// @deprecated Use $agile-phase instead
$beta: #bd5826;

/// Live badges and banners
/// @since 0.2.0
/// @deprecated Use $agile-phase instead
$live: #578137;

/// Error text and border colour
/// @since 1.7.0
$error: #b50f23;

/// Error background colour
/// @since 1.7.0
$error-background: #f9eced;

/// Caution text and border colour
/// @since 1.7.0
$caution: #dc8a07;

/// Caution background colour
/// @since 1.7.0
$caution-background: #fbf7f1;

/// Info text and border colour
/// @since 1.7.0
$info: #3479d0;

/// Info background colour
/// @since 1.7.0
$info-background: #eff4fc;

/// Success text and border colour
/// @since 1.7.0
$success: #68c103;

/// Success background colour
/// @since 1.7.0
$success-background: #f3faeb;

/// <mark> tag highlighter colour
/// @since 1.2.4
$mark: #fff999;

// GUIDANCE TYPES

/// New guidance colour
/// @since 0.3.0
$guidance-new: nice-brand.$nice-purple;

/// Updated guidance colour
/// @since 0.3.0
$guidance-updated: nice-brand.$nice-blue-3;

/// In consultation guidance colour
/// @since 0.3.0
$guidance-consultation: #557021;

// HERO

/// Background colour for the hero component
/// @since 0.5.2
$hero-background: nice-brand.$nice-teal-2;

/// Colour for the border in the hero component
/// @since 0.5.2
$hero-border: nice-brand.$nice-teal-3;
