// stylelint-disable no-descending-specificity

////
/// @group components
////

@use '@nice-digital/nds-core/scss/colours';
@use '@nice-digital/nds-core/scss/spacing';
@use '@nice-digital/nds-core/scss/utils';

$colour-table-heading: colours.$true-white;
$colour-table-row-odd: colours.$body;
$colour-table-row-even: colours.$nice-grey-3;

table,
.table {
  border: 0;
  border-collapse: collapse;
  display: block; // Allows table to scroll horizontally in tandem with overflow-x
  margin: utils.rem(0 0 spacing.$medium);
  max-width: none;
  overflow-x: auto;
  overflow-y: hidden;
  width: 100% !important;

  thead,
  tbody,
  tr {
    // No need to have directional borders because of border-collapse
    border: 1px solid colours.$border;
  }

  thead tr,
  // Cater for tables without a thead/tbody - assume the first row is the heading row
  > tr:first-child {
    background: $colour-table-heading;
  }

  tr {
    background: $colour-table-row-odd;

    &:nth-child(even) {
      // Zebra stripes
      background-color: $colour-table-row-even;
    }
  }

  td,
  th {
    // Only left/right border as vertical borders are handled by tr
    border-left: 1px solid colours.$border;
    border-right: 1px solid colours.$border;
    padding: utils.rem(spacing.$small);
    text-align: left;
    vertical-align: top;

    > :first-child {
      margin-top: 0;
    }

    > :last-child {
      margin-bottom: 0;
    }
  }

  th {
    background: $colour-table-heading;
    vertical-align: bottom;
  }

  tbody th {
    vertical-align: top;
  }
}
