////
/// @group Typography
////

/// Default link style for use on a normal (light) background
/// @since 0.3.1
@mixin nds-link-default {
  color: $nds-colour-link;
  -webkit-tap-highlight-color: rgba($nds-colour-focus, 0.333);
  text-decoration: underline;
  text-decoration-skip-ink: auto;

  &:visited {
    color: $nds-colour-link-visited;
  }

  &:hover {
    color: $nds-colour-link-hover;
  }

  &:focus {
    @include nds-default-focus-style;
    color: $nds-colour-link-focus-text;
  }

  &:active {
    color: $nds-colour-link-active;
  }
}
/// Default links for use on a light background
/// @require {mixin} link-default
/// @since 0.5.0
@mixin nds-links-default {
  a {
    @include nds-link-default;
  }
}

/// Inverse link style for use on an inverse (dark) background
/// @since 0.3.1
@mixin nds-link-inverse {
  color: $nds-colour-link-inverse;
  -webkit-tap-highlight-color: rgba($nds-colour-focus, 0.333);
  text-decoration: underline;
  text-decoration-skip-ink: auto;

  &:visited {
    color: $nds-colour-link-inverse-visited;
  }

  &:hover {
    color: $nds-colour-link-inverse-hover;
  }

  &:focus {
    @include nds-inverse-focus-style;
    color: $nds-colour-link-inverse-focus-text;
  }

  &:active {
    color: $nds-colour-link-inverse-active;
  }
}

/// Inverse links for use on a dark background
/// @require {mixin} link-inverse
/// @since 0.3.1
@mixin nds-links-inverse {
  a {
    @include nds-link-inverse;
  }
}
