////
/// @group Typography
////

/// Default link style for use on a normal (light) background
/// @since 0.3.1
@mixin link-default {
  -webkit-tap-highlight-color: rgba($colour-focus, .333); // sass-lint:disable-line no-vendor-prefixes
  color: $colour-link;
  text-decoration: underline;
  text-decoration-skip: ink;

  &:visited {
    color: $colour-link-visited;
  }

  &:hover {
    color: $colour-link-hover;
  }

  &:focus {
    @include default-focus-style;
    color: $colour-link-focus-text;
  }

  &:active {
    color: $colour-link-active;
  }
}
/// Default links for use on a light background
/// @require {mixin} link-default
/// @since 0.5.0
@mixin links-default {
  a {
    @include link-default;
  }
}

/// Inverse link style for use on an inverse (dark) background
/// @since 0.3.1
@mixin link-inverse {
  -webkit-tap-highlight-color: rgba($colour-focus, .333); // sass-lint:disable-line no-vendor-prefixes
  color: $colour-link-inverse;
  text-decoration: underline;
  text-decoration-skip: ink;

  &:visited {
    color: $colour-link-inverse-visited;
  }

  &:hover {
    color: $colour-link-inverse-hover;
  }

  &:focus {
    @include inverse-focus-style;
    color: $colour-link-inverse-focus-text;
  }

  &:active {
    color: $colour-link-inverse-active;
  }
}

/// Inverse links for use on a dark background
/// @require {mixin} link-inverse
/// @since 0.3.1
@mixin links-inverse {
  a {
    @include link-inverse;
  }
}

a {
  @include link-default;
}

/// Inverse link for use on a dark background. Apply to an individual link.
/// Prefer using `.inverse-links` on the container instead.
/// @since 0.2.9
.link--inverse {
  @include link-inverse;
}

/// Inverse links, for use on dark backgrounds e.g dark panels.
/// Use this class on a containing element to apply to all links within it.
/// @require {mixin} links-inverse
/// @since 0.2.9
.inverse-links {
  @include links-inverse;
}
