////
/// @group spacing
////

/// Extra extra small spacing
/// @since 0.2.0
$spacing-xx-small: 2;

/// Extra small spacing
/// @since 0.2.0
$spacing-x-small: 4;

/// Small spacing
/// @since 0.2.0
$spacing-small: 8;

/// Medium spacing
/// @since 0.2.0
$spacing-medium: 16;

/// Large spacing
/// @since 0.2.0
$spacing-large: 32;

/// Extra large spacing
/// @since 0.2.0
$spacing-x-large: 48;

/// Extra extra large spacing
/// @since 0.2.0
$spacing-xx-large: 64;
