/// A map of break point name to settings.
/// The break points are mobile first, min-width.
/// I.e. palm: 480px equates to (min-width: 30em)
/// Settings is a list of:
///   - width
///   - root font size
$nice-breakpoints: (
  mobile: (
    root-size: 14,
    ms-ratio: get-ratio(major-second)
  ),
  xs: (
    width: 400px,
    root-size: 15,
    ms-ratio: get-ratio(major-second)
  ),
  sm: (
    width: 600px,
    root-size: 16,
    ms-ratio: get-ratio(major-second)
  ),
  md: (
    width: 900px,
    root-size: 17,
    ms-ratio: get-ratio(major-second)
  ),
  lg: (
    width: 1200px,
    root-size: 17,
    ms-ratio: get-ratio(major-second)
  ),
  xl: (
    width: 1600px,
    root-size: 17,
    ms-ratio: get-ratio(major-second)
  )
);

// A map of breakpoints (name: px) required for SASS MQ
$mq-breakpoints: ();
@each $brkpnt-key, $brkpnt-value in $nice-breakpoints {
  $width: map-get($brkpnt-value, width);
  @if $width {
    $mq-breakpoints: map-merge($mq-breakpoints, ($brkpnt-key: $width));
  }
}

/// Whether to output a default set of generic print styles for things
/// like avoiding page breaks after headings etc. If you disabled this,
/// be sure to add your own print styles.
$output-default-print-styles: true !default;

/// Whether the site is responsive. Setting to false will disable
/// generation of the responsie grid selectors.
/// True by default.
$nice-responsive: true !default;
