/// A map of break point name to settings.
/// The break points are mobile first, min-width.
/// I.e. palm: 480px equates to (min-width: 30em)
/// Settings is a list of:
///   - width
///   - root font size
$nice-breakpoints: (
  mobile: (
    root-size: 14,
    ms-ratio: get-ratio(major-second)
  ),
  palm: (
    width: 440px,
    root-size: 14,
    ms-ratio: get-ratio(major-second)
  ),
  tablet: (
    width: 720px,
    root-size: 16,
    ms-ratio: get-ratio(major-second)
  ),
  desktop: (
    width: 960px,
    root-size: 16,
    ms-ratio: get-ratio(major-second)
  ),
  wide: (
    width: 1200px,
    root-size: 17,
    ms-ratio: get-ratio(major-second)
  )
);

// A map of breakpoints (name: px) required for SASS MQ
$mq-breakpoints: ();
@each $brkpnt-key, $brkpnt-value in $nice-breakpoints {
  @if map-has-key($brkpnt-value, width) {
    $new: ($brkpnt-key: map-get($brkpnt-value, width));
    $mq-breakpoints: map-merge($mq-breakpoints, $new);
  }
}

// Override default wizardry grids breakpoints
$breakpoints: ();
@each $brkpnt-key, $brkpnt-value in $nice-breakpoints {
  @if map-has-key($brkpnt-value, width) {
    $brkpnt-width: mq-px2em(map-get($brkpnt-value, width));

    $breakpoints: append($breakpoints, '#{$brkpnt-key}' '(min-width: #{$brkpnt-width})');
  }
}

// Override other wizardry variables
$breakpoint-has-widths: ();
@each $brkpnt-key, $brkpnt-value in $nice-breakpoints {
  @if map-has-key($brkpnt-value, width) {
    $breakpoint-has-widths: append($breakpoint-has-widths, '#{$brkpnt-key}');
  }
}
$breakpoint-has-push: $breakpoint-has-widths;
$breakpoint-has-pull: $breakpoint-has-widths;
