////
/// @group colors
////


// PRIMARY PALETTE

/// NICE Black. Part of the primary palette.
/// @since 0.2.0
$colour-nice-black: #222;

/// NICE White. Part of the primary palette
/// @since 0.2.0
$colour-nice-white: #fff;

/// NICE Teal. Part of the primary palette.
/// First choice of colour for supporting
/// @since 0.2.0
$colour-nice-teal: #004650;


// SECONDARY PALETTE

/// Purple. Part of the secondary palette. Purple should be used sparingly and only used as a
/// panel background to highlight a particular section of content,
/// in which case font colour must be pure white (NICE White) to make text legible.
/// @since 0.2.0
$colour-nice-purple: #451551;

/// Cool Teal. Part of the secondary palette.
/// @since 0.2.0
$colour-nice-cool-teal: #00506a;

/// Rich Black. Part of the secondary palette.
/// @since 0.2.0
$colour-nice-rich-black: #0e0e0e;

/// Dark Grey. Part of the secondary palette.
/// @since 0.2.0
$colour-nice-dark-grey: #393939;

/// Grey 1. Part of the secondary palette.
/// @since 0.2.0
$colour-nice-grey-1: #adadad;

/// Grey 2. Part of the secondary palette.
/// @since 0.2.0
$colour-nice-grey-2: #d6d6d6;

/// Grey 3. Part of the secondary palette.
/// @since 0.2.0
$colour-nice-grey-3: #e9e9e9;


// TERTIARY PALETTE

/// Blue 1. Part of the tertiary palette.
/// @since 0.2.0
$colour-nice-blue-1: #233746;

/// Blue 2. Part of the tertiary palette.
/// @since 0.2.0
$colour-nice-blue-2: #314c60;

/// Blue 3. Part of the tertiary palette.
/// @since 0.2.0
$colour-nice-blue-3: #517489;

/// Ice Teal. Part of the tertiary palette.
/// @since 0.2.0
$colour-nice-ice-teal: #a2bdc1;

/// Teal 1. Part of the tertiary palette.
/// @since 0.2.0
$colour-nice-teal-1: #4f7d83;

/// Teal 2. Part of the tertiary palette.
/// @since 0.2.0
$colour-nice-teal-2: #18646e;

/// Teal 3. Part of the tertiary palette.
/// @since 0.2.0
$colour-nice-teal-3: #15434a;
