////
/// @group components
////

/// Hero banner component.
/// @since 0.2.0
.hero {
  @include links-inverse;
  background: $colour-nice-teal-2;
  color: $colour-text-inverse !important; // sass-lint:disable-line no-important
  margin: em(0 0 $spacing-large);
  overflow: hidden;
  padding: em(0 0 $spacing-large);

  &__container {
    @extend %container;
  }

  &__body {
    @include grid($loose: true);
    margin-top: rem($spacing-large);
  }

  // The main container for the copy
  &__copy {
    @include grid-item(12, $md: 8, $loose: true);
  }

  // Extra supplementary links etc
  &__extra {
    @include grid-item(12, $md: 4, $loose: true);

    // sass-lint:disable-block no-universal-selectors
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: $colour-text-inverse;
    }
  }

  &__title {
    @include h1;
    color: $colour-text-inverse;
  }

  &__intro {
    @include lead;
    color: $colour-text-inverse;
  }
}
