{% extends "layouts/_layout.njk" %}
{% set title = "Create consistent digital experiences" %}

{% block body %}

	<ul>
		<li><a href="/components/tabs/">Tabs</a></li>
		<li><a href="/components/quote/">Quote</a></li>
		<li><a href="/components/lists/">Lists</a></li>
	</ul>

{% endblock %}
