{% extends "layouts/_layout.njk" %}
{% set title = "Create consistent digital experiences" %}

{% block body %}

	<div class="container">

		<div class="grid">

			<div data-g="12 md:4">
				<h2>Components</h2>

				<ul>
					<li><a href="/components/action-banner/">Action banner</a></li>
					<li><a href="/components/breadcrumbs/">Breadcrumbs</a></li>
					<li><a href="/components/buttons/">Buttons</a></li>
					<li><a href="/components/card/">Card</a></li>
					<li><a href="/components/filter-group/">Filter group</a></li>
					<li><a href="/components/footer/">Footer</a></li>
					<li><a href="/components/grid/">Grid</a></li>
					<li><a href="/components/hero/">Hero</a></li>
					<li><a href="/components/in-page-nav/">In page nav</a></li>
					<li><a href="/components/lists/">Lists</a></li>
					<li><a href="/components/page-header/">Page header</a></li>
					<li><a href="/components/panels/">Panels</a></li>
					<li><a href="/components/phase/">Phase banners</a></li>
					<li><a href="/components/quote/">Quote</a></li>
					<li><a href="/components/stacked-nav/">Stacked nav</a></li>
					<li><a href="/components/tag/">Tag</a></li>
					<li><a href="/components/tabs/">Tabs</a></li>
					<li><a href="/components/typography/">Typography</a></li>
				</ul>
			</div>

			<div data-g="12 md:4">

				<h2>Foundations</h2>

				<ul>
					<li><a href="/foundations/icons/">Icons</a></li>
				</ul>

				<h2>Utilities</h2>

				<ul>
					<li><a href="/utilities/visibility/">Visibility</a></li>
				</ul>
			</div>

			<div data-g="12 md:4">
				<h2>Pages</h2>

				<ul>
					<li><a href="/pages/stakeholder-registration/">Stakeholder registration</a></li>
					<li><a href="/pages/topic-landing-page/">Topic landing page</a></li>
				</ul>
			</div>

		</div>

	</div>




{% endblock %}
