{% extends "layouts/_layout.njk" %}
{% set title = "Create consistent digital experiences" %}

{% block body %}

	<ul>
		<li><a href="/components/breadcrumbs/">Breadcrumbs</a></li>
		<li><a href="/components/buttons/">Buttons</a></li>
		<li><a href="/components/grid/">Grid</a></li>
		<li><a href="/components/hero/">Hero</a></li>
		<li><a href="/components/in-page-nav/">In page nav</a></li>
		<li><a href="/components/lists/">Lists</a></li>
		<li><a href="/components/panels/">Panels</a></li>
		<li><a href="/components/phase/">Phase banners</a></li>
		<li><a href="/components/quote/">Quote</a></li>
		<li><a href="/components/tabs/">Tabs</a></li>
		<li><a href="/components/typography/">Typography</a></li>
	</ul>

{% endblock %}
