@use '@nice-digital/nds-core/scss/colours';
@use '@nice-digital/nds-core/scss/spacing';
@use '@nice-digital/nds-core/scss/typography';
@use '@nice-digital/nds-core/scss/utils';

.example {
  background: transparent;
  border: 1px solid colours.$border;
  margin: 0 0 utils.rem(spacing.$medium);
  overflow-x: hidden;
  padding: utils.rem(spacing.$medium);
  position: relative;

  &.expanded {
    background-color: #fff;
    position: relative;
    width: 100vw;
    height: 100vh;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
  }

  & .expandButton {
    margin-bottom: 2rem;
  }

  & > h2,
  & > h3,
  & > h4,
  & > h5,
  & > h6 {
    @include typography.h6;
    margin-top: 0;
  }

  .fullWidthWrapper > :first-child {
    max-width: 100%;
    left: unset;
    margin: unset;
  }

  // TODO: apply these styles specifically to the grid example page
  /* Just some custom styles for grid items within examples, to make them a little clearer */
  // [data-g] {
  //   background: colours.$table-row-even;
  //   text-align: center;
  // }
}
