////
/// @group components
////

/// Container placeholder.
/// @since 0.1.0
%container {
  margin: auto;
  max-width: rem($nice-container-max-width);
  width: 96%; // Fallback for non-calc browsers e.g. IE8, see https://caniuse.com/#feat=calc
  width: calc(100% - #{rem($spacing-large)}); // sass-lint:disable-line no-duplicate-properties
}

/// Container, used as a wrapper around sections within a page.
/// Usually used to house grids.
///
/// @example
///   <div class="container">
///     <div class="grid">
///     </div>
///   </div>
/// @since 0.1.0
.container {
  @extend %container;

  &--full {
    max-width: 100%;
    padding: 0 2%;
    width: auto;
  }
}
