<div class="example">
	<div class="example__body">
		<h4 class="example__label example__label--dark">Example</h4>
		{{body|safe}}
	</div>
	<div class="example__code">
		<h4 class="example__label">Source</h4>
		<pre><code {% if lang %}class="language-{{lang}}"{% endif %}>{{body|normalise_indentation}}</code></pre>
	</div>
</div>
