{% assign byType = site.data.sass.experience.byGroupAndType[include.group] %}

<div>
{% for type in byType %}
    <section id="{{ type[0] }}">
        <h2>
            {% case type[0] %}
                {% when 'css' %}
                    Selectors
                {% when 'variable' %}
                    Variables
                {% when 'mixin' %}
                    Mixins
                {% when 'placeholder' %}
                    Placeholders
                {% when 'function' %}
                    Function
                {% else %}
            {% endcase %}
        </h2>

        {% for item in type[1] %}
            {% include sass-item.html item=item %}
        {% endfor %}
    </section>
{% endfor %}
</div>