////
/// @group grid
////

$human-grid-names: (
  whole: 1,
  half: 2,
  third: 3,
  quarter: 4,
  fifth: 5
);

$human-number-names: (
  one,
  two,
  three,
  four
);

@mixin human-grid-names($prefix) {
  [data-g~='#{ $prefix }one-whole'] {
    width: 100%;
  }

  // Generate selectors for human grid width names like one-quarter, two-thirds etc
  @each $fraction-name, $fraction-value in $human-grid-names {
    @for $index from 1 through max($fraction-value - 1, 1) {

      @if $index != $fraction-value {
        $human-number: nth($human-number-names, $index); // E.g. two
        $plural: if($index > 1, 's', ''); // Pluralize if necessary e.g. quarters

        $fraction: '#{ $human-number }-#{ $fraction-name }#{ $plural }';

        [data-g~='#{ $prefix }#{ $fraction }'] {
          width: percentage($index / $fraction-value);
        }

        // PUSH
        [data-g~='#{ $prefix }push:#{ $fraction }'] {
          left: percentage($index / $fraction-value);
        }

        // PULL
        [data-g~='#{ $prefix }pull:#{ $fraction }'] {
          left: percentage($index / $fraction-value);
        }
      }
    }
  }
}
