{% macro renderLink(link, level) %}
	<li class="in-page-nav__item" role="presentation">
		<a id="ipn-{{ link.href.replace("#", "") }}" href="{{ link.href }}" role="menuitem" aria-selected="false">
			{{ link.title }}
		</a>
		{% if link.links and link.links.length > 0 %}
			<ul class="in-page-nav__list" role="menu" aria-expanded="true" aria-hidden="false" aria-labelledby="ipn-{{ link.href.replace("#", "") }}">
				{% for subLink in link.links %}
					{{ renderLink(subLink, level + 1) }}
				{% endfor %}
			</ul>
		{% endif %}
	</li>
{% endmacro %}

<nav class="in-page-nav" role="navigation" aria-labelledby="ipn-title">
	<h2 id="ipn-title" class="in-page-nav__title">On this page</h2>

	<ul class="in-page-nav__list" role="menubar">
		{% for link in links %}
			{{ renderLink(link, 1) }}
		{% endfor %}
	</ul>
</nav>
