// Global tokens - do not reference these directly, use alias tokens instead!

// Primary palette
$nice-teal: #228096;
$nice-cream: #ded5ca;
$nice-blue: #00436c;
$white: #fff;
$black: #000;
$nice-black: #0e0e0e;

// Secondary palette
$yellow: #ead054;

// Tertiary palette
$nice-teal-tint-1: #59a0b0;
$nice-teal-tint-2: #91c0cb;
$nice-teal-tint-3: #c8e0e6;
$nice-blue-tint-1: #407291;
$nice-blue-tint-2: #80a1b5;
$nice-blue-tint-3: #bfd0da;
$nice-blue-tint-4: #023452;
$nice-cream-1: #ded5ca;
$nice-cream-2: #e6e0d7;
$nice-cream-3: #eeeae4;
$nice-cream-tint-1: #fbfaf8;
$black-tint-1: #404040;
$black-tint-2: #808080;
$black-tint-3: #bfbfbf;

// Custom palette
$custom-grey-1: #adadad;
$custom-grey-2: #d6d6d6;
$custom-grey-3: #666;
$custom-grey-4: #e9e9e9;
$custom-blue-1: #005ea5;
$custom-blue-2: #003761;
$custom-blue-3: #3479d0;
$custom-blue-3-tint: #eff4fc;
$custom-purple-1: #4c2c92;
$custom-red-1: #b50f23;
$custom-red-1-tint: #f9eced;
$custom-orange-1: #dc8a07;
$custom-orange-1-tint: #fbf7f1;
$custom-orange-2: #bd5826;
$custom-green-1: #68c103;
$custom-green-1-tint: #f3faeb;
$custom-yellow-shade: #d6ba32;
$custom-yellow-highlight: #fff999;
$custom-teal: #0092a6;
$custom-pink: #d5367f;
