////
/// @group components
////

@import '~@nice-digital/nds-core/scss/core';

// Default (light) panel background colour
/// @since 1.0.0
$nds-colour-panel-default-background: $colour-nice-grey-3;

// Default (light) panel border colour
/// @since 0.5.2
$nds-colour-panel-default-border: $colour-nice-grey-2;

// Impact panel background colour
/// @since 1.0.0
$nds-colour-panel-impact-background: $colour-nice-blue-3;

// Impact panel border colour
/// @since 1.0.0
$nds-colour-panel-impact-border: $colour-nice-blue-2;

// Primary panel background colour
/// @since 1.0.0
$nds-colour-panel-primary-background: $colour-nice-white;

// Primary panel border colour
/// @since 1.0.0
$nds-colour-panel-primary-border: $colour-nice-ice-teal;

/// A panel is a container for visually separating content.
/// Often used within a sidebar.
/// @since 0.1.0
.panel {
  background: $nds-colour-panel-default-background;
  border: 1px solid $nds-colour-panel-default-border; // To distinguish panel from off-grey body background
  margin: em($spacing-medium 0 $spacing-large);
  padding: em($spacing-medium);

  > :first-child {
    margin-top: 0;
  }

  > :last-child {
    margin-bottom: 0;
  }
}

/// Modifier for an impact panel, to house key content and calls-to-action for a page.
/// Autmatically uses inverse links within it..
/// @require {mixin} links-inverse
/// @require .panel
/// @since 1.0.0
.panel--impact {
  @include links-inverse;
  background: $nds-colour-panel-impact-background;
  border: 1px solid $nds-colour-panel-impact-border;
  color: $colour-text-inverse;
}

/// Modifier for a primary panel.
/// Autmatically uses inverse links within it. Doesn't affect buttons
/// though, so any buttons within a dark panel should be `.btn.btn--inverse`.
/// @require {mixin} links-inverse
/// @require .panel
/// @since 1.0.0
.panel--primary {
  background: $nds-colour-panel-primary-background;
  border: 3px solid $nds-colour-panel-primary-border;
}
