@use '@nice-digital/nds-core/scss/colours';
@use '@nice-digital/nds-core/scss/spacing';
@use '@nice-digital/nds-core/scss/utils';

// Multipliers of $large
$-padding-sizes: (
  'small': 1,
  'medium': 3,
  'large': 6
);

.full-bleed {
  background-color: colours.$full-bleed-background;
  background-position: center center;
  background-size: cover;
  left: 50%;
  margin-left: -50vw;
  overflow: hidden;
  position: relative;
  width: 100vw;
  z-index: 0;
  &--light {
    background-color: colours.$full-bleed-light-background;
    color: colours.$full-bleed-light-text;
    a {
      color: colours.$full-bleed-light-text;
    }
  }
  @each $paddingSize, $size in $-padding-sizes {
    &--padding-#{$paddingSize} {
      padding: (utils.rem(spacing.$large) * $size) 0;
    }
  }
}
