////
/// @group components
////

@use '@nice-digital/nds-core/scss/colours';
@use '@nice-digital/nds-core/scss/focus';
@use '@nice-digital/nds-core/scss/spacing';
@use '@nice-digital/nds-core/scss/typography';
@use '@nice-digital/nds-core/scss/utils';

/// A panel is a container for visually separating content.
/// Often used within a sidebar.
/// @since 0.1.0
.panel {
  background: colours.$panel-default-background;
  border: 1px solid colours.$panel-default-border; // To distinguish panel from off-grey body background
  margin: utils.rem(0 0 spacing.$large);
  padding: utils.rem(spacing.$medium);

  > :first-child {
    margin-top: 0;
  }

  > :last-child {
    margin-bottom: 0;
  }
}

/// Modifier for an impact panel, to house key content and calls-to-action for a page.
/// Autmatically uses inverse links within it..
/// @require {mixin} links-inverse
/// @require .panel
/// @since 1.0.0
.panel--impact {
  @include typography.links-inverse;
  @include focus.inverse-button-focus;
  background: colours.$panel-impact-background;
  border: 1px solid colours.$panel-impact-border;
  color: colours.$text-inverse;
}

/// Modifier for a primary panel.
/// Autmatically uses inverse links within it. Doesn't affect buttons
/// though, so any buttons within a dark panel should be `.btn.btn--inverse`.
/// @require {mixin} links-inverse
/// @require .panel
/// @since 1.0.0
.panel--primary {
  background: colours.$panel-primary-background;
  border: 3px solid colours.$panel-primary-border;
}

.panel--inverse {
  @include typography.links-inverse;
  @include focus.inverse-button-focus;
  background: colours.$panel-inverse-background;
  color: colours.$text-inverse;
}

.panel--impact-alt {
  @include typography.links-inverse;
  @include focus.inverse-button-focus;
  background: colours.$panel-impact-alt-background-1;
  background: linear-gradient(
    333deg,
    colours.$panel-impact-alt-background-1 0%,
    colours.$panel-impact-alt-background-2 100%
  );
  color: colours.$text-inverse;
}
