////
/// @group components
////

@import '~@nice-digital/nds-core/scss/core';
@import '~@nice-digital/icons/scss/nice-icons';

// Default action banner background colour
/// @since 1.0.0
$nds-action-banner-default-background: $nds-colour-nice-cool-teal;

// Subtle default banner border colour
/// @since 1.0.0
$nds-action-banner-default-border: $nds-colour-nice-black;

// Subtle action banner background colour
/// @since 1.0.0
$nds-action-banner-subtle-background: $nds-colour-nice-grey-3;

// Subtle action banner border colour
/// @since 1.0.0
$nds-action-banner-subtle-border: $nds-colour-nice-grey-2;

/// Action banner component. Used to highlight
/// and give context to a call-to-action.
/// Modifiers:
/// - subtle
///
/// @since 0.3.1
.action-banner {
  @include nds-links-inverse;
  background: $nds-action-banner-default-background;
  border: 1px solid $nds-action-banner-default-border;
  color: $nds-colour-text-inverse;
  margin: em(0 0 $nds-spacing-large);
  padding: em($nds-spacing-small 0);
  position: relative;

  &__container {
    @extend %nds-container;
  }

  &__inner {
    //@include nds-grid;
  }

  &__text {
    //@include nds-grid-item($middle: true);
    margin-bottom: em($nds-spacing-medium);
  }

  &__title {
    @include nds-font-size(3);
    color: $nds-colour-text-inverse;
    margin: em(0 0 $nds-spacing-x-small);
  }

  &__intro {
    margin: 0;
  }

  &__actions {
    //@include nds-grid-item($middle: true);

    .btn {
      margin: 0;

      &:focus {
        // Override default button focus because we're on a dark background
        @include nds-inverse-focus-style;
      }
    }
  }

  &__close {
    appearance: none;
    background: 0;
    border: 0;
    color: $nds-colour-text-inverse;
    cursor: pointer;
    line-height: 1;
    padding: rem($nds-spacing-small);
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;

    &:hover {
      background: rgba(0, 0, 0, 0.2);
    }

    &:focus {
      @include nds-inverse-focus-style;
    }
  }

  &--subtle {
    @include nds-links-default;
    background: $nds-action-banner-subtle-background;
    border: 1px solid $nds-action-banner-subtle-border;
    color: $nds-colour-text;

    .action-banner__title {
      color: $nds-colour-text;
    }

    .action-banner__close {
      color: $nds-colour-text;
    }

    .action-banner__actions {
      .btn {
        &:focus {
          // Return focus back to default now we're on a light background
          @include nds-default-focus-style;
        }
      }
    }
  }

  &--closeable {
    .action-banner__title {
      padding-right: rem($nds-spacing-large); // Make room for close button
    }
  }

  @include mq($from: md) {
    &__text {
      margin-bottom: 0;
      width: percentage(3/4);
    }

    &__actions {
      text-align: right;
      width: percentage(1/4);
    }

    &--closeable {
      .action-banner__title {
        padding-right: 0;
      }

      .action-banner__actions {
        padding-right: rem($nds-spacing-medium);
      }
    }
  }

  @media print {
    // It doesn't make any sense to print an action banner
    display: none !important;
  }
}
