////
/// @group components
////

/// Action banner component. Used to highlight
/// and give context to a call-to-action.
/// Modifiers:
/// - subtle
///
/// @since 0.3.1
.action-banner {
  @include links-inverse;
  background: $colour-nice-cool-teal;
  color: $colour-text-inverse;
  margin: em($spacing-large 0);
  padding: em($spacing-small 0);
  position: relative;

  &__container {
    @extend %container;
  }

  &__inner {
    @include grid;
  }

  &__text {
    @include grid-item($middle: true);
    margin-bottom: em($spacing-medium);
  }

  &__title {
    @include font-size(3);
    color: $colour-text-inverse;
    margin: em(0 0 $spacing-x-small);
  }

  &__intro {
    margin: 0;
  }

  &__actions {
    @include grid-item($middle: true);

    .btn {
      margin: 0;
    }
  }

  &__close {
    appearance: none;
    background: 0;
    border: 0;
    color: $colour-text-inverse;
    cursor: pointer;
    line-height: 1;
    padding: rem($spacing-small);
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;

    &:hover {
      background: rgba(0, 0, 0, .2);
    }

    &:focus {
      @include default-focus-style;
    }
  }

  &--subtle {
    @include links-default;
    background: $colour-panel-default;
    color: $colour-text;

    .action-banner__title {
      color: $colour-text;
    }

    .action-banner__close {
      color: $colour-text;
    }
  }

  &--closeable {
    .action-banner__title {
      padding-right: rem($spacing-large); // Make toom for close button
    }
  }

  @include mq($from: md) {
    &__text {
      margin-bottom: 0;
      width: percentage(3/4);
    }

    &__actions {
      text-align: right;
      width: percentage(1/4);
    }

    &--closeable {
      .action-banner__title {
        padding-right: 0;
      }

      .action-banner__actions {
        padding-right: rem($spacing-medium);
      }
    }
  }

  @media print {
    @include important(display, none);
  }
}
