@use '@nice-digital/nds-core/scss/spacing';
@use '@nice-digital/nds-core/scss/utils';

.externalLinkList {
  display: flex;
  list-style: none;
  margin: 0 0 utils.rem(spacing.$small);

  li {
    margin-right: utils.rem(spacing.$large);
  }
}
