@import "~@nice-digital/nds-core/scss/core";
@import "./fieldset";
@import "./input";
@import "./radio";
@import "./textarea";

.form {
  &__hint {
    color: $colour-nice-dark-grey;
    margin-top: rem($spacing-x-small);
    margin-bottom: rem($spacing-small);
  }
}
