@import '~@nice-digital/nds-core/scss/core';

.form {
  &__hint {
    color: $colour-nice-dark-grey;
    margin-top: rem($spacing-x-small);
    margin-bottom: rem($spacing-small);
  }
  &__error {
    color: $colour-error;
    font-weight: bold;
    margin-top: rem($spacing-x-small);
    margin-bottom: rem($spacing-small);
  }
}
