@import '~@nice-digital/nds-core/scss/core';

.input {
  margin-bottom: rem($spacing-medium);

  &__label {
    @include font-size(p);
    display: block;
    font-weight: bold;
    margin-bottom: rem($spacing-x-small);
  }

  &__input {
    border: rem($spacing-xx-small) solid $colour-border;
    padding: rem($spacing-small);
    width: 100%;

    &:focus {
      @include default-focus-style;
    }
  }

  &--error .input__input {
    @include default-error-style;
  }
}
