{% macro actionBanner(actionBanner) %}

	<section class="action-banner{% if actionBanner.modifier %} action-banner--{{ actionBanner.modifier }}{% endif %}">
		<div class="action-banner__container">
			<div class="action-banner__inner">
				<div class="action-banner__text">
					<h2 class="action-banner__title">
						{{ actionBanner.title }}
					</h2>
					<p class="action-banner__intro">
						{{ actionBanner.body }}
					</p>
				</div>
				<div class="action-banner__actions">
					{% if actionBanner.cta.href %}
						<a href="{{ actionBanner.cta.href }}" class="btn{% if actionBanner.cta.modifier %} btn--{{ actionBanner.cta.modifier }}{% endif %}">
							{{ actionBanner.cta.text }}
						</a>
					{% else %}
						<button type="btn" class="btn{% if actionBanner.cta.modifier %} btn--{{ actionBanner.cta.modifier }}{% endif %}">
							{{ actionBanner.cta.text }}
						</button>
					{% endif %}
				</div>
			</div>
		</div>
	</section>

{% endmacro %}
