<section id="{{ group_name }}-{{ item.context.type }}-{{ item.context.name }}">

	{% include '../annotations/name.njk' %}

	{% include '../annotations/deprecated.njk' %}

	{% include '../annotations/preview.njk' %}

	{% include "../annotations/parameter.njk" %}

	{% include "../annotations/property.njk" %}

	{% if not item.alias %}

		<div class="grid">
			{% for annotation in display.annotations[item.context.type] %}
				{% set path = '../annotations/' + annotation + '.njk' %}
					{% include path %}
			{% endfor %}
		</div>

	{% else %}

		<p>Refer to <a href="#{{ item.context.type }}-{{ item.alias }}">{{ item.alias }}</a>.</p>

	{% endif %}

	{% include "../annotations/example.njk" %}

</section>
