////
/// @group components
////

@use '@nice-digital/nds-core/scss/colours';
@use '@nice-digital/nds-core/scss/glyphs';
@use '@nice-digital/nds-core/scss/spacing';
@use '@nice-digital/nds-core/scss/typography';
@use '@nice-digital/nds-core/scss/utils';
@use '@nice-digital/nds-core/scss/visibility';

/// breadcrumbs
/// See https://www.w3.org/WAI/WCAG20/Techniques/working-examples/G65/ex3.html
/// @since 0.1.0
.breadcrumbs {
  @include typography.font-size(0);
  @include visibility.hide-print;
  list-style: none;
  margin: utils.em(spacing.$small 0 spacing.$large);
  max-width: 100%;
  padding: 0;

  &__crumb {
    display: inline-block;
    margin-bottom: 0;

    &:before {
      content: glyphs.get-glyph(greater-than);
      font-size: 80%;
      margin: utils.em(0 spacing.$x-small);
    }

    &:first-child:before {
      display: none;
    }
  }

  a {
    color: colours.$text;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }

    &:focus {
      color: colours.$link-focus-text;
    }

    &:active {
      color: colours.$link-active;
    }
  }
}
