.grid {
	&--example {
		margin-bottom: 1em;

		.grid__item {
			background: get-colour(grey, light);
			border: 5px solid get-colour(grey, dark);
			padding-top: 1em;
			padding-bottom: 1em;
		}
	}
}
