@use '@nice-digital/nds-core/scss/helpers/helpers-visibility' as *;
@use '@nice-digital/nds-core/scss/settings/settings-mq' as *;
@use 'sass-mq/mq' as *;

////
/// @group helpers
////

$nds-output-visibility-classes: true !default;

@if $nds-output-visibility-classes {
  /// Display none.
  /// Note the use of `!important` for overriding styles.
  .hide {
    display: none !important;
  }

  /// Displays an element as block by default.
  /// Or use modifiers to display inline/inline-block:
  ///
  /// Modifiers:
  ///   - `i`
  ///   - `ib`
  .show {
    display: block !important;

    &--i {
      display: inline !important;
    }

    &--ib {
      display: inline-block !important;
    }
  }

  /// Visible
  .visible {
    visibility: visible !important;
  }

  /// Visibility hidden
  .invisible {
    visibility: hidden !important;
  }

  //## Orientation

  /// Landscape and portrait display
  .show-landscape,
  .hide-portrait {
    display: block !important;

    @include nds-landscape {
      display: block !important;
    }

    @include nds-portrait {
      display: none !important;
    }
  }

  /// Landscape and portrait display
  .hide-landscape,
  .show-portrait {
    display: none !important;

    @include nds-landscape {
      display: none !important;
    }

    @include nds-portrait {
      display: block !important;
    }
  }

  //## Breakpoints show

  // Outuput the following for each break point:
  //  - .hide-from-*
  //  - .show-from-*

  $hide-selectors: (); /* stylelint-disable-line */

  @each $brkpnt-key, $brkpnt-value in $mq-breakpoints {
    // Show from
    $hide-selectors: append($hide-selectors, '.show-#{ $brkpnt-key }', comma);
    $hide-selectors: append(
      $hide-selectors,
      '.show--i-#{ $brkpnt-key }',
      comma
    );
    $hide-selectors: append(
      $hide-selectors,
      '.show--ib-#{ $brkpnt-key }',
      comma
    );
  }

  #{ $hide-selectors } {
    display: none;
  }

  @each $brkpnt-key, $brkpnt-value in $mq-breakpoints {
    @include mq($from: $brkpnt-key) {
      .show-#{ $brkpnt-key } {
        display: block !important;
      }

      .show--i-#{ $brkpnt-key } {
        display: inline !important;
      }

      .show--ib-#{ $brkpnt-key } {
        display: inline-block !important;
      }

      .hide-#{ $brkpnt-key } {
        display: none !important;
      }
    }
  }

  //## Accessibility
  .show-focus,
  .visually-hidden {
    @include nds-invisible;
  }

  //## Focus
  .show-focus {
    &:active,
    &:focus {
      @include nds-invisible-off;
    }
  }

  .relative {
    position: relative;
  }
}
