////
/// @group components
////

/// Filter group consist of a title with one of:
///   - set of checkbox options
///   - TODO e.g. free text, dates etc
/// Used to filter searches or lists of content.
/// @since 0.5.0
.filter-group {
  margin-top: rem($spacing-medium);

  &:first-child {
    margin-top: 0;
  }

  // Heading used for collapsing/expanding the filter group
  &__heading {
    @include font-size(0);
    background: $colour-nice-grey-2;
    border: 0;
    display: block;
    font-weight: bold;
    margin: 0;
    padding: rem($spacing-small);
    position: relative;
    text-align: left;
    width: 100%;

    @include when-is(button) {
      appearance: none;
      cursor: pointer;

      &:after {
        @include nice-icon(chevron-up);
        @include font-size(-1);
        color: $colour-icons;
        line-height: normal; // IE 9/10 bug where rems on block psuedos collapse to 0
        position: absolute;
        right: rem($spacing-small);
        top: rem($spacing-small);
      }

      &[aria-expanded='false']:after {
        content: nice-icon(chevron-down);
      }

      &:hover {
        background: $colour-nice-grey-1;

        // sass-lint:disable no-combinators
        + .filter-group__options {
          border-color: $colour-nice-grey-1;
        }
      }

      &:focus {
        @include default-focus-style;
      }
    }
  }

  // Shows the number of filtered options e.g. "2 selected"
  &__count {
    @include font-size(-1);
    font-weight: normal;
  }

  // Wrapper for the options when filter is a list of checboxes
  &__options {
    border: rem($spacing-x-small) solid $colour-nice-grey-2;

    &[aria-hidden='true'] {
      display: none;
    }
  }

  // Checkbox/radio button option (label)
  &__option {
    background: $colour-nice-white;
    border-top: 1px solid $colour-nice-grey-2;
    cursor: pointer;
    display: block;
    line-height: 1.2;
    padding: rem($spacing-small $spacing-small $spacing-small $spacing-large);

    &:first-child {
      border-top: 0;
    }

    &:hover {
      background: $colour-nice-grey-3;
    }

    input {
      float: left;
      height: rem($spacing-medium);
      margin-left: - rem($spacing-medium + $spacing-small);
      margin-top: rem($spacing-xx-small);
      width: rem($spacing-medium);

      &:focus {
        @include default-focus-style;
      }
    }
  }
}
