{% macro filterGroup(filterGroup) %}
	<div class="filter-group">
		<button type="button" aria-expanded="true" aria-controls="group-{{ filterGroup.id }}" class="filter-group__heading">
			<div id="group-title-{{ filterGroup.id }}">
				{{filterGroup.title}}
			</div>
			{% set selectedCount = filterGroup.options | selectattr("isSelected") | length %}
			{% if selectedCount > 0 %}
				<div class="filter-group__count">{{selectedCount}} selected</div>
			{% endif %}
		</button>

		<div role="group" id="group-{{ filterGroup.id }}" aria-labelledby="group-title-{{ filterGroup.id }}" class="filter-group__options">
			{% for option in filterGroup.options %}
				<label for="filter_{{ filterGroup.id }}_{{option.id}}" class="filter-group__option">
					<input id="filter_{{ filterGroup.id }}_{{option.id}}" type="checkbox" name="{{ filterGroup.id }}" value="{{option.id}}" aria-controls="results-info-count" {{ "checked=\"checked\"" if option.isSelected }} />
					{{option.label}}
				</label>
			{% endfor %}
		</div>
    </div>
{% endmacro %}
