{# Describes the author of the documented item #}

{% if item.author.length > 0 %}
	<div class="grid__item one-whole tablet--one-half desktop--one-third">
		<h5>
			Author{% if item.author.length > 1 %}s{% endif %}
		</h5>

		<ul>
			{% for author in item.author %}
				<li>{{ author|safe }}</li>
			{% endfor %}
		</ul>
	</div>
{% endif %}
