{# Describes a use case for the documented item, with a given language and description if specified #}

{% if item.example.length > 0 %}
	<div data-g="12">
		{% for example in item.example %}
			{% if example.description %}
				<h5>Example: {{ example.description|striptags }}</h5>
			{% else %}
				<h5>Example</h5>
			{% endif %}

			{% if example.type === "html" %}
				{% example "html" -%}
					{{ example.code | safe }}
				{%- endexample -%}
			{% else %}
				{% source example.type, example.description | striptags -%}
					{{ example.code | safe }}
				{%- endsource -%}
			{% endif %}
		{% endfor %}
	</div>
{% endif %}
