{% if item.link.length > 0 %}
	<div data-g="12 md:6 lg:4">
		<h5>Links</h5>

		<ul>
			{% for link in item.link %}
			<li>
				<a href="{{ link.url }}">
					{% if link.caption %}
						{{ link.caption }}
					{% else %}
						{{ link.url }}
					{% endif %}
				</a>
			</li>
			{% endfor %}
		</ul>
	</div>
{% endif %}
