{% if item.return %}
	<div class="grid__item one-whole tablet--one-half desktop--one-third">
		<h5>Returns</h5>

		<p>
			{% if item.return.type == '*' %}
				Any type
			{% else %}
				<code>{{ item.return.type | display_as_type }}</code>
			{% endif %}
			{% if item.return.description %} &mdash; {{ item.return.description|striptags }}{% endif %}
		</p>
	</div>
{% endif %}
