{% if item.see.length >= 1 %}
	<div class="grid__item one-whole tablet--one-half desktop--one-third">
		<h5>See also</h5>

		<ul>
			{% for see in item.see %}
				<li>
					[{{ see.context.type }}]
					<a href="#{{ see.context.type }}-{{ see.context.name }}">
						<code>{{ see.context.name }}</code>
					</a>
				</li>
			{% endfor %}
		</ul>
	</div>
{% endif %}
