{% if item.throw.length > 0 %}
	<div class="grid__item one-whole tablet--one-half desktop--one-third">
		<h5>Throws</h5>

		<ul>
			{% for _throw in item.throw %}
				<li>{{ _throw|safe }}</li>
			{% endfor %}
		</ul>
	</div>
{% endif %}
