{% if item.type %}
	<div data-g="12 md:6 lg:4">
		<h5>Type</h5>

		<p>
			{% if item.type == "*" %}
				Any
			{% else %}
				<code>{{ item.type | display_as_type }}</code>
			{% endif %}
		</p>
	</div>
{% endif %}
