////
/// @group components
////

@use '@nice-digital/nds-core/scss/colours';
@use '@nice-digital/nds-core/scss/layout';
@use '@nice-digital/nds-core/scss/media-queries';
@use '@nice-digital/nds-core/scss/spacing';
@use '@nice-digital/nds-core/scss/typography';
@use '@nice-digital/nds-core/scss/utils';

/// Flexible card component for displaying
/// guidance, news etc in a list.
///
/// Consists of a heading, optional icon, optional
/// body copy, optional image and optional metadata.
/// Usually used withing an unstyled list.
///
/// BEM modifiers:
///   - `--flush`  No margin
///   - `--separator`  Add a line below
///
/// @since 0.3.1
.card {
  @include layout.clearfix;
  margin: utils.rem(0 0 spacing.$large 0);
  position: relative;

  &--flush {
    margin-bottom: 0;
  }

  &--separator,
  .list--unstyled & {
    border-bottom: 1px solid colours.$border;
    margin: utils.rem(0 0 spacing.$medium 0);
    padding: utils.rem(0 0 spacing.$medium 0);
  }

  mark {
    padding: 0;
  }

  &__header {
    margin: utils.rem(0 0 spacing.$small 0);
  }

  &__heading {
    @include typography.font-size(1);
    font-family: typography.get-font-family(sans);
    font-weight: 600;
    margin: 0;

    a {
      text-decoration: underline;

      mark {
        background-color: colours.$mark;
        color: colours.$link;
      }

      &:before {
        content: '';
        display: block;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 0;
      }
    }
  }

  &__author {
    @include typography.font-size(-1);
    color: colours.$card-author;
    margin: utils.rem(0 0 spacing.$x-small 0);

    dd {
      display: block;
      margin: 0;
    }
  }

  &__summary {
    margin: utils.rem(0 0 spacing.$small 0);
    a {
      position: relative;
    }
  }

  &__image {
    img {
      display: block;
      margin: utils.rem(0 0 spacing.$x-small);
      width: 100%;
    }
  }

  &__icon {
    margin: utils.rem(0 spacing.$x-small 0 0);
  }

  &__tag {
    @include typography.font-size(-1, true);
  }

  &__metadata {
    @include typography.font-size(-1);
    color: colours.$card-metadata;
    display: inline-block;
    margin: 0;
    position: relative;
    z-index: 1;
  }

  &__metadatum {
    display: block;
    margin: utils.rem(0 spacing.$medium spacing.$x-small 0);

    dt,
    dd {
      display: inline-block;
      margin: 0;
    }

    dt {
      margin-right: utils.rem(spacing.$x-small);
    }
  }

  @include media-queries.mq($from: xs) {
    &__image {
      float: left;
      width: 30%;
    }

    &__text {
      float: left;
      padding-left: utils.rem(spacing.$medium);
      width: 70%;
    }
  }

  @include media-queries.mq($from: sm) {
    &__image {
      width: 20%;
    }

    &__text {
      width: 80%;
    }

    &__metadatum {
      display: inline-block;
      white-space: nowrap;
    }
  }

  @include media-queries.mq($from: md) {
    &__image {
      width: 30%;
    }

    &__text {
      width: 70%;
    }
  }

  @include media-queries.mq($from: lg) {
    &__image {
      width: 25%;
    }

    &__text {
      width: 75%;
    }
  }
}
