@use '@nice-digital/nds-core/scss/colours';

.grid-example-item {
  background: colours.$fill-page-background;
  border: 0.25em solid colours.$border;
  margin-bottom: 0.5em;
  padding: 0.5em;
  text-align: center;
}
