////
/// @group components
////

@use '@nice-digital/nds-core/scss/colours';
@use '@nice-digital/nds-core/scss/media-queries';
@use '@nice-digital/nds-core/scss/spacing';
@use '@nice-digital/nds-core/scss/typography';
@use '@nice-digital/nds-core/scss/utils';

/// Tabbed navigational structure.
/// Works without JavaScript - the tab buttons disappear and the tab
/// panels stack vertically. This relies on the presence of Modernizr
/// to add the `js` class to the html element.
///
/// BEM elements:
///   - `__list`    The containing list of tabs
///   - `__tab`     An individual tab
///   - `__tab-btn` A button within a tab
///   - `__content` The tabs content - container for the
///   - `__pane`    An individual tab pane
///
/// @todo Tabs on mobile devices
///
/// @example html
///   <div class="tabs" data-tabs>
///     <ul class="tabs__list" role="tablist">
///       <li class="tabs__tab" role="presentation">
///         <button class="tabs__tab-btn" type="button" role="tab">
///           Tab 1
///         </button>
///       </li>
///       <li class="tabs__tab" role="presentation">
///         <button class="tabs__tab-btn" type="button" role="tab">
///           Tab 2
///         </button>
///       </li>
///     </ul>
///     <div class="tabs__content">
///       <div class="tabs__pane" role="tabpanel">
///         Tab content 1
///       </div>
///       <div class="tabs__pane" role="tabpanel">
///         Tab content 2
///       </div>
///     </div>
///   </div>
/// @since 0.1.0
.tabs {
  margin: utils.em(0 0 spacing.$large);

  // The list of tabs
  &__list {
    display: none;
    list-style: none;
    margin: 0;
    max-width: 100%;
    padding: 0;
    position: relative;
    top: 1px; // To cover the border around the tabs content

    .js & {
      display: block;
    }
  }

  // Individual tab
  &__tab {
    float: left;
    margin-bottom: 0;
  }

  // The button/link for the tab itself
  &__tab-btn {
    @include typography.link-default;
    background: 0;
    border: 0;
    border-bottom: 1px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    cursor: pointer;
    display: block;
    margin-bottom: utils.rem(spacing.$small);
    padding: utils.em(spacing.$small spacing.$small);
    position: relative;

    &:focus {
      // Stop focus ring clipping
      z-index: 1;
    }

    &[aria-selected='true'] {
      background: colours.$tab-btn-selected;
      border-bottom: 1px solid colours.$border;
      border-left: 1px solid colours.$border;
      border-right: 1px solid colours.$border;
      color: colours.$text;
      text-decoration: none;

      &:before {
        // The -1px is to over the grey border round the tab
        background: colours.$icons;
        content: '';
        height: utils.em(spacing.$x-small);
        left: -1px;
        position: absolute;
        right: -1px;
        top: 0;
      }

      @include media-queries.mq($from: sm) {
        border-bottom: none;
        margin: 0;
      }
    }

    @include media-queries.mq($from: sm) {
      border-bottom: none;
      margin-bottom: 0;
      padding: utils.em(spacing.$medium spacing.$small);
    }

    @include media-queries.mq($from: md) {
      padding: utils.em(spacing.$medium);
    }
  }

  // The tab content containing the tab panels
  &__content {
    clear: both;

    .js & {
      background: colours.$tab-content;
      border: 1px solid colours.$border;
      clear: both;
      padding: utils.rem(spacing.$medium);
    }
  }

  // An individual tab content pane
  &__pane {
    background: colours.$tab-pane;
    margin-bottom: utils.em(spacing.$medium);
    padding: utils.rem(spacing.$medium);

    // Assume tabs will stack if no JS is available
    .js & {
      margin-bottom: 0;
      padding: 0;

      &[aria-hidden='true'] {
        display: none;
      }
    }

    > :first-child {
      margin-top: 0;
    }

    > :last-child {
      margin-bottom: 0;
    }
  }
}
