////
/// @group components
////

/// Flexible card component for displaying
/// guidance, news etc in a list. Consists
/// of a heading, optional body copy, optional
/// image and optional metadata.
/// Usually used withing an unstyled list.
/// @since 0.3.1
.card {
  border-bottom: 1px solid $colour-border;
  padding: em($spacing-small 0);
  position: relative;

  &:hover a {
    text-decoration: underline;
  }

  &__heading {
    @include font-size(0);
    font-weight: bold;
    margin: 0;

    a {
      text-decoration: none;

      &:before {
        content: '';
        display: block;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 0;
      }
    }
  }

  &__icon {
    margin: em(0 $spacing-x-small 0 0);
  }

  &__tag {
    @include font-size(-1)
    margin-right: em($spacing-x-small);
  }

  &__metadata {
    @include font-size(-1);
    color: $colour-nice-dark-grey;
    margin: em($spacing-x-small 0 0);
    overflow: hidden;

    dt {
      clear: both;
      float: left;
      margin: em(0 $spacing-x-small 0 0);
    }
    dd {
      float: left;
      margin: em(0 $spacing-medium 0 0);
    }

    @include mq($from: md) {
      dt {
        clear: none;
      }
    }
  }
}
