////
/// @group components
////

/// Flexible card component for displaying
/// guidance, news etc in a list.
///
/// Consists of a heading, optional icon, optional
/// body copy, optional image and optional metadata.
/// Usually used withing an unstyled list.
///
/// BEM modifiers:
///   - `--flush`  No margin
///   - `--separator`  Add a line below
///
/// @since 0.3.1
.card {
  margin: rem(0 0 $spacing-large 0);
  overflow: hidden;
  position: relative;

  &--flush {
    margin-bottom: 0;
  }

  &--separator,
  .list--unstyled & {
    border-bottom: 1px solid $colour-border;
    margin: rem(0 0 $spacing-small 0);
    padding: rem(0 0 $spacing-x-small 0);
  }

  &__header {
    margin: rem(0 0 $spacing-x-small 0);
  }

  &__heading {
    @include font-size(0);
    font-weight: bold;
    margin: 0;

    a {
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }

      &:before {
        content: '';
        display: block;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 0;
      }
    }
  }

  &__author {
    @include font-size(-1);
    color: $colour-nice-dark-grey;
    margin: rem(0 0 $spacing-x-small 0);

    dd {
      display: block;
      margin: 0;
    }
  }

  &__summary {
    margin: rem(0 0 $spacing-x-small 0);
  }

  &__image {
    display: block;
    margin: rem(0 0 $spacing-x-small);
  }

  &__icon {
    margin: rem(0 $spacing-x-small 0 0);
  }

  &__tag {
    @include font-size(-1, true);
  }

  &__metadata {
    @include font-size(-1);
    color: $colour-nice-dark-grey;
    display: inline-block;
    margin: 0;
    position: relative;
    z-index: 1;
  }

  &__metadatum {
    display: block;
    margin: rem(0 $spacing-small $spacing-x-small 0);

    dt,
    dd {
      display: inline-block;
      margin: 0;
    }
  }

  @include mq($from: xs) {
    &__image {
      float: left;
      width: 30%;
    }

    &__text {
      float: left;
      padding-left: rem($spacing-medium);
      width: 70%;
    }
  }

  @include mq($from: sm) {
    &__image {
      width: 20%;
    }

    &__text {
      width: 80%;
    }

    &__metadatum {
      display: inline-block;
      white-space: nowrap;
    }
  }

  @include mq($from: md) {
    &__image {
      width: 30%;
    }

    &__text {
      width: 70%;
    }
  }

  @include mq($from: lg) {
    &__image {
      width: 25%;
    }

    &__text {
      width: 75%;
    }
  }
}
