{% macro card(card) %}
	<article class="card">
		<header class="card__header">
			<h{{ (card.heading.level if card.heading.level else "4") }} class="card__heading">
				<a href="{{ card.href }}">
					{% if card.heading.icon %}
						<span class="card__icon icon icon--{{ card.heading.icon }}" aria-hidden="false"></span>
					{% endif %}

					{{ card.heading.text }}
				</a>
			</h{{ card.heading.level if card.heading.level else "4" }}>
		</header>
		{% if card.metadata %}
			<dl class="card__metadata">
				{% if card.tag %}
					<dt>
						<span class="card__tag tag tag--{{ card.tag.modifier }}">
							{{ card.tag.label }}
						</span>
					</dt>
					<dt class="visually-hidden">Yes</dt>
				{% elif card.tags %}
					{% for tag in card.tags %}
						<dt>
							<span class="card__tag tag tag--{{ tag.modifier }}">
								{{ tag.label }}
							</span>
						</dt>
						<dt class="visually-hidden">Yes</dt>
					{% endfor %}
				{% endif %}
				{% for item in card.metadata %}
					<dt>{{ item.key }}:</dt>
					<dd>
						{% if item.datetime %}
							<time datetime="{{ item.datetime }}">{{ item.value }}</time>
						{% else %}
							{{ item.value }}
						{% endif %}
					</dd>
				{% endfor %}
			</dl>
		{% endif %}
	</article>
{% endmacro %}
