{% from "tag/tag.njk" import tag %}

{% macro cardText(card) %}
	<header class="card__header">
		<h{{ (card.heading.level if card.heading.level else "3") }} class="card__heading">
			<a href="{{ card.href }}">
				{% if card.heading.icon %}
					<span class="card__icon icon icon--{{ card.heading.icon }}" aria-hidden="false"></span>
				{% endif %}

				{{ card.heading.text }}
			</a>
		</h{{ card.heading.level if card.heading.level else "3" }}>
	</header>
	{% if card.summary %}
		<p class="card__summary">
			{{ card.summary }}
		</p>
	{% endif %}
	{% if card.metadata or card.author %}
		<dl class="card__metadata">
			{% if card.author %}
				<div class="card__author">
					<dt class="visually-hidden">Written by: </dt>
					<dd>{{ card.author }}</dd>
				</div>
			{% endif %}
			{% if card.tag %}
				<div class="card__metadatum">
					<dt>
						{{ tag({ className: "card__tag", label: card.tag.label, modifier: card.tag.modifier, modifiers: card.tag.modifiers }) }}
					</dt>
					<dd class="visually-hidden">Yes</dd>
				</div>
			{% elif card.tags %}
				{% for t in card.tags %}
					<div class="card__metadatum">
						<dt>
							{{ tag({ className: "card__tag", label: t.label, modifier: t.modifier, modifiers: t.modifiers }) }}
						</dt>
						<dd class="visually-hidden">Yes</dd>
					</div>
				{% endfor %}
			{% endif %}
			{% for item in card.metadata %}
				<div class="card__metadatum">
					<dt>{{ item.key }}:</dt>
					<dd>
						{% if item.datetime %}
							<time datetime="{{ item.datetime }}">{{ item.value }}</time>
						{% else %}
							{{ item.value }}
						{% endif %}
					</dd>
				</div>
			{% endfor %}
		</dl>
	{% endif %}
{% endmacro %}

{% macro card(card) %}
	<article class="card{% if card.modifier %} card--{{ card.modifier }}{% endif %}{% if card.noMargin %} mb--0{% endif %}">
		{% if card.image %}
			<img class="card__image" src="{{ card.image.source }}" alt="{{ card.image.alt | default(card.heading.text) }}" />
			<div class="card__text">
				{{ cardText(card) }}
			</div>
		{% else %}
			{{ cardText(card) }}
		{% endif %}
	</article>
{% endmacro %}
