{% extends "../layouts/_sidebar.njk" %}
{% set title = "Style guide" %}

{% block sidebar %}

	<h2>Style guide</h2>

	<ul>
		<li>
			<a href="typography">Typography</a>
		</li>
		<li>Grid system</li>
		<li>Lists</li>
		<li>Tables</li>
		<li>Forms</li>
		<li>Navigation</li>
		<li>Templates</li>
	</ul>

{% endblock %}



{% block content %}

	<h2>Typography</h2>



{% endblock %}

