{% extends "./_style-guide-layout.njk" %}
{% set title = "Breadcrumbs" %}

{% block main %}

	<h1>Breadcrumbs</h1>

	<section id="breadcrumbs">

		<ul>
			<li>Use <code>class="breadcrumbs__crumb--active"</code> for current page</li>
		</ul>

		{% example -%}
			<ol class="breadcrumbs">
				<li class="breadcrumbs__crumb"><a href="#">Home</a></li>
				<li class="breadcrumbs__crumb"><a href="#">Nice Guidance</a></li>
				<li class="breadcrumbs__crumb breadcrumbs__crumb--active">Conditions and diseases</li>
			</ol>
		{%- endexample %}

		<h2>Breadcrumbs with schema microdata</h2>

		<p>Used to improve the web by creating a structured data markup schema supported by major search engines. On-page markup helps search engines understand the information on web pages and provide richer search results.</p>

		{% example -%}
			<ol class="breadcrumbs" itemscope="" itemtype="http://schema.org/BreadcrumbList">
				<li class="breadcrumbs__crumb" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem"><a href="#">Home</a></li>
				<li class="breadcrumbs__crumb" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem"><a href="#">Nice Guidance</a></li>
				<li class="breadcrumbs__crumb breadcrumbs__crumb--active" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">Population groups</li>
			</ol>
		{%- endexample %}
	</section>

{% endblock %}
