{% extends "./_style-guide-layout.njk" %}
{% set title = "Iconography" %}

{% block main %}

	<h1>Iconography</h1>

	<nav>
		<ul>
			<li><a href="#icons">Icons</a></li>
			<li><a href="#creating">Creating icons</a></li>
			<li><a href="#usage">Usage</a></li>
		</ul>
	</nav>

	<section id="icons">
		<h2>Icons</h2>

		<ul>
			<li>We use a custom icon web</li>
			<li>Font generation is part of our <a href="https://github.com/nhsevidence/NICE-Experience/blob/master/.grunt-tasks/webfont.js" target="_blank" rel="external">build process</a></li>
			<li>Supports IE8</li>
			<li>Infinitely scalable</li>
		</ul>

		<div class="grid">
			{% for glyph in data.glyphs %}
				<div data-g="6 xs:4 md:3 lg:2">
					<div class="h2">
						<span class="icon icon--{{ glyph }}"></span>
					</div>
					<p>
						{{ glyph }}
					</p>
				</div>
			{% endfor %}
		</div>

	</section>

	<section id="creating">
		<h2>Creating icons</h2>

		<ul>
			<li>512px height SVG</li>
			<li>Single compund path</li>
			<li>Viewbox from 0,0</li>
			<li>Save into the <em>src/icons</em> folder</li>
			<li>Rerun <code>grunt</code> rebuild the icon font and run the app</li>
		</ul>

		{# TODO: Link to download illustrator example #}

	</section>

	<section id="usage">
		<h2>Usage</h2>

		<h3>Markup</h3>

		<ul>
			<li>Hide from screenreaders</li>
			<li>BEM style CSS classes</li>
		</ul>

		{% example "html" -%}
			<p><span class="icon icon--calendar" aria-hidden="true"></span></p>

			<h2>
				Some text with an icon <span class="icon icon--standards" aria-hidden="true"></span>
			</h2>

			<p>
				<button type="button" class="btn">Remove <span class="icon icon--remove" aria-hidden="true"></span></button>
			</p>
		{%- endexample %}

		<h3>SASS</h3>

		<ul>
			<li>SASS Map generated: <code>$nice-icons</code></li>
			<li>SASS function generated: <code>nice-icon($icon)</code></li>
			<li>SASS mixin generated: <code>nice-icon($icon)</code></li>
		</ul>

		{% source "scss", "SASS Example" -%}
			.something {
				@include nice-icon(search);
			}
			.something-else:before {
				content: nice-icon(search);
			}
		{%- endsource %}

	</section>

{% endblock %}
