{% extends "../layouts/_layout.njk" %}
{% set title = "Style Guide" %}
{% set breadcrumbs = [{ title: title }] %}

{% macro item(title, href, description) %}
	<div class="grid__item one-whole tablet--one-third desktop--one-quarter">
		<h4><a href="{{ href }}">{{ title }}</a></h4>
		<p>
			{{ description }}
		</p>
	</div>
{% endmacro %}

{% block body %}

	<div class="container">
		<h1>NICE Style guide</h1>

		<p class="lede">
			This guide shows how to make your service look consistent with the rest of NICE.
		</p>

		<div class="grid">

			{{ item("Layout", "/style-guide/layout", "Containers, grid and layouts") }}

			{{ item("Typography", "/style-guide/typography", "Headings, paragraphs, featured text, quotations, lists, links") }}

			{{ item("Buttons", "/style-guide/buttons", "Button text, button blocks") }}

			{{ item("Colour", "/style-guide/colour", "Colour contrast, SASS variables, colour palettes") }}

			{{ item("Iconography", "/style-guide/iconography", "Icons and their usage, how to create icons") }}

		</div>
	</div>

{% endblock %}

