{% extends "../layouts/_layout.njk" %}
{% set title = "Style guide" %}

{% block body %}

	<div class="container">
		<h1>NICE Style guide</h1>

		<p class="lede">
			This guide shows how to make your service look consistent with the rest of NICE.
		</p>

		<div class="grid">
			<div class="grid__item one-quarter lap--one-half palm--one-whole">
				<h2><a href="/style-guide/layout">Layout</a></h2>
				<p>
					Grid unit proportions, gutters and spacing.
				</p>
			</div>
			<div class="grid__item one-quarter lap--one-half palm--one-whole">
				<h2><a href="/style-guide/typography">Typography</a></h2>
				<p>
					Headings, body text, links, lists, inset text, hidden text.
				</p>
			</div>
			<div class="grid__item one-quarter lap--one-half palm--one-whole">
				<h2><a href="/style-guide/colour">Colour</a></h2>
				<p>
					Colour contrast, Sass variables, colour palettes.
				</p>
			</div>
			<div class="grid__item one-quarter lap--one-half palm--one-whole">
				<h2><a href="/style-guide/components">Components</a></h2>
				<p>
					Breadcrumbs
				</p>
			</div>
		</div>
	</div>

{% endblock %}
