{% extends "./_style-guide-layout.njk" %}
{% set title = "Style guide" %}

{% block body %}

	<div class="container">
		<h1>NICE Style guide</h1>

		<p class="lede">
			This guide shows how to make your service look consistent with the rest of NICE.
		</p>
	</div>

{% endblock %}

