{% extends "./_style-guide-layout.njk" %}
{% set title = "Grid & layout" %}

{% block main %}

	<h1>Grid &amp; layout</h1>

	<nav role="navigation">
		<ul>
			<li><a href="#containers">Containers</a></li>
			<li><a href="#basics">Basic grid</a></li>
			<li><a href="#nested">Nested grids</a></li>
			<li><a href="#responsive">Responsive grids</a></li>
			<li><a href="#features">Other grid features</a></li>
			<li><a href="#semantic">Semantic classes</a></li>
		</ul>
	</nav>

	<section id="containers">
		<h2>Containers</h2>

		<ul>
			<li>Most content should be wrapped in a <code>.container</code> div</li>
			<li>Only hero banners etc should be full width, for impact</li>
			<li>Containers have a max width and centrally aligned horizontally</li>
			<li>Can extend it in SASS via the <code>%container</code> placeholder</li>
			<li>Not designed to be nested</li>
		</ul>

		{% example "html" -%}
			<div class="container">
				<p>Some content e.g. a grid goes here</p>
			</div>
		{%- endexample %}

	</section>

	<section id="basics">
		<h2>Basic grid</h2>

		<ul>
			<li>12 column grid</li>
			<li>Use the <code>data-g</code> attribute to specify column widths</li>
			<li>E.g. <code>data-g="6"</code> 6 of 12 columns</li>
			<li>Alternatively use more 'human' names like <code>data-g="one-half"</code> or <code>data-g="two-fifths"</code></li>
		</ul>

		<h3>Whole</h3>

		{% example "html" -%}
			<div class="grid">
				<div data-g="one-whole"><div class="grid-example-item">1 whole</div></div>
			</div>
		{%- endexample %}

		<h3>Halves</h3>

		{% example "html" -%}
			<div class="grid">
				<div data-g="6"><div class="grid-example-item">1/2</div></div>
				<div data-g="one-half"><div class="grid-example-item">1/2</div></div>
			</div>
		{%- endexample %}

		<h3>Thirds</h3>

		{% example "html" -%}
			<div class="grid">
				<div data-g="4"><div class="grid-example-item">1/3</div></div>
				<div data-g="two-thirds"><div class="grid-example-item">2/3</div></div>
			</div>
		{%- endexample %}

		<h3>Quarters</h3>

		{% example "html" -%}
			<div class="grid">
				<div data-g="3"><div class="grid-example-item">1/4</div></div>
				<div data-g="3"><div class="grid-example-item">1/4</div></div>
				<div data-g="3"><div class="grid-example-item">1/4</div></div>
				<div data-g="3"><div class="grid-example-item">1/4</div></div>

				<div data-g="one-quarter"><div class="grid-example-item">1/4</div></div>
				<div data-g="one-quarter"><div class="grid-example-item">1/4</div></div>
				<div data-g="two-quarters"><div class="grid-example-item">2/4</div></div>

				<div data-g="one-quarter"><div class="grid-example-item">1/4</div></div>
				<div data-g="three-quarters"><div class="grid-example-item">3/4</div></div>
			</div>
		{%- endexample %}

		<h3>Fifths</h3>

		{% example "html" -%}
			<div class="grid">
				<div data-g="one-fifth"><div class="grid-example-item">1/5</div></div>
				<div data-g="two-fifths"><div class="grid-example-item">2/5</div></div>
				<div data-g="two-fifths"><div class="grid-example-item">2/5</div></div>

				<div data-g="two-fifths"><div class="grid-example-item">2/5</div></div>
				<div data-g="three-fifths"><div class="grid-example-item">3/5</div></div>

				<div data-g="one-fifth"><div class="grid-example-item">1/5</div></div>
				<div data-g="four-fifths"><div class="grid-example-item">4/5</div></div>
			</div>
		{%- endexample %}

	</section>

	<section id="nested">
		<h2>Nested grids</h2>

		<ul>
			<li>Grids can be nested infinitely</li>
		</ul>

		{% example "html" -%}
			<div class="grid">
				<div data-g="one-half">
					<div class="grid-example-item">
						<div>1/2</div>
						<div class="grid">
							<div data-g="one-half">
								<div class="grid-example-item">1/2</div>
							</div>
							<div data-g="one-half">
								<div class="grid-example-item">
									<div>1/2</div>
									<div class="grid">
										<div data-g="one-half">
											<div class="grid-example-item">1/2</div>
										</div>
										<div data-g="one-half">
											<div class="grid-example-item">1/2</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div data-g="one-half">
					<div class="grid-example-item">
						<div>1/2</div>
						<div class="grid">
							<div data-g="one-half">
								<div class="grid-example-item">1/2</div>
							</div>
							<div data-g="one-half">
								<div class="grid-example-item">1/2</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		{%- endexample %}

	</section>

	<section id="responsive">
		<h2>Responsive grids</h2>

		<ul>
			<li>Grids are mobile first</li>
			<li>Use <code>xs:</code>, <code>sm:</code>, <code>md:</code>, <code>lg:</code> and <code>xl:</code> for different screen size</li>
		</ul>

		{% example "html" -%}
			<div class="grid">
				<div data-g="12 sm:6 md:4 lg:one-third">
					<div class="grid-example-item">*</div>
				</div>
				<div data-g="12 sm:6 md:4 lg:one-third">
					<div class="grid-example-item">*</div>
				</div>
				<div data-g="12 sm:6 md:4 lg:one-third">
					<div class="grid-example-item">*</div>
				</div>
				<div data-g="12 sm:6 md:4 lg:one-third">
					<div class="grid-example-item">*</div>
				</div>
				<div data-g="12 sm:6 md:4 lg:one-third">
					<div class="grid-example-item">*</div>
				</div>
			</div>
		{%- endexample %}

	</section>

	<section id="features">
		<h2>Other grid features</h2>

		<p>Use BEM modifiers for grids features:</p>

		<h3>Reversed</h3>

		<p>The <code>.grid--rev</code> modifier renders the grid it in the opposite order to the source order</p>

		{% example "html" -%}
			<div class="grid grid--rev">
				<div data-g="one-half">
					<div class="grid-example-item">first in the source</div>
				</div>
				<div data-g="one-half">
					<div class="grid-example-item">second in the source</div>
				</div>
			</div>
		{%- endexample %}

		<h3>Gutterlesss</h3>

		<p>Remove the gutter between grid items with the <code>.grid--gutterless</code> modifier</p>

		{% example "html" -%}
			<div class="grid grid--gutterless">
				<div data-g="one-quarter">
					<div class="grid-example-item">full</div>
				</div>
				<div data-g="one-quarter">
					<div class="grid-example-item">full</div>
				</div>
				<div data-g="one-quarter">
					<div class="grid-example-item">full</div>
				</div>
				<div data-g="one-quarter">
					<div class="grid-example-item">full</div>
				</div>
			</div>
		{%- endexample %}

		<h3>Right</h3>

		<p>Right aligned grids with the <code>.grid--right</code> modifier</p>

		{% example "html" -%}
			<div class="grid grid--right">
				<div data-g="one-quarter">
					<div class="grid-example-item">right</div>
				</div>
				<div data-g="one-quarter">
					<div class="grid-example-item">right</div>
				</div>
			</div>
		{%- endexample %}

		<h3>Centered</h3>

		<p>Centrally aligned grids with the <code>.grid--center</code> modifier</p>

		{% example "html" -%}
			<div class="grid grid--center">
				<div data-g="one-quarter">
					<div class="grid-example-item">centered</div>
				</div>
				<div data-g="one-quarter">
					<div class="grid-example-item">centered</div>
				</div>
			</div>
		{%- endexample %}

		<h3>Push/pull</h3>

		<p>Pull grid items left with <code>pull:X</code> or push them right with <code>push:X</code></p>

		{% example "html" -%}
			<div class="grid grid--center">
				<div data-g="3 pull:1">
					<div class="grid-example-item">pull</div>
				</div>
				<div data-g="3 push:1">
					<div class="grid-example-item">push</div>
				</div>
			</div>
		{%- endexample %}

		<p>Or push/pull on certain screen sizes:</p>

		{% example "html" -%}
			<div class="grid grid--center">
				<div data-g="6 md:3 md:pull:1">
					<div class="grid-example-item">pull from md</div>
				</div>
				<div data-g="6 md:3 md:push:1">
					<div class="grid-example-item">push from md</div>
				</div>
			</div>
		{%- endexample %}

		<h3>Middle</h3>

		<p>Vertically align grid items to the middle with the <code>.grid--middle</code> modifier</p>

		{% example "html" -%}
			<div class="grid grid--middle">
				<div data-g="6">
					<div class="grid-example-item">deep<br/>grid</div>
				</div>
				<div data-g="6">
					<div class="grid-example-item">middle</div>
				</div>
			</div>
		{%- endexample %}

		<h3>Bottom</h3>

		<p>Vertically align grid items to the bottom with the <code>.grid--bottom</code> modifier</p>

		{% example "html" -%}
			<div class="grid grid--bottom">
				<div data-g="6">
					<div class="grid-example-item">deep<br/>grid</div>
				</div>
				<div data-g="6">
					<div class="grid-example-item">bottom</div>
				</div>
			</div>
		{%- endexample %}

		<h3>Debug</h3>

		<p>Debug grids in development with an outline with the <code>.grid--debug</code> modifier</p>

		{% example "html" -%}
			<div class="grid grid--debug">
				<div data-g="6">
					<div class="grid-example-item">debug</div>
				</div>
				<div data-g="6">
					<div class="grid-example-item">debug</div>
				</div>
			</div>
		{%- endexample %}

		<p>Or debug all grids in an ancestor with the <code>.debug-grid</code> class (apply to the body to debug all grids):</p>

		{% example "html" -%}
			<div class="debug-grid">
				<div class="grid">
					<div data-g="6">
						<div class="grid-example-item">debug</div>
					</div>
					<div data-g="6">
						<div class="grid-example-item">debug</div>
					</div>
				</div>
				<div class="grid grid--center">
					<div data-g="3">
						<div class="grid-example-item">debug</div>
					</div>
					<div data-g="3">
						<div class="grid-example-item">debug</div>
					</div>
				</div>
			</div>
		{%- endexample %}

	</section>

{% endblock %}
