{% extends "../layouts/_sidebar.njk" %}
{% set title = "Layout" %}

{% block sidebar %}

	{% include "partials/style-guide-nav.njk" %}

{% endblock %}


{% block main %}

	<h1>Layout</h1>

	<nav>
		<ul>
			<li><a href="#containers">Containers</a></li>
			<li><a href="#grid">Grid</a></li>
		</ul>
	</nav>

	<section id="usage">
		<h2>Containers</h2>

	</section>


	<section id="groups">
		<h2>Grid</h2>



	</section>

{% endblock %}
