{% extends "../layouts/_sidebar.njk" %}
{% set title = "Navigation" %}

{% block main %}

	<h1>Navigation</h1>

	<ul>
		<li><a href="#nav">Nav</a></li>
		<li><a href="#navbar">Navbar</a></li>
	</ul>

	<section id="nav">

		<h2>Nav</h2>

		{% example -%}
		<nav class="nav" role="nav">
			<ul class="nav__pills nav__pills-justified">
				<li>One</li>
				<li>Two</li>
				<li>Three</li>
			</ul>
		</nav>
		{%- endexample %}

	</section>

	<section id="navbar">

		<h2>Navbar</h2>

		{% example -%}
			<nav class="navbar" role="nav">
				<div class="navbar__inner">
					<a class="navbar__brand"></a>
					<ul class="navbar__nav">
						<li class="navbar__item navbar__item--active"><a href="/">NICE Experience</a></li>
						<li class="navbar__item"><a href="/style-guide/">Style guide</a></li>
						<li class="navbar__item"><a href="/sass/">SASS</a></li>
						<li class="navbar__item"><a href="/javascript/">JavaScript</a></li>
					</ul>
				</div>
			</nav>
		{%- endexample %}
	</section>

{% endblock %}
