{% extends "./_style-guide-layout.njk" %}
{% set title = "Typography" %}

{% block main %}

	<h1>Typography</h1>

	<nav>
		<ul>
			<li><a href="#intro">Intro</a></li>
			<li><a href="#headings">Headings</a></li>
			<li><a href="#links">Links</a></li>
			<li><a href="#lists">Lists</a></li>
			<li><a href="#quotations">Quotations</a></li>
		</ul>
	</nav>

	<section id="intro">
		<h2>Intro</h2>

		<ul>
			<li>Use semantic typographic elements</li>
			<li>Use a semantic typographic structure and hierarchy</li>
		</ul>

		{% example -%}
			<h1>Heading 1</h1>
			<h2>Heading 2</h2>
			<p>Lorem <strong>ipsum</strong> dolor sit amet, <em>consectetur</em> adipiscing elit. Proin pretium, tortor non rhoncus rhoncus 12<sup>th</sup>, libero turpis varius felis, sit amet rutrum massa dolor id velit. Etiam dignissim lacus <a href="#">vitae lacinia</a> vulputate.</p>
			<h3>Heading 3</h3>
			<p>Here is a list of some things:</p>
			<ul>
				<li>The first thing</li>
				<li>And another</li>
				<li>Last thing</li>
			</ul>
			<h2>And an ordered list of things</h2>
			<ol>
				<li>The first thing</li>
				<li>And another</li>
				<li>Last thing</li>
			</ol>
		{%- endexample %}
	</section>

	<section id="headings">
		<h2>Headings</h2>

		<ul>
			<li>use Lato Light (200)</li>
			<li>use sentence case for headings</li>
			<li>use headings consistently to create a clear hierarchy</li>
		</ul>

		{% example -%}
			<h1>Heading 1</h1>
			<h2>Heading 2</h2>
			<h3>Heading 3</h3>
			<h4>Heading 4</h4>
			<h5>Heading 5</h5>
			<h6>Heading 6</h6>
		{%- endexample %}
	</section>

	<section id="links">

		<h2>Links</h2>

		<ul>
			<li>Use <code>rel="external"</code> for external links</li>
		</ul>

		{% example -%}
			<p><a href="#">A link on its own</a></p>
			<p>This is some text with <a href="#">a link inside it</a>.</p>
		{%- endexample %}

	</section>

	<section id="lists">

		<h2>Lists</h2>

		<h3>Default lists</h3>

		{% example -%}
			<p>Here is a list:</p>
			<ul>
				<li>Item 1</li>
				<li>Item 2</li>
				<li><a href="#">Item 3</a></li>
			</ul>
		{%- endexample %}

		<h3>Featured lists</h3>

		<ul>
			<li>Use featured lists when you want more impact</li>
			<li>Try to stick to a maximum of 4 items in a featured list</li>
		</ul>

		{% example -%}
			<p>Here is a featured list:</p>
			<ul class="list list--featured">
				<li>Item 1</li>
				<li>Item 2</li>
				<li>Item 3</li>
			</ul>
		{%- endexample %}

	</section>

	<section id="quotations">
		<h2>Quotations</h2>

		<ul>
			<li>use a citation where possible</li>
		</ul>

		<h3>Simple block quotation</h3>

		{% example "html" -%}
			<blockquote>
				<p>In 2015, 74% of staff rated NICE as a good place to work.</p>
			</blockquote>
		{%- endexample %}

		<h3>Block quotation w/ citation</h3>

		{% example "html" -%}
			<blockquote>
				<p>Older people using home care services have a home care plan that identifies how their personal priorities and outcomes will be met.</p>
				<footer>
					- <cite><a href="https://www.nice.org.uk/guidance/qs123">Home care for older people, NICE quality standard</a></cite>
				</footer>
			</blockquote>
		{%- endexample %}

		<h3>Block quotation w/ citation</h3>

		{% example "html" -%}
			<blockquote>
				<p>We do the right work in the right way at NICE. We mix content, dev, design and research at the start to solve user problems.  We produce things quickly, get data and refine. </p>
				<footer>
					<cite><strong>Dafydd</strong> - Content Team</cite>
				</footer>
			</blockquote>
		{%- endexample %}

		<h3>Quotation within a grid</h3>

		<p>Quotations can be nested within grids, for example alongside an image:</p>

		{% example "html" -%}
			<div class="grid">
				<div class="grid__item one-whole tablet--one-half">
					<img src="//placehold.it/640x360" alt="A placeholder" />
				</div>
				<div class="grid__item one-whole tablet--one-half">
					<blockquote>
						<p>This is a quotation inside a grid</p>
						<footer>
							<cite>With a source</cite>
						</footer>
					</blockquote>
				</div>
			</div>
		{%- endexample %}

	</section>

{% endblock %}
