{% extends "./_style-guide-layout.njk" %}
{% set title = "Typography" %}

{% block main %}

	<h1>Typography</h1>

	<nav>
		<ul>
			<li><a href="#headings">Headings</a></li>
			<li><a href="#paragraphs">Paragraphs</a></li>
			<li><a href="#quotations">Quotations</a></li>
			<li><a href="#links">Links</a></li>
			<li><a href="#lists">Lists</a></li>
		</ul>
	</nav>

	<p>
		NICE has published a style guide for writing as a corporate document on the NICE website that tells you NICE's standard way to express concepts, spell words and format phrases. This should be followed wherever possible when writing content for NICE:
	</p>

	<p>
		<a href="https://www.nice.org.uk/corporate/ecd1/" target="_blank" rel="external" class="btn btn--primary">
			NICE style guide
		</a>
	</p>

	<section id="headings">
		<h2>Headings</h2>

		<ul>
			<li>use Lato Bold (700)</li>
			<li>use sentence case for headings</li>
			<li>use headings consistently to create a clear hierarchy</li>
			<li>don't skip headings; use classes like <code>.h1, .h2</code> etc or mixins like <code>@include h1</code> etc if you need a visual difference in heading</li>
		</ul>

		{% example -%}
			<h1>How quickly daft jumping zebras vex</h1>
			<h2>The five boxing wizards jump quickly</h2>
			<h3>Pack my box with five dozen liquor jugs</h3>
			<h4>The quick brown fox jumps over the lazy dog</h4>
			<h5>Amazingly few discotheques provide jukeboxes</h5>
			<h6>Whenever the black fox jumped the squirrel gazed suspiciously</h6>
		{%- endexample %}
	</section>

	<section id="paragraphs">
		<h2>Paragraphs</h2>

		<ul>
			<li>stick to 10 words or 70 characters per line as a guide</li>
			<li>use <code>class="lead"</code> for leading, important, introductory paragraphs</li>
			<li>use 1 lead per page</li>
		</ul>

		{% example -%}
			<p class="lead lead--drop-cap">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. In nibh augue, pulvinar nec condimentum in, vulputate a ipsum. Nulla facilisi. Sed et ex id nulla consequat bibendum nec quis nisi. Sed fermentum nisi nec velit finibus.
			</p>
			<p class="lead">
				Curabitur dapibus risus at sem fermentum rhoncus sit amet vitae lectus. Morbi molestie, tortor et ultrices eleifend, nisi velit suscipit sem, et pulvinar nunc sapien sit amet risus.
			</p>
			<p>
				Donec tincidunt pretium mi, sit amet mattis leo auctor quis. In hac habitasse platea dictumst. Maecenas condimentum fringilla arcu eu convallis. Maecenas varius, orci ut fringilla varius, nibh felis sodales nunc, id ornare urna ex et urna.
			</p>
		{%- endexample %}
	</section>

	<section id="quotations">
		<h2>Quotations</h2>

		<ul>
			<li>use a citation where possible</li>
		</ul>

		<h3>Simple block quotation</h3>

		{% example "html" -%}
			<blockquote class="quote">
				<p>In 2015, 74% of staff rated NICE as a good place to work.</p>
			</blockquote>
		{%- endexample %}

		<h3>Block quotation w/ citation</h3>

		{% example "html" -%}
			<blockquote class="quote">
				<p>We do the right work in the right way at NICE. We mix content, dev, design and research at the start to solve user problems.  We produce things quickly, get data and refine. </p>
				<footer>
					<cite><strong>Dafydd</strong> - Content Team</cite>
				</footer>
			</blockquote>
		{%- endexample %}

		<!--<h3>Quotation within a grid</h3>

		<p>Quotations can be nested within grids, for example alongside an image:</p>

		{% example "html" -%}
			<div class="grid">
				<div class="grid__item one-whole tablet--one-half">
					<img src="//placehold.it/640x360" alt="A placeholder" />
				</div>
				<div class="grid__item one-whole tablet--one-half">
					<blockquote class="quote">
						<p>This is a quotation inside a grid</p>
						<footer>
							- <cite>With a source</cite>
						</footer>
					</blockquote>
				</div>
			</div>
		{%- endexample %}-->

	</section>

	<section id="links">

		<h2>Links</h2>

		<ul>
			<li>links should follow the same sizing as containing copy</li>
			<li>use underline and colour to maximise <a href="http://www.jnd.org/dn.mss/affordances_and.html" target="_blank" rel="external">perceived affordance</a></li>
			<li>use <code>rel="external"</code>, <code>rel="next"</code> and <code>rel="previous"</code> where applicable</li>
			<li>visually distinguish external links</li>
		</ul>

		{% example -%}
			<p><a href="#">A link on its own</a></p>
			<p>This is some text with <a href="#" rel="external">an external link</a> inside it.</p>
		{%- endexample %}

	</section>

	<section id="lists">

		<h2>Lists</h2>

		<ul>
			<li>
				follow the <a href="https://www.nice.org.uk/corporate/ecd1/chapter/punctuation-and-bullet-points#bullet-points" target="_blank" rel="external">bullet points guide lines</a> on the NICE style guide.
			</li>
			<li>
				use unordered or ordered lists appropriately to semantically define content
			</li>
		</ul>

		<h3>Default lists</h3>

		{% example -%}
			<p>This is an unordered list:</p>
			<ul>
				<li>Item 1</li>
				<li>Item 2</li>
				<li><a href="#">Item 3</a></li>
			</ul>
			<p>This is an ordered list:</p>
			<ol>
				<li><a href="#" target="_blank" rel="external">Item 1</a></li>
				<li>Item 2</li>
				<li>Item 3</li>
			</ul>
		{%- endexample %}

		<h3>Featured lists</h3>

		<ul>
			<li>use featured lists when you want more impact</li>
			<li>limit to just 1 or 2 per page for impact</li>
			<li>try to stick to a maximum of 4 items in a featured list.</li>
		</ul>

		{% example -%}
			<p>This is a featured list:</p>
			<ul class="list list--featured">
				<li>Item 1</li>
				<li>Item 2</li>
				<li>Item 3</li>
			</ul>
		{%- endexample %}

	</section>

{% endblock %}
