////
/// @group components
////

@import '~@nice-digital/nds-core/scss/core';

/// Stacked navigation component.
/// Expands to fill the available space.
/// Usually full width on mobile and 1/3 on wider screens.
.stacked-nav {
  background: $nds-colour-nice-white;
  border: 1px solid $nds-colour-border;
  margin: em(0 0 $nds-spacing-large);

  // The title nav link
  &__root {
    @include nds-font-size(h6);
    border-bottom: 1px solid $nds-colour-border;
    font-weight: bold;
    margin: 0;
    max-width: none;
    position: relative;
    text-decoration: none;
    a {
      color: $nds-colour-text;
    }
    &--no-link {
      padding: em($nds-spacing-small);
    }
  }

  &__hint {
    color: $colour-text;
    display: block;
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__list-item {
    border-top: 1px solid $nds-colour-border;
  }

  a {
    color: $nds-colour-link;
    display: block;
    padding: em($nds-spacing-small);
    position: relative;
    text-decoration: none;

    &[aria-current='page'] {
      background: $nds-colour-nice-grey-3;
      font-weight: bold;

      &:before {
        background: $nds-colour-icons;
        content: '';
        display: block;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: em($nds-spacing-x-small);
      }
    }

    &:hover {
      background: $nds-colour-nice-grey-2;
    }

    &:active {
      background: $nds-colour-icons;
      color: $nds-colour-link-inverse;
    }
  }

  @media print {
    display: none;
  }
}
