////
/// @group helpers
////

/// Make an element adapt its height to fit floated children, and clear floats in both directions.
/// @since 0.1.0
@mixin clearfix {
  &:before,
  &:after {
    content: ' ';
    display: table;
  }

  &:after {
    clear: both;
  }
}

/// Placeholder for clearfix
/// @since 0.1.0
%clearfix {
  @include clearfix;
}

/// Clearfix class
/// @since 0.1.0
.clearfix {
  @extend %clearfix;
}
