@charset 'utf-8';

// Reset
@import 'vendor/normalize';

// Vendor
@import 'vendor/scut',
'vendor/math',
'vendor/is',
'vendor/mq';

// Settings
@import 'settings/settings';

// Grid system
@import 'vendor/csswizardry-grids';

// Helpers
@import 'helpers/helpers';

// Typography
@import 'typography/typography';

// Components
@import 'components/components';


.icon-test {
  @include nice-icon(prescribing);
}
