{% macro tabs(tabs) %}

	<div class="tabs" data-tabs>
		<ul class="tabs__list" role="tablist">
			{% for tab in tabs %}
				<li class="tabs__tab" role="presentation">
					<button class="tabs__tab-btn" type="button" role="tab">
						{{ tab.title }}
					</button>
				</li>
			{% endfor %}
		</ul>
		<div class="tabs__content">
			{% for tab in tabs %}
				<div class="tabs__pane" role="tabpanel">
					{{ tab.content | safe }}
				</div>
			{% endfor %}
		</div>
	</div>

{% endmacro %}
