{% macro ctaBar(ctaBar) %}

	<div class="cta-bar">
		<div class="cta-bar__container">
			<div class="cta-bar__inner">
				<div class="cta-bar__text">
					<h2 class="cta-bar__title">{{ ctaBar.title }}</h2>
					<p class="cta-bar__intro">{{ ctaBar.body }} test test test test test test</p>
				</div>
				<div class="cta-bar__actions">
					<a href="{{ ctaBar.cta.href }}" class="btn btn--inverse">{{ ctaBar.cta.text }}</a>
				</div>
			</div>
		</div>
	</div>

{% endmacro %}
