@import '~@nice-digital/nds-core/scss/core';

.column-list {
  list-style: none;
  margin: 0 0 rem($nds-spacing-large);
  max-width: 100%;

  &--boxed {
    background: $nds-colour-true-white;
    border: 1px solid $nds-colour-border;

    li {
      padding: rem(
        $nds-spacing-small
      ); // Make room for the anchor focus outline
    }

    a {
      padding: rem($nds-spacing-x-small 0);
    }
  }

  li {
    break-inside: avoid;
    display: block;
  }

  @include mq($from: md) {
    column-count: 2;
  }

  @include mq($from: lg) {
    column-count: 3;

    &--two-columns {
      column-count: 2;
    }
  }
}
