@use '@nice-digital/nds-core/scss/colours';
@use '@nice-digital/nds-core/scss/media-queries';
@use '@nice-digital/nds-core/scss/spacing';
@use '@nice-digital/nds-core/scss/typography';
@use '@nice-digital/nds-core/scss/utils';

.column-list {
  list-style: none;
  margin: 0 0 utils.rem(spacing.$large);
  max-width: 100%;

  &--boxed {
    background: colours.$column-list-boxed-background;
    border: 1px solid colours.$border;

    li {
      // Make room for the anchor focus outline
      padding: utils.rem(spacing.$small spacing.$medium);
    }

    a {
      padding: utils.rem(spacing.$x-small 0);
    }
  }

  li {
    break-inside: avoid;
    display: block;
  }

  @include media-queries.mq($from: md) {
    column-count: 2;
  }

  @include media-queries.mq($from: lg) {
    column-count: 3;

    &--two-columns {
      column-count: 2;
    }
  }
}
