////
/// @group components
////

/// Hero banner component.
/// @since 0.2.0
.hero {
  @include links-inverse;
  background: $colour-hero-background;
  color: $colour-text-inverse;
  margin: rem(0 0 $spacing-medium);
  overflow: hidden;
  //padding: rem(0 0 $spacing-large);

  &__container {
    @extend %container;
  }

  &__body {
    @include clearfix;
    margin-top: rem($spacing-large);
    padding: rem(0 0 $spacing-large);
  }

  // Container for title, lead and actions
  &__copy {
    margin-bottom: rem($spacing-large);
  }

  &__title {
    @include h1;
  }

  &__intro {
    @include lead;
  }

  // Optional footer
  &__footer {
    border-top: rem($spacing-xx-small) solid $colour-hero-border;
    padding: rem($spacing-medium 0);

    p,
    ul {
      margin: 0;
    }
  }

  @include mq($from: md) {
    &__copy {
      float: left;
      margin-bottom: 0;
      width: 55%;
    }

    &__extra {
      float: right;
      width: 35%;
    }
  }
}
