////
/// @group components
////

@import '~@nice-digital/nds-core/scss/core';

// Checkbox/radio button option (label)
.filter-option {
  background: $nds-colour-nice-white;
  border-top: 1px solid $nds-colour-nice-grey-2;
  color: $nds-colour-text;
  cursor: pointer;
  display: block;
  line-height: 1.2;
  padding: rem(
    $nds-spacing-small $nds-spacing-small $nds-spacing-small $nds-spacing-large
  );
  position: relative;
  text-decoration: none;

  // An option can be an anchor or a label
  &:hover,
  &:visited,
  &:active,
  &:focus {
    color: $nds-colour-text;
  }

  &:hover {
    background: $nds-colour-nice-grey-3;
  }

  input {
    float: left;
    height: rem($nds-spacing-medium);
    margin-left: rem(-($nds-spacing-medium + $nds-spacing-small));
    margin-top: rem($nds-spacing-xx-small);
    width: rem($nds-spacing-medium);

    &:focus {
      @include nds-default-focus-style;
    }
  }

  &__text {
    &:before {
      background: $nds-colour-nice-white;
      border: 1px solid $nds-colour-nice-dark-grey;
      box-sizing: border-box;
      content: '';
      cursor: pointer;
      height: rem($nds-spacing-medium);
      left: rem($nds-spacing-small);
      pointer-events: none;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: rem($nds-spacing-medium);
    }

    &:after {
      background: transparent;
      border: solid;
      border-top-color: transparent;
      border-width: rem(0 0 $nds-spacing-xx-small $nds-spacing-xx-small);
      content: '';
      cursor: pointer;
      height: 0.4rem;
      left: 0.8rem;
      opacity: 0;
      pointer-events: none;
      position: absolute;
      top: 45%;
      transform: rotate(-45deg) translateY(-50%);
      width: 0.7rem;
    }
  }

  input:focus + &__text {
    &:before {
      @include nds-default-focus-style;
    }
  }
  input:checked + &__text {
    &:after {
      opacity: 1;
    }
  }
}
