////
/// @group components
////

@use '@nice-digital/nds-core/scss/colours';
@use '@nice-digital/nds-core/scss/focus';
@use '@nice-digital/nds-core/scss/media-queries';
@use '@nice-digital/nds-core/scss/spacing';
@use '@nice-digital/nds-core/scss/typography';
@use '@nice-digital/nds-core/scss/utils';

@mixin _filter-panel-heading-button {
  @include typography.font-size(h5);
  appearance: none;
  background: colours.$nice-grey-2;
  border: 0;
  color: colours.$text;
  cursor: pointer;
  display: block;
  font-weight: bold;
  padding: utils.rem(spacing.$small);
  position: relative;
  text-align: left;
  text-decoration: none;
  width: 100%;

  &:visited,
  &:hover,
  &:active,
  &:focus {
    color: colours.$text;
  }

  &:focus {
    @include focus.default-focus-style;
  }
}

.filter-panel {
  margin: utils.rem(0 0 spacing.$medium 0);

  // Heading can be one of:
  // - heading for server side rendering for non-js
  // - button to collapse/expand filter panel client side
  // - anchor if you're progressively enhancing
  &__heading {
    font-family: typography.get-font-family(sans);
    margin: 0;
    padding: 0;

    a,
    button {
      @include _filter-panel-heading-button;
    }

    @include utils.when-is(a, button) {
      @include _filter-panel-heading-button;
    }
  }

  &__heading-icon {
    float: right;
    &--expanded {
      transform: rotate(180deg);
    }
  }

  &__body {
    background: colours.$nice-grey-3;
    padding: utils.rem(spacing.$medium);

    &[aria-hidden='true'] {
      display: none;
    }
  }

  &__submit {
    margin: utils.rem(spacing.$medium 0 0);
  }

  @include media-queries.mq($from: sm) {
    &__heading {
      background: none;
      margin-bottom: utils.rem(spacing.$medium);
      padding: 0;

      a,
      button {
        background: none;
        padding: 0;

        &:after {
          display: none;
        }
      }

      @include utils.when-is(a, button) {
        background: none;
        padding: 0;

        &:after {
          display: none;
        }
      }
    }

    &__body {
      background: none;
      padding: 0;
    }
  }
}
