@use '@nice-digital/nds-core/scss/colours';
@use '@nice-digital/nds-core/scss/spacing';
@use '@nice-digital/nds-core/scss/utils';
@use '@nice-digital/nds-core/scss/visibility';
@use './filter-group';

.inputFilterBox {
  border: 1px solid colours.$filter-group-border;
  margin-top: utils.rem(spacing.$medium);

  // Wrapper for the input and button
  &__controls {
    padding: utils.rem(spacing.$small);

    label {
      @include visibility.invisible;
    }

    &[aria-hidden='true'] {
      display: none;
    }
  }

  // Heading used for collapsing/expanding the filter group
  &__heading {
    // stylelint-disable scss/at-extend-no-missing-placeholder
    @extend .filter-group__heading;
  }
}
