////
/// @group components
////
@use '@nice-digital/nds-core/scss/layout';
@use '@nice-digital/nds-core/scss/media-queries';
@use '@nice-digital/nds-core/scss/spacing';
@use '@nice-digital/nds-core/scss/typography';
@use '@nice-digital/nds-core/scss/utils';

/// Filter summary info shows at the top of a list of results and
/// contains the count and sort options.
/// .results-info deprecated in 1.0.0, use .filter-summary
.filter-summary,
.results-info {
  @include layout.clearfix;
  margin: utils.rem(0 0 spacing.$medium);

  &__count {
    @include typography.font-size(h5);
    font-weight: 600;
    margin: utils.rem(0 0 spacing.$small);

    h2,
    h3 {
      font-family: typography.get-font-family(sans);
    }
  }

  &__sorting {
    float: right;
  }

  &__sort-label {
    margin: 0 utils.rem(spacing.$medium) 0 0;
  }

  &__select {
    padding: utils.rem(spacing.$small);
  }

  &__filters {
    clear: both;
    list-style: none;
    margin: 0;
    padding-top: utils.rem(spacing.$small);
  }

  @include media-queries.mq($from: sm) {
    margin: utils.rem(0 0 spacing.$medium);

    &__count {
      float: left;
      margin: 0;
      width: 50%;
    }

    &__filter {
      display: inline-block;
      margin-right: utils.rem(spacing.$x-small);
    }
  }
}
