////
/// @group visibility
////

/// Portrait media query
@mixin portrait {
  @media screen and (orientation: portrait) {
    @content;
  }
}

/// Landscape media query
@mixin landscape {
  @media screen and (orientation: landscape) {
    @content;
  }
}

/// Makes an element visually hidden, but still accessible to keyboards and assistive devices.
@mixin invisible {
  clip: rect(0, 0, 0, 0);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  width: 1px;
}

/// Reverses the CSS output created by the `invisible()` mixin.
@mixin invisible-off {
  clip: auto;
  height: auto;
  overflow: visible;
  position: static !important;
  width: auto;
}

/// Hide the element when printing
/// @output the CSS to hide on the print stylesheet
/// @since 1.0.0
@mixin hide-print {
  @media print {
    display: none !important;
  }
}

/// Only show the element when printing (not for other media)
/// @output the CSS to hide on all media except print
/// @since 1.0.0
@mixin show-print {
  display: none !important;
  @media print {
    display: block !important;
  }
}

/// Remove an appended link URL
/// @output removes content attribute
/// @since 1.0.0
@mixin remove-appended-print-link {
  @media print {
    &:after {
      content: none !important;
    }
  }
}
