{% extends "../layouts/_sidebar.njk" %}
{% set breadcrumbs = [{ title: "UI Components", href: "/components/" }, { title: title }] %}
{% set title = title + " | UI Components" %}

{% block sidebar %}

	<nav role="navigation">
		<ul>
			<li><a href="/components/">Components</a></li>
			<li><a href="/components/alpha-beta-live">Alpha/beta/live</a></li>
			<li><a href="/components/breadcrumbs">Breadcrumbs</a></li>
			<li><a href="/components/navigation">Navigation</a></li>
			<li><a href="/components/tabs">Tabs</a></li>
		</ul>
	</nav>

{% endblock %}
