{% extends "./_components-layout.njk" %}
{% set title = "Breadcrumbs" %}

{% block main %}

	<h1>Breadcrumbs</h1>

	<section id="breadcrumbs">

		<ul>
			<li>Use a <code>nav</code> element</li>
			<li>Use <code>aria-label</code> to describe the breadcrumbs</li>
			<li>Use <code>visually-hidden</code> to only show the 'you are here' label to screen readers.</li>
			<li>Use <a href="http://schema.org/BreadcrumbList" target="_blank" rel="external">schema.org</a> microdata</li>
		</ul>

		{% example "html" -%}
			<nav aria-label="Breadcrumbs" role="navigation">
				<h2 class="visually-hidden" id="breadcrumb-label">
					You are here:
				</h2>
				<ol class="breadcrumbs" aria-labelledby="breadcrumb-label" itemscope itemtype="http://schema.org/BreadcrumbList">
					<li class="breadcrumbs__crumb" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
						<a href="/" itemprop="name">
							Home
						</a>
						<meta itemprop="position" content="1">
					</li>
					<li class="breadcrumbs__crumb" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
						<a href="/guidance" itemprop="name">
							NICE Guidance
						</a>
						<meta itemprop="position" content="2">
					</li>
					<li class="breadcrumbs__crumb" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">			<span itemprop="name">
							Population groups
						</span>
						<meta itemprop="position" content="3">
					</li>
				</ol>
			</nav>
		{%- endexample %}
	</section>

{% endblock %}
