{% extends "../layouts/_layout.njk" %}
{% set title = "UI Components" %}
{% set breadcrumbs = [{ title: title }] %}

{% macro item(title, href, description) %}
	<div class="grid__item one-whole tablet--one-third desktop--one-quarter">
		<h4><a href="{{ href }}">{{ title }}</a></h4>
		<p>
			{{ description }}
		</p>
	</div>
{% endmacro %}

{% block body %}

	<div class="container">
		<h1>UI Components</h1>

		<p class="lede">
			Further reusable design patterns for creating NICE digital services
		</p>

		<div class="grid">

			{{ item("Breadcrumbs", "/components/breadcrumbs", "Secondary navigation scheme that reveals the user's location") }}

			{{ item("Tabs", "/components/tabs", "Content is separated into different panes, with only one pane viewable at a time.") }}

			{{ item("Alpha/beta", "/components/alpha-beta-live", "Phase tags and banner to denote alpha and beta services.") }}

			{{ item("Navigation", "/components/navigation", "Lorem ipsum dolor sit amet, consectetur adipisicing elit.") }}

			{{ item("Maintain ratio", "/components/maintain-ratio", "Maintain an aspect ratio for responsive embedding") }}

		</div>
	</div>

{% endblock %}
