{% extends "./_components-layout.njk" %}
{% set title = "Navigation" %}

{% block main %}

	<h1>Navigation</h1>

	<ul>
		<li><a href="#basic">Basic</a></li>
		<li><a href="#pills">Pills</a></li>
		<li><a href="#navbar">Navbar</a></li>
		<li><a href="#breadcrumbs">Breadcrumbs</a></li>
	</ul>

	<section id="basic">

		<h2>Basic</h2>

		{% example "html" -%}
		<nav class="nav" role="navigation">
			<ul class="nav__tabs">
				<li class="active"><a>One</a></li>
				<li><a>Two</a></li>
				<li><a>Three</a></li>
			</ul>
		</nav>
		{%- endexample %}

		<h3>Justified</h3>

		{% example "html" -%}
		<nav class="nav" role="navigation">
			<ul class="nav__tabs nav__tabs--justified">
				<li class="active"><a>One</a></li>
				<li><a>Two</a></li>
				<li><a>Three</a></li>
			</ul>
		</nav>
		{%- endexample %}

	</section>
	<section id="pills">

		<h2>Pills</h2>

		{% example "html" -%}
		<nav class="nav" role="navigation">
			<ul class="nav__pills">
				<li class="active"><a>One</a></li>
				<li><a>Two</a></li>
				<li><a>Three</a></li>
			</ul>
		</nav>
		{%- endexample %}

		<h3>Justified</h3>

		{% example "html" -%}
		<nav class="nav" role="navigation">
			<ul class="nav__pills nav__pills--justified">
				<li class="active"><a>One</a></li>
				<li><a>Two</a></li>
				<li><a>Three</a></li>
			</ul>
		</nav>
		{%- endexample %}

	</section>
	<section id="navbar">

		<h2>Navbar</h2>

		{% example "html" -%}
			<nav class="navbar" role="navigation">
				<div class="navbar__inner">
					<a class="navbar__brand"></a>
					<ul class="navbar__nav">
						<li class="active"><a href="/">NICE Experience</a></li>
						<li><a href="/style-guide/">Style guide</a></li>
						<li><a href="/sass/">SASS</a></li>
						<li><a href="/javascript/">JavaScript</a></li>
					</ul>
				</div>
			</nav>
		{%- endexample %}
	</section>
	<section id="breadcrumbs">

		<h2>Breacrumbs</h2>

		<ul>
			<li>Use <code>class="breadcrumbs__crumb--active"</code> for current page</li>
		</ul>

		{% example "html" -%}
			<ol class="breadcrumbs">
				<li class="breadcrumbs__crumb"><a href="#">Home</a></li>
				<li class="breadcrumbs__crumb"><a href="#">Nice Guidance</a></li>
				<li class="breadcrumbs__crumb breadcrumbs__crumb--active">Conditions and diseases</li>
			</ol>
		{%- endexample %}

		<h3>With schema microdata</h3>

		<p>Used to improve the web by creating a structured data markup schema supported by major search engines. On-page markup helps search engines understand the information on web pages and provide richer search results.</p>

		{% example "html" -%}
			<ol class="breadcrumbs" itemscope="" itemtype="http://schema.org/BreadcrumbList">
				<li class="breadcrumbs__crumb" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem"><a href="#">Home</a></li>
				<li class="breadcrumbs__crumb" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem"><a href="#">Nice Guidance</a></li>
				<li class="breadcrumbs__crumb breadcrumbs__crumb--active" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">Population groups</li>
			</ol>
		{%- endexample %}
	</section>

{% endblock %}
