{% extends "./_components-layout.njk" %}
{% set title = "Tabs" %}

{% from "../partials/components/tabs.njk" import tabs %}

{% block main %}

	<h1>Tabs</h1>

	<nav>
		<ul>
			<li><a href="#basics">Basics</a></li>
		</ul>
	</nav>

	<section id="basics">
		<h2>Basics</h2>

		<ul>
			<li>ARIA attributes are applied via JS</li>
			<li>Keyboard controls are enabled:
				<ul>
					<li>Left/up and down/right changes the selected tab</li>
					<li>Home/end moves to first/last tab</li>
				</ul>
			</li>
		</ul>

		{% set tabsContent = [
			{
				title: "Tab one",
				content: "<h2>Tab one content</h2><p>This is the content for tab 1<a href=\"#\">A link</a></p>"
			},
			{
				title: "Tab two",
				content: "<h2>Tab two content</h2><p>This is the content for tab 2</p>"
			},
			{
				title: "Tab three",
				content: "<h2>Tab three content</h2><p>This is the content for tab 3</p>"
			}] %}

		{% example "html" -%}
			{{ tabs(tabsContent) }}
		{%- endexample %}
	</section>

{% endblock %}
