{% extends "./_components-layout.njk" %}
{% set title = "Tabs" %}

{% from "../partials/components/tabs.njk" import tabs %}

{% block main %}

	<h1>Tabs</h1>

	<nav>
		<ul>
			<li><a href="#basics">Basics</a></li>
		</ul>
	</nav>

	<section id="basics">
		<h2>Basics</h2>

		{% set tabsContent = [
			{
				title: "Tab one",
				content: "<h2>Tab one content</h2><p>This is the content for tab 1</p>"
			},
			{
				title: "Tab two",
				content: "<h2>Tab two content</h2><p>This is the content for tab 2</p>"
			},
			{
				title: "Tab three",
				content: "<h2>Tab three content</h2><p>This is the content for tab 3</p>"
			}] %}

		{% example -%}
			{{ tabs(tabsContent) }}
		{%- endexample %}
	</section>

{% endblock %}
