////
/// @group components
////

@import '~@nice-digital/nds-core/scss/core';

/// Page header component.
/// Used at the top of a page to contain an h1 and optional
/// lead intro paragraph and call-to-action.
///
/// @example html
///   <header class="page-header">
///     <h1 class="page-header__heading">
///       Breast cancer
///     </h1>
///     <p class="page-header__lead">
///       Everything NICE has produced on the topic of breast cancer.
///       Includes related guidelines, NICE Pathways, quality standards and advice.
///     </p>
///     <p class="page-header__cta">
///       <a href="/some-action.html">Register as a stakeholder</a>
///     </p>
///   </header>
/// @since 0.4.0
.page-header {
  margin: rem(0 0 $nds-spacing-x-large 0);

  &__pre-heading {
    @include nds-font-size(h5);
    display: block;
    margin: rem(0);
    text-shadow: 0.5px 0 0 currentColor;
  }

  &__heading {
    @include nds-font-size(h1);
    margin: rem(0 0 $nds-spacing-small 0);
  }

  &__lead {
    @include nds-font-size(lead);
    margin: rem(0 0 $nds-spacing-small 0);
  }

  &__metadata {
    @include nds-font-size(lead);
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: rem(0 0 $nds-spacing-small 0);
    max-width: none;
    padding: 0;

    @include mq($from: md) {
      flex-direction: row;
      flex-wrap: wrap;

      li {
        display: flex;
        flex-direction: row;
        white-space: nowrap;

        &:after {
          background: $nds-colour-icons;
          content: nds-get-glyph(zero-width-space);
          margin: em(0 $nds-spacing-small);
          width: 1px;
        }

        &:last-child:after {
          display: none;
        }
      }
    }
  }

  &__cta {
    @include nds-hide-print;
    @include nds-font-size(p);
    display: block;
    margin: 0;
  }
}
