////
/// @group components
////

@use '@nice-digital/nds-core/scss/colours';
@use '@nice-digital/nds-core/scss/glyphs';
@use '@nice-digital/nds-core/scss/layout';
@use '@nice-digital/nds-core/scss/media-queries';
@use '@nice-digital/nds-core/scss/spacing';
@use '@nice-digital/nds-core/scss/typography';
@use '@nice-digital/nds-core/scss/utils';
@use '@nice-digital/nds-core/scss/visibility';

/// Page header component.
/// Used at the top of a page to contain an h1 and optional
/// lead intro paragraph and call-to-action.
///
/// @example html
///   <header class="page-header">
///     <h1 class="page-header__heading">
///       Breast cancer
///     </h1>
///     <p class="page-header__lead">
///       Everything NICE has produced on the topic of breast cancer.
///       Includes related guidelines, NICE Pathways, quality standards and advice.
///     </p>
///     <p class="page-header__cta">
///       <a href="/some-action.html">Register as a stakeholder</a>
///     </p>
///   </header>
/// @since 0.4.0
.page-header {
  margin: utils.rem(0 0 spacing.$x-large 0);
  padding: utils.rem(spacing.$large) 0 utils.rem(spacing.$x-large);

  &--full-width-light {
    @include layout.fullWidth();
    background: colours.$page-header-full-width-light-background;
  }

  &--full-width-dark {
    @include layout.fullWidth();
    background: colours.$page-header-full-width-dark-background;

    & * {
      color: colours.$page-header-full-width-dark-background-text-colour;
    }

    & .breadcrumbs a {
      &:link,
      &:visited,
      &:hover,
      &:active,
      &:focus {
        color: colours.$page-header-full-width-dark-background-text-colour;
        outline-color: colours.$page-header-full-width-dark-background-text-colour;
      }
    }
  }

  &__pre-heading {
    @include typography.font-size(h5);
    display: block;
    margin: utils.rem(0);
  }

  &__heading {
    @include typography.font-size(h1);
    margin: utils.rem(0 0 spacing.$small 0);

    &--alt {
      @include typography.font-size(h1-alt);
    }

    .page-header--full-width-light &,
    .page-header--full-width-dark & {
      margin-bottom: utils.rem(spacing.$large);
    }
  }

  &__description {
    @include typography.p();
  }

  &__lead {
    @include typography.font-size(lead);
    margin: utils.rem(0 0 spacing.$small 0);

    .page-header--full-width-light &,
    .page-header--full-width-dark & {
      margin-bottom: utils.rem(spacing.$medium);
    }
  }

  &__metadata {
    @include typography.font-size(lead);
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: utils.rem(0 0 spacing.$small 0);
    max-width: none;
    padding: 0;

    @include media-queries.mq($from: md) {
      flex-flow: row wrap;

      li {
        display: flex;
        flex-direction: row;
        white-space: nowrap;

        &:after {
          background: colours.$icons;
          content: glyphs.get-glyph(zero-width-space);
          margin: utils.rem(0 spacing.$small);
          width: 1px;
        }

        &:last-child:after {
          display: none;
        }
      }
    }
  }

  &__cta {
    @include visibility.hide-print;
    @include typography.font-size(p);
    display: block;
    margin: 0;
  }

  &__full-width-container {
    @include layout.fullWidthContainer();
  }
}
