{% macro renderLink(link, level) %}
	<li class="in-page-nav__item" role="presentation">
		<a id="inpagenav-{{ link.href.replace("#", "") }}" href="{{ link.href }}" role="menuitem">
			{{ link.title }}
		</a>
		{% if link.links and link.links.length > 0 %}
			<ol class="in-page-nav__list" role="menu" aria-hidden="false" aria-labelledby="inpagenav-{{ link.href.replace("#", "") }}">
				{% for subLink in link.links %}
					{{ renderLink(subLink, level + 1) }}
				{% endfor %}
			</ol>
		{% endif %}
	</li>
{% endmacro %}

<nav class="in-page-nav" aria-labelledby="inpagenav-title">
	<h2 id="inpagenav-title" class="in-page-nav__title">On this page</h2>

	<ol class="in-page-nav__list" role="menubar">
		{% for link in links %}
			{{ renderLink(link, 1) }}
		{% endfor %}
	</ol>
</nav>
