@use '@nice-digital/nds-core/scss/colours';
@use '@nice-digital/nds-core/scss/spacing';
@use '@nice-digital/nds-core/scss/typography';
@use '@nice-digital/nds-core/scss/utils';

.alphabet {
  list-style: none;
  margin: utils.rem(0 0 spacing.$large);
  max-width: 100%;
  padding: 0;

  &:focus {
    outline: none;
  }

  @supports (display: grid) {
    column-gap: utils.rem(spacing.$small);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(3ch, 1fr));
    row-gap: utils.rem(spacing.$small);

    &--chunky {
      column-gap: utils.rem(spacing.$medium);
      grid-template-columns: repeat(auto-fit, minmax(6ch, 1fr));
      row-gap: utils.rem(spacing.$medium);
    }
  }

  &__letter {
    display: inline-block;
    font-weight: bold;
    margin: utils.rem(0 spacing.$small spacing.$small 0);

    a,
    span {
      display: block;
      line-height: 1;
      padding: utils.rem(spacing.$small 0);
      text-align: center;
      width: 3.95ch;
    }

    a {
      background: colours.$alphabet-letter-background;
      border: 1px solid colours.$border;
      border-radius: utils.rem(spacing.$xx-small);
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    span {
      color: colours.$alphabet-letter-span;
    }

    &--chunky {
      @include typography.font-size(h4);

      a,
      span {
        padding: utils.rem(spacing.$medium 0);
        width: 4.95ch;
      }
    }

    @supports (display: grid) {
      display: block;
      margin: 0;

      a,
      span {
        width: auto;
      }
    }
  }
}
