@import '~@nice-digital/nds-core/scss/core';

$radio-base-size: rem($spacing-large);

.radio {
  @include clearfix;
  clear: left;
  display: block;
  margin-bottom: rem($spacing-small);
  padding-left: $radio-base-size + rem($spacing-medium);
  position: relative;

  &__input {
    cursor: pointer;
    height: $radio-base-size;
    left: 0;
    margin: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: $radio-base-size;

    &:disabled + label:before,
    &:disabled + label:after {
      opacity: 0.3 !important;
    }

    &:checked + label:after {
      opacity: 1;
    }

    &:focus {
      & + label:before {
        @include default-focus-style(true);
      }
    }
  }

  &__label {
    @include font-size(p);
    cursor: pointer;
    display: block;
    font-weight: bold;
    margin-bottom: rem($spacing-x-small);
    padding: rem($spacing-x-small) 0;

    &:before {
      // outside circle
      border: rem($spacing-xx-small) solid $colour-nice-black;
      border-radius: 50%;
      content: '';
      height: $radio-base-size;
      left: 0;
      position: absolute;
      top: 0;
      width: $radio-base-size;
    }

    &:after {
      // center dot
      background: $colour-nice-black;
      border-radius: 50%;
      content: '';
      height: rem($spacing-medium);
      left: rem($spacing-small);
      opacity: 0;
      position: absolute;
      top: rem($spacing-small);
      width: rem($spacing-medium);
    }
  }

  &__hint {
    color: $colour-nice-dark-grey;
    margin-bottom: rem($spacing-small);
    margin-top: rem($spacing-x-small);
  }

  &__error-message {
    color: $colour-error;
    font-weight: bold;
  }

  &--error .radio__label,
  &--error .radio__label {
    color: $colour-error;
    &:before {
      @include default-error-style(true);
    }
  }

  &--inline {
    display: inline-block;
    margin-right: rem($spacing-medium);
    vertical-align: top;

    input {
      margin-right: rem($spacing-x-small);
    }
  }
}
