@use '@nice-digital/nds-core/scss/spacing';
@use '@nice-digital/nds-core/scss/typography';
@use '@nice-digital/nds-core/scss/utils';
@use '@nice-digital/nds-core/scss/colours';

.a-z-list {
  list-style: none;
  margin: 0;
  max-width: 100%;
  padding: 0;

  &__item {
    margin-bottom: utils.rem(spacing.$large);
  }

  &__item-heading {
    @include typography.font-size(h4);
    background: colours.$a-z-list-heading-background;
    border: 1px solid colours.$border;
    font-family: typography.get-font-family(sans);
    font-weight: 600;
    margin: 0;
    max-width: 100%;
    padding: utils.rem(spacing.$small spacing.$medium);

    &:focus {
      outline: none;
    }
  }
}
