{% macro footer(footer) %}

	<footer class="site-footer" role="contentinfo">
		<div class="container">

			<a class="site-footer__logo" href="http://www.nice.org.uk/">
				<span class="visually-hidden">NICE</span>
				<i class="icon icon--logo" aria-hidden="true"></i>
			</a>

			<div class="site-footer__services">
				<nav class="services">
					<ul class="services__list" role="navigation">
						<li class="services__item">
							<a href="http://pathways.nice.org.uk">
								<span aria-hidden="true" class="icon icon--pathways"></span>
								NICE Pathways
							</a>
						</li>
						<li class="services__item">
							<a href="http://www.nice.org.uk/guidance">
								<span aria-hidden="true" class="icon icon--guidance"></span>
								Guidance
							</a>
						</li>
						<li class="services__item">
							<a href="http://www.nice.org.uk/standards-and-indicators">
								<span aria-hidden="true" class="icon icon--standards"></span>
								Standards &amp; Indicators
							</a>
						</li>
						<li class="services__item">
							<a href="http://www.evidence.nhs.uk">
								<span aria-hidden="true" class="icon icon--evidence"></span>
								Evidence services
							</a>
						</li>
					</ul>
				</nav>
			</div>

			<div class="site-footer__social">
				<div class="social-networks">
					<h2 class="social-networks__heading">
						Follow Us
					</h2>
					<ul class="social-networks__list">
						<li class="social-networks__item">
							<a class="social-networks__network" target="_blank" title="Follow NICE on Twitter" href="https://twitter.com/nicecomms">
								<span aria-hidden="true" class="icon icon--twitter-square"></span>
								<span class="visually-hidden">Follow NICE on Twitter</span>
							</a>
						</li>
						<li class="social-networks__item">
							<a target="_blank" title="Follow NICE on YouTube" href="https://www.youtube.com/c/niceorguk">
								<span aria-hidden="true" class="icon icon--youtube-square"></span>
								<span class="visually-hidden">Follow NICE on YouTube</span>
							</a>
						</li>
						<li class="social-networks__item">
							<a target="_blank" title="Follow NICE on LinkedIn" href="https://www.linkedin.com/company/national-institute-for-health-and-clinical-excellence">
								<span aria-hidden="true" class="icon icon--linkedin-sign"></span>
								<span class="visually-hidden">Follow NICE on LinkedIn</span>
							</a>
						</li>
						<li class="social-networks__item">
							<a target="_blank" title="Follow NICE on Facebook" href="https://www.facebook.com/NationalInstituteforHealthandCareExcellence/">
								<span aria-hidden="true" class="icon icon--facebook-square"></span>
								<span class="visually-hidden">Follow NICE on Facebook</span>
							</a>
						</li>
					</ul>
				</div>
			</div>

			<div class="site-footer__nav">
				<nav class="footer-nav">
					<ul class="footer-nav__list" role="navigation">
						<li class="footer-nav__item">
							<a href="http://www.nice.org.uk/about">About NICE</a>
						</li>
						<li class="footer-nav__item">
							<a href="http://www.nice.org.uk/accessibility">Accessibility</a>
						</li>
						<li class="footer-nav__item">
							<a href="http://www.nice.org.uk/freedom-of-information">Freedom of information</a>
						</li>
						<li class="footer-nav__item">
							<a href="http://www.nice.org.uk/get-involved/contact-us">Contact Us</a>
						</li>
						<li class="footer-nav__item">
							<a href="http://www.nice.org.uk/glossary">Glossary</a>
						</li>
						<li class="footer-nav__item">
							<a href="http://www.nice.org.uk/terms-and-conditions">Terms and conditions</a>
						</li>
					</ul>
				</nav>
			</div>

			<p class="site-footer__copyright">
				Copyright &copy; {{ footer.year }} National Institute for Health and Care Excellence. All rights reserved.
				&ndash; <a href="http://www.nice.org.uk" rel="provider">Provided by NICE</a>
			</p>

		</div>
	</footer>

{% endmacro %}
