{% extends "layouts/_layout.njk" %}
{% set title = "Visibility" %}

{% block body %}

	<div class="container">

		<h1>Visibility</h1>

		<h2>Simple show/hide</h2>
		<div class="show">
			Show
		</div>
		<div class="show--i">
			Show inline
		</div>
		<div class="show--ib">
			Show inline-block
		</div>
		<div class="hide">
			Hide
		</div>

		<h2>Orientation</h2>
		<div class="show-landscape">
			Show landscape
		</div>
		<div class="show-portrait">
			Show portrait
		</div>
		<div class="hide-landscape">
			Hide landscape
		</div>
		<div class="hide-portrait">
			Hide portrait
		</div>

		<h2>Breakpoints</h2>
		<div class="show-md">
			Show from md
		</div>
		<div class="show-md hide-lg">
			Show on md only
		</div>
		<div class="show--i-md">
			Show inline from md
		</div>
		<div class="show--ib-md">
			Show inline-block from md
		</div>
		<div class="hide-md">
			Hide from md
		</div>
		<div class="show hide-md show-lg">
			Hide on md only
		</div>

	</div>

{% endblock %}
