{% extends "../layouts/_sidebar.njk" %}
{% if not breadcrumbs %}
	{% set breadcrumbs = [{ title: "SASS", href: "/sass/" }, { title: title }] %}
{% endif %}
{% set title = title + " | SASS" %}

{% block sidebar %}

	<nav role="navigation">
		<ul>
			<li><a href="/sass/">SASS</a></li>
			<li><a href="/sass/code-standards">Code standards</a></li>
			<li><a href="/sass/libraries">Libraries</a></li>
			<li><a href="/sass/docs">Documentation</a></li>
		</ul>
	</nav>

{% endblock %}

