{% extends "./_sass-layout.njk" %}
{% set title = "SASS Documentation" %}

{% block sidebar %}
	{% include "sass/includes/partials/sidebar.njk" %}
{% endblock %}


{% block main %}

	<h1>SASS Documentation</h1>

	{# Loop over the groups #}
	{% for group_name, group in byGroupAndType %}
		<section>
			<h2 id="{{ group_name }}">
				{{ groups[group_name] }}
			</h2>

			{# Loop over the types #}
			{% for type, items in group %}

				{# If items to be displayed in type #}
				{% if items.length > 0 %}
					<section id="{{ group_name }}-{{ type }}">
						<h3>
							{% if type == "css" %}
								{# Special case for CSS selectors #}
								Selectors
							{% else %}
								{{ type | pluralize | capitalize }}
							{% endif %}
						</h3>

						{# Loop over the items #}
						{% for item in items %}
							{% include "sass/includes/partials/item.njk" %}
						{% endfor %}
					</section>
				{% endif %}
			{% endfor %}

		</section>
	{% endfor %}

{% endblock %}
