{% extends "./_sass-layout.njk" %}
{% set title = "Documentation" %}

{% block main %}

	<h1>SASS Documentation</h1>

	<div class="grid">
		{# Loop over the groups #}
		{% for group in groups %}
			<div class="grid__item one-whole tablet--one-third desktop--one-quarter">
				<h2 class="h4">
					<a href="/sass/docs/{{ group.id }}">
						{{ group.name }}
					</a>
				</h2>
				<p>
					{% for type_name, count in group.types %}
						{{ count }}
						{% if type_name === "variable" %}
							variables
						{% elif type_name === "css" %}
							selectors
						{% elif type_name === "function" %}
							functions
						{% elif type_name === "mixin" %}
							mixins
						{% else %}
							others
						{% endif %}
						{% if loop.revindex0 === 1 %}
							&amp;
						{% elif not loop.last %}
							,
						{% endif %}
					{% endfor %}
				</p>
			</div>
		{% endfor %}
	</div>

{% endblock %}
