{% extends "../layouts/_sidebar.njk" %}
{% set title = "SASS Documentation" %}

{% block sidebar %}
	{% include "sass/includes/partials/sidebar.njk" %}
{% endblock %}


{% block main %}

	{# Loop over the groups #}
	{% for group_name, group in byGroupAndType %}
		<section class="main__section">
			<h1 class="main__heading" id="{{ group_name }}">
				<div class="container">
					{{ groups[group_name] }}
				</div>
			</h1>

			{# Loop over the types #}
			{% for type, items in group %}

				{# If items to be displayed in type #}
				{% if items.length > 0 %}
					<section class="main__sub-section" id="{{ group_name }}-{{ type }}">
						<h2 class="main__heading--secondary">
							<div class="container">
								{% if type == "css" %}
									{# Special case for CSS selectors #}
									Selectors
								{% else %}
									{{ type | pluralize | capitalize }}
								{% endif %}
							</div>
						</h2>

						{# Loop over the items #}
						{% for item in items %}
							{% include "sass/includes/partials/item.njk" %}
						{% endfor %}
					</section>
				{% endif %}
			{% endfor %}

		</section>
	{% endfor %}

{% endblock %}
