{% extends "./_sass-layout.njk" %}
{% set title = "SASS Libraries" %}

{% block main %}

	<h1>SASS Libraries</h1>

	<p>
		The following are 3<sup>rd</sup> party SASS libraries that we've included by default:
	</p>

	<nav role="navigation">
		<ul>
			<li><a href="#normalize">Normalize</a></li>
			<li><a href="#is">Is</a></li>
			<li><a href="#math">Math</a></li>
			<li><a href="#scut">Scut</a></li>
			<li><a href="#grids">Grids</a></li>
		</ul>
	</nav>

	<section id="normalize">
		<h2>Normalize</h2>

		<blockquote class="quote">
			<p>Normalize.css makes browsers render all elements more consistently and in line with modern standards. It precisely targets only the styles that need normalizing.</p>
		</blockquote>

		<p>
			<a href="http://davidtheclark.github.io/scut/" class="btn btn--secondary" target="_blank" rel="external">Normalize documentation</a>
		</p>

	</section>

	<section id="is">
		<h2>Is</h2>

		<p>
			A small set of utility functions by <a href="http://hugogiraudel.com/" target="_blank" rel="external">Hugo Giraudel</a> for checking types of values in SASS.
		</p>

		<p>
			<a href="http://davidtheclark.github.io/scut/" class="btn btn--secondary" target="_blank" rel="external">View gist</a>
		</p>

	</section>

	<section id="math">
		<h2>Math</h2>

		<p>A set of maths utility functions by <a href="https://github.com/adambom" target="_blank" rel="external">Adam Savitzky</a></p>

		<a href="https://github.com/adambom/Sass-Math/blob/master/math.scss" class="btn btn--secondary" target="_blank" rel="external">View gist</a>

	</section>

	<section id="scut">
		<h2>Scut <small>(<strong>S</strong>ass-<strong>C</strong>SS <strong>Ut</strong>itilies. )</small></h2>

		<blockquote class="quote">
			<p>Scut is a collection of Sass utilities to ease and improve our implementations of common style-code patterns.</p>
		</blockquote>

		<p>
			<a href="http://davidtheclark.github.io/scut/" class="btn btn--secondary" target="_blank" rel="external">Scut documentation</a>
		</p>

	</section>

	<section id="grids">
		<h2>Wizardry grids</h2>

		<blockquote class="quote">
			<p>csswizardry-grids is a fully responsive, mobile-first, infinitely nestable, reversible, reorderable, simple to understand, human-friendly, robust grid system.</p>
		</blockquote>

		<p>
			<a href="http://csswizardry.com/csswizardry-grids/" class="btn btn--secondary" target="_blank" rel="external">Wizardry Grids</a>
		</p>

	</section>

{% endblock %}
