////
/// @group spacing
////

/// Extra extra small spacing
/// @since 0.2.0
$xx-small: 2;

/// Extra small spacing
/// @since 0.2.0
$x-small: 4;

/// Small spacing
/// @since 0.2.0
$small: 8;

/// Medium spacing
/// @since 0.2.0
$medium: 16;

/// Large spacing
/// @since 0.2.0
$large: 32;

/// Extra large spacing
/// @since 0.2.0
$x-large: 48;

/// Extra extra large spacing
/// @since 0.2.0
$xx-large: 64;
