////
/// @group components
////

@import '~@nice-digital/nds-core/scss/core';

/// Tabbed navigational structure.
/// Works without JavaScript - the tab buttons disappear and the tab
/// panels stack vertically. This relies on the presence of Modernizr
/// to add the `js` class to the html element.
///
/// BEM elements:
///   - `__list`    The containing list of tabs
///   - `__tab`     An individual tab
///   - `__tab-btn` A button within a tab
///   - `__content` The tabs content - container for the
///   - `__pane`    An individual tab pane
///
/// @todo Tabs on mobile devices
///
/// @example html
///   <div class="tabs" data-tabs>
///     <ul class="tabs__list" role="tablist">
///       <li class="tabs__tab" role="presentation">
///         <button class="tabs__tab-btn" type="button" role="tab">
///           Tab 1
///         </button>
///       </li>
///       <li class="tabs__tab" role="presentation">
///         <button class="tabs__tab-btn" type="button" role="tab">
///           Tab 2
///         </button>
///       </li>
///     </ul>
///     <div class="tabs__content">
///       <div class="tabs__pane" role="tabpanel">
///         Tab content 1
///       </div>
///       <div class="tabs__pane" role="tabpanel">
///         Tab content 2
///       </div>
///     </div>
///   </div>
/// @since 0.1.0
.tabs {
  margin: em(0 0 $nds-spacing-large);

  // The list of tabs
  &__list {
    display: none;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    top: 1px; // To cover the border around the tabs content

    .js & {
      display: block;
    }
  }

  // Individual tab
  &__tab {
    float: left;
  }

  // The button/link for the tab itself
  &__tab-btn {
    @include nds-link-default;
    background: 0;
    border: 0;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    cursor: pointer;
    display: block;
    margin: 0;
    padding: em($nds-spacing-medium $nds-spacing-medium);
    position: relative;

    &:focus {
      // Stop focus ring clipping
      z-index: 1;
    }

    &[aria-selected='true'] {
      background: $nds-colour-panel-default;
      border-left: 1px solid $nds-colour-border;
      border-right: 1px solid $nds-colour-border;
      color: $nds-colour-text;
      text-decoration: none;

      &:before {
        // The -1px is to over the grey border round the tab
        background: $nds-colour-icons;
        content: '';
        height: em($nds-spacing-x-small);
        left: -1px;
        position: absolute;
        right: -1px;
        top: 0;
      }
    }
  }

  // The tab content containing the tab panels
  &__content {
    clear: both;

    .js & {
      background: $nds-colour-panel-default;
      border: 1px solid $nds-colour-border;
      clear: both;
      padding: rem($nds-spacing-medium);
    }
  }

  // An individual tab content pane
  &__pane {
    background: $nds-colour-panel-default;
    margin-bottom: em($nds-spacing-medium);
    padding: rem($nds-spacing-medium);

    // Assume tabs will stack if no JS is available
    .js & {
      margin-bottom: 0;
      padding: 0;

      &[aria-hidden='true'] {
        display: none;
      }
    }

    > :first-child {
      margin-top: 0;
    }

    > :last-child {
      margin-bottom: 0;
    }
  }
}
