@import '../scss/core.scss';

.grid-example-item {
  background: $nds-colour-nice-grey-3;
  border: 0.25em solid $nds-colour-nice-grey-1;
  margin-bottom: 0.5em;
  padding: 0.5em;
  text-align: center;
}
