////
/// @group components
////

@use '@nice-digital/nds-core/scss/colours';
@use '@nice-digital/nds-core/scss/focus';
@use '@nice-digital/nds-core/scss/spacing';
@use '@nice-digital/nds-core/scss/typography';
@use '@nice-digital/nds-core/scss/utils';

$button-shadow-colour: rgb(0 0 0 / 20%);
$button-border-radius: utils.rem(3px);

/// Button
/// @since 0.1.0
.btn {
  @include typography.font-size(0);
  appearance: none;
  background: colours.$btn-primary;
  border: utils.rem(1px) solid colours.$btn-primary-text;
  border-radius: $button-border-radius;
  box-shadow: 0 utils.rem(3px) utils.rem(6px) 0 $button-shadow-colour;
  color: colours.$btn-primary-text !important;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  margin: utils.rem(
    0 spacing.$small spacing.$small -4px
  ); // Negative left margin to combat inline-block gaps
  padding: utils.rem(spacing.$small spacing.$medium);
  position: relative;
  text-align: left;
  text-decoration: none !important;
  vertical-align: top;
  white-space: nowrap;
  @media print {
    white-space: normal;
  }

  &:first-child {
    margin-left: 0;
  }

  &:visited {
    color: colours.$btn-primary-text !important;
  }

  &:hover {
    background: colours.$btn-primary-hover;
    box-shadow: 0 utils.rem(5px) utils.rem(8px) 0 $button-shadow-colour;
    color: colours.$btn-primary-text !important;
    text-decoration: none;
  }

  &:focus {
    @include focus.default-focus-style;
    background: colours.$btn-primary;
    border-color: colours.$focus-inverse;
    color: colours.$btn-primary-text !important;
  }

  &:active {
    background: colours.$btn-primary-hover;
    color: colours.$btn-primary-text !important;
    text-decoration: none;
    top: utils.rem(2px);
  }

  // Disabled button styles
  &--disabled,
  &.disabled,
  &[aria-disabled='true'],
  &[disabled='disabled'],
  &[disabled] {
    opacity: 0.5;
    pointer-events: none;

    &:hover {
      cursor: default;
    }
  }
}

/// CTA/prominent button
/// @since 0.2.0
.btn--cta {
  background: colours.$btn-cta;
  border: utils.rem(1px) solid colours.$btn-cta-border;
  box-shadow: 4px 4px 8px $button-shadow-colour;
  color: colours.$btn-cta-text !important;

  &:visited {
    color: colours.$btn-cta-text !important;
  }

  &:hover {
    background: colours.$btn-cta-hover;
    box-shadow: 4px 4px 8px $button-shadow-colour;
    color: colours.$btn-cta-text !important;
  }

  &:focus {
    background: colours.$btn-cta-hover;
    color: colours.$btn-cta-text !important;
  }

  &:active {
    background: colours.$btn-cta-hover;
    color: colours.$btn-cta-text !important;
  }
}

/// Secondary button
/// @since 0.2.0
.btn--secondary {
  background: colours.$btn-secondary;
  border: utils.rem(1px) solid colours.$btn-secondary-text;
  color: colours.$btn-secondary-text !important;

  &:visited {
    color: colours.$btn-secondary-text !important;
  }

  &:hover {
    background: colours.$btn-secondary-hover;
    color: colours.$btn-secondary-text !important;
  }

  &:focus {
    background: colours.$btn-secondary-hover;
    color: colours.$btn-secondary-text !important;
  }

  &:active {
    background: colours.$btn-secondary-hover;
    color: colours.$btn-secondary-text !important;
  }
}

/// Inverse (light) button, for use on inverse (dark) panels/sections
/// @since 0.2.0
.btn--inverse {
  background: colours.$btn-inverse;
  border: utils.rem(1px) solid colours.$btn-inverse-text;
  color: colours.$btn-inverse-text !important;

  &:visited {
    color: colours.$btn-inverse-text !important;
  }

  &:hover {
    background: colours.$btn-inverse-hover;
    color: colours.$btn-inverse-text !important;
  }

  &:focus {
    background: colours.$btn-inverse-hover;
    color: colours.$btn-inverse-text !important;
  }

  &:active {
    background: colours.$btn-inverse-hover;
    color: colours.$btn-inverse-text !important;
  }
}
