////
/// @group components
////

@import '~@nice-digital/nds-core/scss/core';

/// Button
/// @since 0.1.0
.btn {
  @include nds-font-size(0);
  appearance: none;
  background: $nds-colour-btn-primary;
  border: em(1px) solid $nds-colour-btn-primary-text;
  border-radius: 0;
  color: $nds-colour-btn-primary-text;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  margin: em(
    0 $nds-spacing-small $nds-spacing-small -4px
  ); // Negative left margin to combat inline-block gaps
  padding: em($nds-spacing-small $nds-spacing-medium);
  position: relative;
  text-align: left;
  text-decoration: none !important;
  vertical-align: top;
  white-space: nowrap;

  &:first-child {
    margin-left: 0;
  }

  &:visited {
    color: $nds-colour-btn-primary-text;
  }

  &:hover {
    background: $nds-colour-btn-primary-hover;
    color: $nds-colour-btn-primary-text;
    text-decoration: none;
  }

  &:focus {
    @include nds-default-focus-style;
    background: $nds-colour-btn-primary;
    border-color: $nds-colour-focus-inverse;
    color: $nds-colour-btn-primary-text;
  }

  &:active {
    background: $nds-colour-btn-primary-hover;
    text-decoration: none;
    top: em(2px);
  }

  // Disabled button styles
  &--disabled,
  &.disabled,
  &[aria-disabled='true'],
  &[disabled='disabled'],
  &[disabled] {
    opacity: 0.5;
    pointer-events: none;

    &:hover {
      cursor: default;
    }
  }
}

/// CTA/prominent button
/// @since 0.2.0
.btn--cta {
  background: $nds-colour-btn-cta;
  border: em(1px) solid $nds-colour-btn-cta-text;
  color: $nds-colour-btn-cta-text;

  &:visited {
    color: $nds-colour-btn-cta-text;
  }

  &:hover {
    background: $nds-colour-btn-cta-hover;
    color: $nds-colour-btn-cta-text;
  }

  &:focus {
    background: $nds-colour-btn-cta-hover;
  }

  &:active {
    background: $nds-colour-btn-cta-hover;
  }
}

/// Secondary button
/// @since 0.2.0
.btn--secondary {
  background: $nds-colour-btn-secondary;
  border: em(1px) solid $nds-colour-btn-secondary-text;
  color: $nds-colour-btn-secondary-text;

  &:visited {
    color: $nds-colour-btn-secondary-text;
  }

  &:hover {
    background: $nds-colour-btn-secondary-hover;
    color: $nds-colour-btn-secondary-text;
  }

  &:focus {
    background: $nds-colour-btn-secondary-hover;
  }

  &:active {
    background: $nds-colour-btn-secondary-hover;
  }
}

/// Inverse (light) button, for use on inverse (dark) panels/sections
/// @since 0.2.0
.btn--inverse {
  background: $nds-colour-btn-inverse;
  border: em(1px) solid $nds-colour-btn-inverse-text;
  color: $nds-colour-btn-inverse-text !important;

  &:visited {
    color: $nds-colour-btn-inverse-text;
  }

  &:hover {
    background: $nds-colour-btn-inverse-hover;
    color: $nds-colour-btn-inverse-text;
  }

  &:focus {
    background: $nds-colour-btn-inverse-hover;
  }

  &:active {
    background: $nds-colour-btn-inverse-hover;
  }
}
