@import '~@nice-digital/nds-core/scss/core';

.textarea {
  margin-bottom: rem($nds-spacing-medium);

  &__label {
    @include nds-font-size(p);
    display: block;
    font-weight: bold;
    margin-bottom: rem($nds-spacing-small);
  }

  &__hint {
    margin-bottom: rem($nds-spacing-small);
    margin-top: 0;
  }

  &__error {
    color: $nds-colour-error;
    font-weight: bold;
    margin-bottom: rem($nds-spacing-small);
    margin-top: 0;
  }

  &__textarea {
    border: rem($nds-spacing-xx-small) solid $nds-colour-border;
    height: 8em; // default textarea 8 characters tall
    padding: rem($nds-spacing-small);
    width: 100%;

    &:focus {
      @include nds-default-focus-style;
    }
  }

  &--error {
    .textarea__textarea {
      @include nds-default-error-style;
    }
  }
}
