@use '@nice-digital/nds-core/scss/colours';
@use '@nice-digital/nds-core/scss/focus';
@use '@nice-digital/nds-core/scss/spacing';
@use '@nice-digital/nds-core/scss/typography';
@use '@nice-digital/nds-core/scss/utils';

.textarea {
  margin-bottom: utils.rem(spacing.$medium);

  &__label {
    @include typography.font-size(p);
    display: block;
    font-weight: bold;
    margin-bottom: utils.rem(spacing.$small);
  }

  &__hint {
    margin-bottom: utils.rem(spacing.$small);
    margin-top: 0;
  }

  &__error {
    color: colours.$error;
    font-weight: bold;
    margin-bottom: utils.rem(spacing.$small);
    margin-top: 0;
  }

  &__textarea {
    border: utils.rem(spacing.$xx-small) solid colours.$border-dark;
    height: 8em; // default textarea 8 characters tall
    padding: utils.rem(spacing.$small);
    width: 100%;

    &:focus {
      @include focus.default-focus-style;
    }
  }

  &--error {
    .textarea__textarea {
      @include typography.default-error-style;
    }
  }
}
