{% macro hero(hero) %}

	<div class="hero">

		<div class="hero__container">

			{% if hero.phase %}
				{{ hero.phase }}
			{% endif %}

			<div class="hero__body">
				<div class="hero__copy">

					<h1 class="hero__title">{{ hero.title }}</h1>

					{% if hero.intro %}
						<p class="hero__intro">
							{{ hero.intro }}
						</p>
					{% endif %}

					<div class="hero__actions">
						<a href="{{ hero.cta.href }}" class="btn btn--cta">{{ hero.cta.text }}</a>
						{% if hero.secondCta %}
							<a href="{{ hero.secondCta.href }}" class="btn">{{ hero.secondCta.text }}</a>
						{% endif %}
					</div>

				</div>
				<div class="hero__extra">

					{% if hero.aside %}
						<h2 class="h4 mt--0-md">{{ hero.aside.title }}</h2>

						<ul class="list list--unstyled list--loose">
							{% for link in hero.aside.links %}
								<li><a href="{{ link.href }}">{{ link.title }}</a></li>
							{% endfor %}
						</ul>
					{% endif %}

				</div>
			</div>

		</div>
	</div>

{% endmacro %}
