@use '@nice-digital/nds-core/scss/layout';

/// Container, used as a wrapper around sections within a page.
/// Usually used to house grids.
///
/// @example
///   <div class="container">
///     <div class="grid">
///     </div>
///   </div>
/// @since 0.1.0
.container {
  @include layout.container;

  &--full {
    max-width: 100%;
    padding: 0 2%;
    width: auto;
  }
}
