{% extends "layouts/_layout.njk" %}
{% set title = "Icons" %}

{% block body %}

	<div class="container">

		<h1>Icons</h1>

		<ul>
			<li><span class="icon icon--logo" aria-hidden="true"></span></li>
			<li><span class="icon icon--logo-name" aria-hidden="true"></span></li>
		</ul>

	</div>

{% endblock %}
