////
/// @group components
////

/// Results info shows at the top of a list of results and
/// contains the count and sort options.
.results-info {
  @include clearfix;
  margin: rem(0 0 $spacing-medium);

  &__count {
    @include font-size(h5);
    font-weight: bold;
    margin: rem(0 0 $spacing-small);
  }

  &__sort {
    margin: 0;
  }

  &__filters {
    clear: both;
    list-style: none;
    margin: 0;
    padding-top: rem($spacing-small);
  }

  @include mq($from: sm) {
    margin: rem(0 0 $spacing-medium);

    &__count {
      float: left;
      margin: 0;
      width: 50%;
    }

    &__sort {
      float: right;
      text-align: right;
      width: 50%;
    }

    &__filter {
      display: inline-block;
      margin-right: rem($spacing-x-small);
    }
  }
}
