////
/// @group components
////

// ########## TODO ##########

// Tables
// ==========================================================================
$colour-border: #ccc;

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;

  th,
  td {
    //@include core-19;
    border-bottom: 1px solid $colour-border;
    color: $colour-text;
    padding: em(12, 19) em(20, 19) em(9, 19) 0;
    text-align: left;
  }

  th {
    font-weight: 700;

    // Right align headings for numeric content
    &.numeric {
      text-align: right;
    }
  }

  // Allow a qualifying element, only table data cells should use tabular numbers
  // scss-lint:disable QualifyingElement
  td {
    &.numeric {
      //@include core-16($tabular-numbers: true);
      text-align: right;
    }
  }
}
