@use '@nice-digital/nds-core/scss/layout';
@use '@nice-digital/nds-core/scss/spacing';
@use '@nice-digital/nds-core/scss/utils';

.container {
  margin: 0 0 utils.rem(spacing.$large);
}

.screenshot {
  max-width: 70%;
}

.caption {
  font-style: italic;
  max-width: layout.$readable-width;
}
