.colour-grid {
  @include grid;
  list-style: none;
  padding: 0;

  &__item {
    @include grid-item($xs: 6, $sm: 4, $md: 6, $lg: 4);
    margin-bottom: em($spacing-large);
  }

  &__block {
    border: 1px solid $colour-border;
    display: block;
    height: 0;
    padding-top: percentage(9 / 21);
    width: 100%;
  }

  &__heading {
    @include h5;
    margin-top: em($spacing-small);
  }
}

.dl-inline {
  dt {
    clear: both;
    float: left;
    margin-right: em($spacing-xx-small);
  }
  dd {
    float: left;
    margin: 0;
  }
}
