.example {
  border: 1px solid #ddd;
  margin: 16px 0;

  &--full pre {
    max-height: auto;
  }

  &__label {
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    color: #333;
    font-size: 10px;
    font-weight: bold;
    left: 0;
    line-height: 1;
    margin: 0;
    padding: 4px;
    position: absolute;
    text-transform: uppercase;
    top: 0;

    &--dark {
      background-color: #f7f7f9;
    }
  }

  &__body {
    border-bottom: 1px solid #e1e1e8;
    margin: 0;
    padding: 20px 8px 8px;
    position: relative;
  }

  &__code {
    @include font-size(-1);
    margin: 0;
    position: relative;

    pre {
      margin: 0;
      max-height: 200px;
      overflow: auto;

      @media print {
        max-height: 100%;
        white-space: pre-wrap;
      }

      code {
        padding-top: em(24);
      }
    }
  }
}
