/// Page layout with:
///   - sidebar nav (always present)
///   - main body content
///   - optional in page nav column
.page {
  @include clearfix;

  &__sidebar {
    margin-bottom: em($spacing-large);

    @media print {
      display: none;
    }
  }

  &__main {
    @include grid($loose: true);
  }

  &__body {
    @include grid-item($loose: true);

    > :first-child {
      margin-top: 0;
    }
  }

  &__inpagenav {
    @include grid-item($loose: true);

    .no-js & {
      display: none;
    }

    @media print {
      display: none;
    }
  }

  @include mq($from: sm) {
    &__sidebar {
      float: left;
      margin-right: rem($spacing-large);
      width: percentage(4 / 12);
    }

    &__main {
      float: left;
      width: percentage(8 / 12);
    }
  }

  @include mq($from: md) {
    &__sidebar {
      width: percentage(3 / 12);
    }

    &__main {
      @include grid-reverse;
      width: percentage(9 / 12);
    }

    &__body {
      width: 100%;

      .js & {
        width: percentage(8 / 12);
      }
    }

    &__inpagenav {
      width: percentage(4 / 12);
    }

    &--full {
      .page__body {
        width: 100%;
      }
    }
  }

  @include mq($from: lg) {
    &__sidebar {
      width: percentage(2 / 12);
    }

    &__main {
      width: percentage(10 / 12);
    }

    &__body {
      .js & {
        width: percentage(9 / 12);
      }
    }

    &__inpagenav {
      width: percentage(3 / 12);
    }

    &--full {
      .page__body {
        width: 100%;
      }
    }
  }
}
