.example {
  border: 1px solid $colour-border;
  margin: em($spacing-medium 0 $spacing-large);

  &--full pre {
    max-height: auto;
  }

  &__label {
    background: #fff;
    border-bottom: 1px solid $colour-border;
    border-right: 1px solid $colour-border;
    color: $colour-text;
    font-size: rem(10px);
    font-weight: bold;
    left: 0;
    line-height: 1;
    margin: 0;
    padding: em($spacing-x-small);
    position: absolute;
    text-transform: uppercase;
    top: 0;

    &--inverse {
      background-color: $colour-panel-default;
    }
  }

  &__body {
    border-bottom: 1px solid $colour-nice-grey-2;
    margin: 0;
    padding: em($spacing-medium $spacing-small $spacing-small);
    position: relative;
  }

  &__code {
    @include font-size(-1);
    margin: 0;
    position: relative;

    pre {
      margin: 0;
      max-height: 200px;
      overflow: auto;

      @media print {
        max-height: 100%;
        white-space: pre-wrap;
      }

      code {
        padding-top: em($spacing-medium);
      }
    }
  }
}
