.grid-example-item {
  background: get-colour(grey, x-light);
  border: em($spacing-x-small) solid $colour-border;
  margin-bottom: em($spacing-small);
  padding: em($spacing-small);
  text-align: center;
}
