.colour-grid {
  @include grid;
  list-style: none;
  padding: 0;

  &__item {
    @include grid-item;
    margin-bottom: em(24);
  }

  &__block {
    border: 1px solid $colour-border;
    display: block;
    height: 0;
    padding-top: percentage(9 / 21);
    width: 100%;
  }

  &__heading {
    @include h5;
    margin-top: em($spacing-small);
  }

  @include mq($from: xs) {
    &__item {
      width: percentage(1 / 2);
    }
  }

  @include mq($from: sm) {
    &__item {
      width: percentage(1 / 3);
    }
  }

  @include mq($from: md) {
    &__item {
      width: percentage(1 / 2);
    }
  }

  @include mq($from: lg) {
    &__item {
      width: percentage(1 / 3);
    }
  }
}

.dl-inline {
  dt {
    clear: both;
    float: left;
    margin-right: em($spacing-xx-small);
  }
  dd {
    float: left;
    margin: 0;
  }
}
