// See http://codepen.io/davidhalford/pen/wlDxL

@function text-contrast($n) {
  $color-brightness: round((red($n) * 299) + (green($n) * 587) + (blue($n) * 114) / 1000);
  $light-color: round((red(#fff) * 299) + (green(#fff) * 587) + (blue(#fff) * 114) / 1000);

  @if abs($color-brightness) < ($light-color / 2) {
    @return white;
  } @else {
    @return black;
  }
}
