---
layout: master
---

{% include alpha.html %}

{% include breadcrumbs.html %}

<div class="container">

	<div class="page-header">
		<h1 class="page-header__heading">
			{{ page.heading | default: page.title }}
		</h1>
		<p class="page-header__lead">
			{{ page.lead | default: page.description }}
		</p>
		{% if page.headerCTA %}
			<p class="page-header__cta">
				<a href="{{ page.headerCTA.href }}" class="btn btn--cta">{{ page.headerCTA.text }}</a>
			</p>
		{% endif %}
	</div>

	<div class="page {% if page.inpagenav == false %}page--full{% endif %}">

		<aside class="page__sidebar" role="complementary">
			{% include stacked-nav.html %}	
		</aside>

		<main class="page__main">

			{% unless page.inpagenav == false %}
				<aside class="page__inpagenav" role="complementary">
					<div data-inpagenav data-inpagenav-headings-container=".page__body"></div>
				</aside>
			{% endunless %}

			<article class="page__body">

				{{ content }}

				<p class="text-right">
					<a href="{{ site.repository }}/edit/gh-pages/{{ page.path }}" target="_blank">
						Edit on GitHub
					</a>
				</p>

			</article>

		</main>

	</div>
</div>
