---
layout: master
---

{% include alpha.html %}

{% include breadcrumbs.html %}

<div class="container">

	<div class="page {% if page.inpagenav == false %}page--full{% endif %}">

		<aside class="page__sidebar" role="complementary">
			<nav role="navigation">

				<ul class="stacked-nav">

					{% include left-nav-group.html nav="foundations" %}
					{% include left-nav-group.html nav="components" %}
					{% include left-nav-group.html nav="technical" %}
					{% include left-nav-group.html nav="about" %}
					{% include left-nav-group.html nav="research" %}

				</ul>

			</nav>		
		</aside>

		<article class="page__main" role="main">

			<h1>
				{{ page.title }}
			</h1>

			{% if page.inpagenav == true %}
				<div data-inpagenav data-inpagenav-headings-container="[role='main']" data-inpagenav-wide-target="in-page-nav-target"></div>
			{% endif %}

			{{ content }}

			<p class="text-right">
				<a href="{{ site.repository }}/edit/gh-pages/{{ page.path }}" target="_blank">
					Edit on GitHub
				</a>
			</p>

		</article>

		{% unless page.inpagenav == false %}
		<aside class="page__inpagenav" role="complementary">
			<div id="in-page-nav-target"></div>
		</aside>
		{% endunless %}

	</div>
</div>
