////
/// @group components
////

@use 'sass:color';
@use '@nice-digital/nds-core/scss/colours';
@use '@nice-digital/nds-core/scss/focus';
@use '@nice-digital/nds-core/scss/glyphs';
@use '@nice-digital/nds-core/scss/spacing';
@use '@nice-digital/nds-core/scss/typography';
@use '@nice-digital/nds-core/scss/utils';

$tag-border-radius: utils.em(spacing.$xx-small);

/// Tag component. Used for labelling items in lists
/// and also used within alpha/beta phase banners.
///
/// BEM modifiers:
///   - `--impact` Bolder tag, used for higher impact
///   - `--super`  Super aligned, useful for tagging headings
///   - `--alpha` Alpha
///   - `--beta`  Beta
///   - `--live`  Live
///   - `--new`  New
///   - `--updated`  Updated
///   - `--consultation`  In consultation
///   - `--flush`  No margin
///   - `--info`  Info
///   - `--caution`  Caution
///   - `--success`  Success
///   - `--error`  Error
/// @since 0.3.1
.tag {
  @include typography.font-size(0);
  align-items: center;
  background-color: colours.$tag-background;
  border-radius: $tag-border-radius;
  color: colours.$text-inverse;
  display: inline-flex;
  font-weight: normal;
  margin: utils.rem(0 0 spacing.$x-small 0);
  padding: utils.em(0 spacing.$x-small);
  position: relative;
  text-decoration: none;
  vertical-align: baseline;

  &--impact {
    font-weight: 600;
    letter-spacing: 1px;
    padding: utils.em(spacing.$xx-small spacing.$small);
    text-transform: uppercase;
  }

  &--super {
    vertical-align: super;
  }

  // &--alpha {
  //   background-color: colours.$alpha;
  // }

  // &--beta {
  //   background-color: colours.$beta;
  // }

  // &--live {
  //   background-color: colours.$live;
  // }

  // &--new {
  //   background: colours.$guidance-new;
  // }

  // &--updated {
  //   background: colours.$guidance-updated;
  // }

  // &--consultation {
  //   background: colours.$guidance-consultation;

  &--info {
    background: colours.$info;
  }

  &--caution {
    background: colours.$caution;
  }

  &--error {
    background: colours.$error;
  }

  &--success {
    background: colours.$success;
  }

  &--flush {
    margin-bottom: 0;
  }

  &--outline {
    @include typography.font-size(-1);
    background: colours.$tag-outline-background;
    border: 1px solid colours.$border;
    color: colours.$tag-outline;
    position: relative;
  }

  &__remove {
    appearance: none;
    background: 0;
    border: 0;
    color: colours.$tag-remove;
    cursor: pointer;
    margin-left: utils.rem(spacing.$x-small);
    padding: 0;
    text-decoration: none;

    &:before {
      content: glyphs.get-glyph(heavy-multiplication-x);
      display: block;
      font-weight: bold;
      line-height: 1;
    }

    &:focus {
      @include focus.default-focus-style;
    }

    &:visited {
      color: colours.$tag-remove;
    }

    &:hover,
    &:active {
      color: colours.$text;
    }

    &:after {
      border-radius: $tag-border-radius;
      content: '';
      display: block;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }

    &:hover:after {
      background: color.adjust(colours.$tag-remove-hover-after, $alpha: -0.9);
    }
  }

  @include utils.when-is(a) {
    color: colours.$tag-anchor;
    text-decoration: underline;

    &:visited {
      color: colours.$tag-anchor;
    }

    &:hover {
      text-decoration: none;
    }

    &:active {
      top: utils.em(spacing.$xx-small);
    }
  }

  @media print {
    background: none !important;
    color: colours.$tag-print !important;
    padding: 0 !important;
  }
}
