@use '../spacing';
@use '../colours';
@use '../utils';

////
/// @group helpers
////

/// The default focus style used for elements like anchors and buttons. rounded version used for elements that have a border radius
/// @param {Boolean} $rounded whether to use box shadow for border (outline can't be styled to have radius corners)
/// @output the default focus styles ie background colour and outline
/// @since 0.1.0
@mixin default-focus-style($rounded: false) {
  @if $rounded {
    box-shadow: 0 0 0 utils.rem(spacing.$x-small) colours.$focus;
    outline: spacing.$x-small solid transparent;
    outline-offset: spacing.$x-small;
  } @else {
    outline: utils.rem(spacing.$x-small) solid colours.$focus;
  }
}

/// The inverse focus style used for elements like anchors and buttons
/// on an inverse (dark) background
/// @output the inverse focus styles ie background colour and outline
/// @since 0.3.1
@mixin inverse-focus-style {
  outline: utils.rem(spacing.$x-small) solid colours.$focus-inverse;
}

@mixin default-button-focus {
  .btn,
  button {
    &:focus {
      @include default-focus-style;
    }
  }
}

@mixin inverse-button-focus {
  .btn,
  button {
    &:focus {
      @include inverse-focus-style;
    }
  }
}

@mixin default-accordion-focus {
  .accordion__summary,
  button.accordion__summary,
  summary {
    &:focus {
      @include default-focus-style;
      outline-offset: calc(-#{utils.rem(spacing.$x-small)} + 1px);
    }
  }
}
