{% macro pageHeader(pageHeader) %}
	<div class="page-header">
		<h1 class="page-header__heading">
			{{ pageHeader.heading }}
		</h1>
		<p class="page-header__lead">
			{{ pageHeader.lead }}
		</p>
		{% if pageHeader.cta %}
			<p class="page-header__cta">
				<a href="{{ pageHeader.cta.href }}">{{ pageHeader.cta.text }}</a>
			</p>
		{% endif %}
	</div>
{% endmacro %}
