@use '@nice-digital/nds-core/scss/typography';

////
/// @group Typography
////

h6,
.h6 {
  @include typography.h6;
}

h5,
.h5 {
  @include typography.h5;
}

h4,
.h4 {
  @include typography.h4;
}

h3,
.h3 {
  @include typography.h3;
}

h2,
.h2 {
  @include typography.h2;

  + h3,
  + .h3 {
    margin-top: 0;
  }
}

h1,
.h1 {
  @include typography.h1;

  + h2,
  + .h2 {
    margin-top: 0;
  }
}

.h1-alt {
  @include typography.h1-alt;

  + h2,
  + .h2 {
    margin-top: 0;
  }
}
