////
/// @group Typography
////

/// Blockquote style
/// @since 0.1.0
.quote {
  @include nds-font-size(lead);
  border-left: em($nds-spacing-x-small) solid $nds-colour-nice-teal;
  font-weight: normal;
  margin: rem($nds-spacing-large 0);
  padding: rem(0 0 0 $nds-spacing-xx-large);
  position: relative;

  &:before {
    color: $nds-colour-nice-teal;
    content: nds-get-glyph(left-double-quotation-mark);
    display: block;
    font-family: Arial, sans-serif;
    font-size: 5rem;
    font-weight: bold;
    left: 0;
    line-height: 0.8;
    position: absolute;
    text-align: center;
    top: 0;
    width: rem($nds-spacing-xx-large);

    @media print {
      color: $nds-colour-true-black;
    }
  }

  p {
    font-size: inherit;
  }

  footer,
  cite {
    @include nds-font-size($scale: 0);
    font-style: normal;
  }
}
