/* stylelint-disable no-descending-specificity */

////
/// @group Typography
////

ul,
ol {
  @include nds-list;
  li,
  .list__item {
    margin-bottom: rem($nds-spacing-x-small);
    ul,
    .list {
      margin-top: rem($nds-spacing-x-small);
    }
  }
}

/// Base list class. Can be used with various modifiers.
/// @see .list--unstyled
/// @see .list--loose
/// @since 0.1.0
.list {
  @include nds-list;
  li,
  .list__item {
    margin-bottom: rem($nds-spacing-x-small);
    ul,
    .list {
      margin-top: rem($nds-spacing-x-small);
    }
  }
}

/// Unstyled list modifier - remove bullets, padding etc.
/// Used as a modifier for `.list`.
/// Often used for lists of links.
/// @requires .list
/// @since 0.1.0
.list--unstyled {
  list-style: none;
  margin-left: 0;
  max-width: none; // To override max-width of 66ch set on lists
  padding: 0;
}

/// Loose list style - with a gap between list items
/// @since 0.2.12
.list--loose {
  li,
  .list__item {
    margin-bottom: rem($nds-spacing-small);
    ul,
    .list--loose {
      margin-top: rem($nds-spacing-small);
    }
  }
}

/// Tight list style - no margin between list items
/// @since 1.2.0
.list--tight {
  li,
  .list__item {
    margin-bottom: 0;
    ul,
    .list--loose {
      margin-top: 0;
    }
  }
}

/// Pipe separate list
/// @since 0.5.0
.list--piped {
  list-style: none;
  margin-left: 0;
  max-width: none; // To override the default 66ch max width
  padding: 0;

  li,
  .list__item {
    display: inline-block;
    margin-bottom: 0;
    margin-right: rem(-4);

    a {
      padding: rem($nds-spacing-small);
    }

    &:after {
      border-left: 1px solid $nds-colour-icons;
      content: nds-get-glyph(zero-width-space);
      display: inline-block;
      margin: em(0 $nds-spacing-small);
      overflow: hidden;
      text-indent: -99px;
      vertical-align: middle;
      width: 0;
    }

    &:first-child {
      a {
        padding-left: 0;
      }
    }

    &:last-child:after {
      display: none;
    }
  }
}
