// Global colours - do not reference these directly, use tokens instead!

// Primary palette
$global-nice-teal: #228096;
$global-nice-cream: #f7f4f1;
$global-nice-blue: #00436c;
$global-white: #fff;
$global-black: #000;
$global-nice-black: #0e0e0e;

// Secondary palette
$global-yellow: #ead054;

// Tertiary palette
$global-nice-teal-tint-1: #59a0b0;
$global-nice-teal-tint-2: #91c0cb;
$global-nice-teal-tint-3: #c8e0e6;
$global-nice-blue-tint-1: #407291;
$global-nice-blue-tint-2: #80a1b5;
$global-nice-blue-tint-3: #bfd0da;
$global-nice-cream-1: #ded5ca;
$global-nice-cream-2: #e6e0d7;
$global-nice-cream-3: #eeeae4;
$global-nice-cream-tint-1: #fbfaf8;
$global-black-tint-1: #404040;
$global-black-tint-2: #808080;
$global-black-tint-3: #bfbfbf;
