// Global tokens - do not reference these directly, use alias tokens instead!

// Primary palette
$global-nice-teal: #228096;
$global-nice-cream: #f7f4f1;
$global-nice-blue: #00436c;
$global-white: #fff;
$global-black: #000;
$global-nice-black: #0e0e0e;

// Secondary palette
$global-yellow: #ead054;

// Tertiary palette
$global-nice-teal-tint-1: #59a0b0;
$global-nice-teal-tint-2: #91c0cb;
$global-nice-teal-tint-3: #c8e0e6;
$global-nice-blue-tint-1: #407291;
$global-nice-blue-tint-2: #80a1b5;
$global-nice-blue-tint-3: #bfd0da;
$global-nice-cream-1: #ded5ca;
$global-nice-cream-2: #e6e0d7;
$global-nice-cream-3: #eeeae4;
$global-nice-cream-tint-1: #fbfaf8;
$global-black-tint-1: #404040;
$global-black-tint-2: #808080;
$global-black-tint-3: #bfbfbf;

// Custom palette
$global-custom-grey-1: #adadad;
$global-custom-grey-2: #d6d6d6;
$global-custom-grey-3: #666;
$global-custom-blue-1: #005ea5;
$global-custom-blue-2: #003761;
$global-custom-blue-3: #3479d0;
$global-custom-blue-3-tint: #eff4fc;
$global-custom-purple-1: #4c2c92;
$global-custom-red-1: #b50f23;
$global-custom-red-1-tint: #f9eced;
$global-custom-orange-1: #dc8a07;
$global-custom-orange-1-tint: #fbf7f1;
$global-custom-green-1: #68c103;
$global-custom-green-1-tint: #f3faeb;
$global-custom-yellow-shade: #d6ba32;
