// Text, links
$nds-colour-text: $global-nice-black;
$nds-colour-text-inverse: $global-white;
$nds-colour-link: $global-custom-blue-1;
$nds-colour-link-hover: $global-custom-blue-2;
$nds-colour-link-visited: $global-custom-purple-1;
$nds-colour-link-active: $global-nice-black;
$nds-colour-link-inverse: $global-white;
$nds-colour-link-inverse-hover: $global-custom-grey-2;
$nds-colour-link-inverse-visited: $global-white;
$nds-colour-link-inverse-active: $global-custom-grey-2;
$nds-colour-link-focus: $global-custom-blue-1;
$nds-colour-link-focus-inverse: $global-white;

// Buttons
$nds-colour-btn-cta: $global-yellow;
$nds-colour-btn-cta-hover: $global-custom-yellow-shade;
$nds-colour-btn-cta-text: $global-nice-black;
$nds-colour-btn-primary: $global-black-tint-1;
$nds-colour-btn-primary-hover: $global-nice-black;
$nds-colour-btn-primary-text: $global-white;
$nds-colour-btn-secondary: $global-custom-grey-3;
$nds-colour-btn-secondary-hover: $global-black-tint-1;
$nds-colour-btn-secondary-text: $global-white;
$nds-colour-btn-inverse: $global-white;
$nds-colour-btn-inverse-hover: $global-custom-grey-2;
$nds-colour-btn-inverse-text: $global-nice-black;

// Borders
$nds-colour-border: $global-custom-grey-1;
$nds-colour-border-selected: $global-nice-teal;

// Status
$nds-colour-status-error: $global-custom-red-1;
$nds-colour-status-error-background: $global-custom-red-1-tint;
$nds-colour-status-info: $global-custom-blue-3;
$nds-colour-status-info-background: $global-custom-blue-3-tint;
$nds-colour-status-caution: $global-custom-orange-1;
$nds-colour-status-caution-background: $global-custom-orange-1-tint;
$nds-colour-status-success: $global-custom-green-1;
$nds-colour-status-success-background: $global-custom-green-1-tint;

// Forms
// $nds-colour-input: ;
// $nds-colour-textarea: ;
// $nds-colour-checkbox: ;
// $nds-colour-checkbox-active: ;
// $nds-colour-radio: ;
// $nds-colour-radio-active: ;
// $nds-colour-nav-bar-background: ;
// $nds-colour-nav-bar-selected-background: ;

// Components...
