/// Baseline, in pixels
/// @since 0.2.0
$nds-baseline: 4 !default;

/// Base font size, in pixels
/// @since 0.2.0
$nds-base-font-size: $nds-baseline * 4 !default;

/// Base line height, in pixels
/// @since 0.2.0
$nds-base-line-height: $nds-baseline * 6 !default;

/// Sans-serif font stack
/// @since 2.0.0
$nds-font-family-sans: 'Inter, "Helvetica Neue", Helvetica, Arial, sans-serif' !default;

/// Serif font stack
/// @since 2.0.0
$nds-font-family-serif: 'Lora, Georgia, Times, serif' !default;

/// Mono font stack
/// @since 0.2.0
$nds-font-family-mono: 'Monaco, Menlo, Consolas, "Courier New", monospace' !default;

/// The font families in use across NICE.
/// @prop {Font stack} sans [Inter, Helvetica Neue, Helvetica, Arial, sans-serif] The sans-serif font stack
/// @prop {Font stack} serif [Lora, Georgia, Times, serif] The serif font stack
/// @prop {Font stack} mono [Monaco, Menlo, Consolas, "Courier New", monospace] The monospace font stack
/// @see font-family
/// @since 0.2.0
$nds-font-families: (
  sans: $nds-font-family-sans,
  serif: $nds-font-family-serif,
  mono: $nds-font-family-mono
) !default;

/// The modular scale ratio to use for typography
/// @since 0.2.0
$nds-type-ratio: nds-get-ratio(fourth) !default;

/// The minimum root font size, in pixels
/// @since 0.2.13
$nds-root-font-size-min: 15;

/// The maximum root font size, used from breakpoint `$nds-root-font-size-max-breakpoint`
/// @since 0.2.13
$nds-root-font-size-max: 18;

/// The breakpoint at which the root font size starts changing from minimum
/// towards maximum.
/// @since 0.2.13
$nds-root-font-size-min-breakpoint: $nds-breakpoint-md;

/// The breakpoint at which the root font size stops changing and is at its maximum
/// towards maximum.
/// @since 0.2.13
$nds-root-font-size-max-breakpoint: $nds-breakpoint-lg;

/// A map of named font sizes to their corresponding modular scale factor
/// @prop {Integer} h1 [5] Heading 1
/// @prop {Integer} h2 [4] Heading 2
/// @prop {Integer} h3 [3] Heading 3
/// @prop {Integer} h4 [2] Heading 4
/// @prop {Integer} h5 [1] Heading 5
/// @prop {Integer} h6 [0] Heading 6
/// @prop {Integer} lead [2] Lead
/// @prop {Integer} p [0] Paragraph
/// @since 0.1.0
$nds-named-font-sizes: (
  h1: 5,
  h2: 4,
  h3: 3,
  h4: 2,
  h5: 1,
  h6: 0,
  lead: 2,
  p: 0
);

/// Numeric font sizes
/// @since 0.2.0
$nds-font-sizes: (
  -2: (
      fs: 12,
      lh: 18,
      mb: $nds-spacing-small,
      mt: $nds-spacing-small
    ),
  -1: (
      fs: 14,
      lh: 20,
      mb: $nds-spacing-medium,
      mt: $nds-spacing-medium
    ),
  0: (
    fs: 16,
    lh: 24,
    mb: $nds-spacing-medium,
    mt: $nds-spacing-medium
  ),
  1: (
    fs: 18,
    lh: 24,
    mb: $nds-spacing-medium,
    mt: $nds-spacing-medium
  ),
  2: (
    fs: 20,
    lh: 28,
    mb: $nds-spacing-medium,
    mt: $nds-spacing-medium
  ),
  3: (
    fs: 28,
    lh: 32,
    mb: $nds-spacing-medium,
    mt: $nds-spacing-large
  ),
  4: (
    fs: 36,
    lh: 40,
    mb: $nds-spacing-medium,
    mt: $nds-spacing-large
  ),
  5: (
    fs: 44,
    lh: 56,
    mb: $nds-spacing-medium,
    mt: 0
  ),
  6: (
    fs: 52,
    lh: 60,
    mb: $nds-spacing-large,
    mt: 0
  )
);
