// SASS MQ OVERRIDES

// A map of breakpoints (name: px) required for SASS MQ
$mq-breakpoints: (
  xs: $nds-breakpoint-xs,
  sm: $nds-breakpoint-sm,
  md: $nds-breakpoint-md,
  lg: $nds-breakpoint-lg,
  xl: $nds-breakpoint-xl
);

// Base font size
$mq-base-font-size: $nds-base-font-size * 1px;

$mq-static-breakpoint: lg;

$mq-responsive: $nds-responsive;
