{% extends "layouts/_layout.njk" %}
{% set title = "404 Page not found" %}

{% block body %}

	<div class="container">
		<h1>Page not found</h1>

		<p>Sorry, that page could not be found</p>
	</div>

{% endblock %}
