{% extends "layouts/_layout.njk" %}
{% set title = "NICE Bootstrap v2" %}

{% macro item(title, href, description) %}
	<div class="grid__item one-whole tablet--one-third desktop--one-quarter">
		<h4><a href="{{ href }}">{{ title }}</a></h4>
		<p>
			{{ description }}
		</p>
	</div>
{% endmacro %}

{% block body %}

	<div>
		<div class="container">
			<ol class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<li class="breadcrumbs__crumb" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a href="#">
						NICE
					</a>
				</li>
				<li class="breadcrumbs__crumb" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a href="#">
						Something
					</a>
				</li>
				<li class="breadcrumbs__crumb" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					Current page
				</li>
			</ol>
		</div>
	</div>

	<div class="container">
		<h1>Welcome to NICE Experience</h1>
		<h2 class="p">Your source for creating beautiful, consistent experiences across NICE</h2>

		<h3 class="heading heading--separator">Style Library</h3>

		<p>The foundations and patterns that are to be used for faster product development.</p>

		<div class="grid">

			{{ item("Layout", "/style-guide/layout", "Containers, grid and layouts") }}

			{{ item("Typography", "/style-guide/typography", "Headings, paragraphs, featured text, quotations, lists, links") }}

			{{ item("Buttons", "/style-guide/buttons", "Button text, button blocks") }}

			{{ item("Colour", "/style-guide/colour", "Colour contrast, SASS variables, colour palettes") }}

			{{ item("Buttons", "/style-guide/buttons", "Button text, button blocks") }}

		</div>

		<div class="panel">
			<h3 class="heading heading--separator">UI Components</h3>

			<p>Further patterns</p>

			<div class="grid">

				{{ item("Breadcrumbs", "/style-guide/breadcrumbs", "Secondary navigation scheme that reveals the user's location") }}

				{{ item("Tabs", "/style-guide/tabs", "Content is separated into different panes, with only one pane viewable at a time.") }}

			</div>
		</div>

		<h3 class="heading heading--separator">SASS</h3>

		<p>We use SASS as our CSS pre-processor</p>

		<div class="grid">
			<div class="grid__item one-whole tablet--one-third desktop--one-quarter">
				<h4><a href="/sass/syntax">Syntax</a></h4>
				<p>
					Syntax and formatting
				</p>
			</div>
			<div class="grid__item one-whole tablet--one-third desktop--one-quarter">
				<h4><a href="/sass/naming">Naming</a></h4>
				<p>
					Variable naming and BEM convention
				</p>
			</div>
			<div class="grid__item one-whole tablet--one-third desktop--one-quarter">
				<h4><a href="/style-guide/layout">Layout</a></h4>
				<p>
					Grid unit proportions, gutters and spacing.
				</p>
			</div>
			<div class="grid__item one-whole tablet--one-third desktop--one-quarter">
				<h4><a href="/style-guide/colour">Colour</a></h4>
				<p>
					Colour contrast, Sass variables, colour palettes.
				</p>
			</div>
			<div class="grid__item one-whole tablet--one-third desktop--one-quarter">
				<h4><a href="/style-guide/colour">Colour</a></h4>
				<p>
					Colour contrast, Sass variables, colour palettes.
				</p>
			</div>
		</div>

	</div>

{% endblock %}

