{% extends "layouts/_layout.njk" %}
{% set title = "NICE Bootstrap v2" %}

{% macro item(title, href, description) %}
	<div class="grid__item one-whole tablet--one-third desktop--one-quarter">
		<h4 class="h6">{{ title }}</h4>
		<p>
			{{ description }}
		</p>
		<p>
			<a class="btn btn--secondary" href="{{ href }}">Read about {{ title }}</a>
		</p>
	</div>
{% endmacro %}

{% block body %}

	<div class="container">
		<h1>Welcome to NICE Experience</h1>
		<h2 class="p">
			Your source for creating beautiful, consistent experiences across NICE.
			<a href="/about/">Read more about NICE Experience</a>
		</h2>

		<p>
			<a class="btn btn--primary" href="/about/installation">Install</a>
			<a class="btn btn--secondary" target="_blank" rel="external" href="https://github.com/nhsevidence/NICE.Bootstrap2">View on GitHub</a>
		</p>

		<h3 class="heading heading--separator">Style Guide</h3>

		<p>The foundations and patterns that are to be used for faster product development.</p>

		<div class="grid">

			{{ item("Layout", "/style-guide/layout", "Containers, grid and layouts") }}

			{{ item("Typography", "/style-guide/typography", "Headings, paragraphs, featured text, quotations, lists, links") }}

			{{ item("Buttons", "/style-guide/buttons", "Button text, button blocks") }}

			{{ item("Colour", "/style-guide/colour", "Colour contrast, SASS variables, colour palettes") }}

		</div>

		<div class="panel">
			<h3 class="heading heading--separator">Components</h3>

			<p>Further patterns</p>

			<div class="grid">

				{{ item("Breadcrumbs", "/components/breadcrumbs", "Secondary navigation scheme that reveals the user's location") }}

				{{ item("Tabs", "/components/tabs", "Content is separated into different panes, with only one pane viewable at a time.") }}

				{{ item("Alpha/beta", "/components/alpha-beta-live", "Phase tags and banner to denote alpha and beta services") }}

				{{ item("Navigation", "/components/navigation", "Lorem ipsum dolor sit amet, consectetur adipisicing elit.") }}

			</div>
		</div>

		<h3 class="heading heading--separator">SASS</h3>

		<p>We use <a href="http://sass-lang.com/" target="_blank" rel="external">SASS</a> as our <a href="https://github.com/showcases/css-preprocessors" target="_blank" rel="external">CSS pre-processor</a> as it's mature, got a great feature set and <a href="https://github.com/sass/libsass" target="_blank" rel="external">libsass</a> is super quick.</p>

		<div class="grid">

			{{ item("Code standards", "/sass/code-standards", "SASS code standards and code style guide") }}

			{{ item("Libraries", "/sass/libraries", "3rd party SASS libraries") }}

			{{ item("Documentation", "/sass/docs", "Auto-generated SASS code documentation") }}

		</div>

		<h3 class="heading heading--separator">JavaScript</h3>

		<div class="grid">

			{{ item("Documentation", "/javascript/docs", "Auto-generated JS code documentation") }}

		</div>

	</div>

{% endblock %}

