////
/// @group components
////

@use '@nice-digital/nds-core/scss/colours';
@use '@nice-digital/nds-core/scss/spacing';
@use '@nice-digital/nds-core/scss/utils';

/// A phase banner includes a tag and a label and is designed
/// to designate that a service is in alpha or beta.
/// Usually contains a `.tag .tag--phase`.
///
/// BEM elements:
///   - `__tag`   The tag itself
///   - `__label` The label explaining
///
/// @see .tag
/// @since 0.1.0
.phase-banner {
  border-bottom: 1px solid colours.$border;
  display: flex;
  flex-flow: row nowrap;
  margin: utils.rem(0 0 spacing.$medium);
  max-width: 100%;
  padding: utils.rem(spacing.$medium 0);
  width: 100%;

  &__tag {
    margin: utils.rem(0 spacing.$medium 0 0);

    .tag {
      margin: 0;
    }
  }

  &__label {
    padding-top: utils.rem(spacing.$xx-small);
    width: 100%;
  }
}
