{% extends "layouts/_layout.njk" %}
{% set title = "Stakeholder registration" %}

{% block body %}

	<div class="container">

		<nav aria-label="Breadcrumbs" role="navigation">
			<p class="visually-hidden" id="breadcrumb-label">
				You are here:
			</p>
			<ol class="breadcrumbs" aria-labelledby="breadcrumb-label" itemscope itemtype="http://schema.org/BreadcrumbList">
				<li class="breadcrumbs__crumb" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a href="/" itemprop="name">
						NICE
					</a>
					<meta itemprop="position" content="1">
				</li>
				<li class="breadcrumbs__crumb" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a href="/" itemprop="name">
						Get involved
					</a>
					<meta itemprop="position" content="2">
				</li>
			</ol>
		</nav>

		<div class="grid">

			<div data-g="12 md:8">

				<h1>Register as a stakeholder</h1>

				<p class="lead">
					Register your organisation to help us develop <a href="https://www.nice.org.uk/about/what-we-do/our-programmes/nice-guidance/nice-guidelines">guidelines</a> or <a href="https://www.nice.org.uk/standards-and-indicators">quality standards</a>.
				</p>

				<h2>How to register</h2>

				<ol>
					<li>Make sure your organisation is eligible.</li>
					<li>Check your organisation is not already registered.</li>
					<li>Set up a NICE account.</li>
					<li>Choose the topic your organisation is interested in.</li>
				</ol>

				<p>
					<a href="https://www.nice.org.uk/get-involved/stakeholder-registration/register" class="btn btn--cta">Register your organization</a>
				</p>

				<p>
					Note: A maximum of 2 people may be listed as contacts for each organisation for each topic.
				</p>

				<h2>More information</h2>

				<h3>Consultations already in progress</h3>

				<ul>
					<li>If a consultation has already started, you can still register</li>
					<li>If a consultation is due to close, register and submit your comments – we will let you know if your application has been successful</li>
					<li>You will need to register separately for each topic you are interested in.</li>
				</ul>

				<p>Make sure you have permission from your organisation to register and register your interest as early as possible. </p>

				<h3>Who can register?</h3>

				<ul>
					<li>National organisations for people who use health and social care services, their families and carers, and the public</li>
					<li>Healthwatch organisations</li>
					<li>National organisations that represent health and social care practitioners and other relevant professionals whose practice may be affected by the guideline</li>
					<li>Companies that manufacture medicines, devices, equipment or adaptations, and commercial industries relevant to public health, excluding the tobacco industry</li>
					<li>Tobacco industry organisations who register to participate are automatically registered as respondents</li>
					<li>Public sector providers and commissioners of care or services</li>
					<li>Private, voluntary sector and other independent providers of care or services</li>
					<li>Government departments and national statutory agencies</li>
					<li>Organisations that fund or carry out research</li>
					<li>Overseas agencies with a remit covering England</li>
					<li>Local or regional groups representing people who work in, or use health and social care services can register as stakeholders only when there is no national organisation that represents the group's specific interests.</li>
				</ul>

				<h3>List of registered stakeholders</h3>

				<p>
					Each <a href="https://www.nice.org.uk/guidance">guidance</a> has a list of registered stakeholders.  If your organisation isn’t listed but you think it should be registered,  please check with your organisation.
				</p>

				<h3>Who is registered from my organisation?</h3>

				<p>
					Please email <a href="mailto:guidelines@nice.org.uk">guidelines@nice.org.uk</a> and we can provide you with this information.
				</p>

			</div>

			<div data-g="12 md:4">

				<div class="panel">

					<h3 class="h6">Other ways to help us develop guidance</h3>

					<ul class="list--unstyled">
						<li><a href="https://www.nice.org.uk/get-involved/join-a-committee">Join a committee</a></li>
						<li>Ask questions at <a href="https://www.nice.org.uk/get-involved/meetings-in-public">NICE Question time</a></li>
						<li>Observe a <a href="https://www.nice.org.uk/get-involved/meetings-in-public">meeting in public</a></li>
						<li>Speak to our <a href="https://www.nice.org.uk/about/nice-communities/public-involvement">public involvement team</a></li>
					</ul>

				</div>

			</div>

		</div>

	</div>

{% endblock %}
