{% extends "layouts/_layout.njk" %}
{% set title = "Topic landing page" %}
{% from "cta-bar/cta-bar.njk" import ctaBar %}
{% from "stacked-nav/stacked-nav.njk" import stackedNav %}
{% from "card/card.njk" import card %}
{% from "footer/footer.njk" import footer %}

{% block body %}

	<div class="container">

		<nav aria-label="Breadcrumbs" role="navigation">
			<p class="visually-hidden" id="breadcrumb-label">
				You are here:
			</p>
			<ol class="breadcrumbs" aria-labelledby="breadcrumb-label" itemscope itemtype="http://schema.org/BreadcrumbList">
				<li class="breadcrumbs__crumb" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a href="/" itemprop="name">
						NICE
					</a>
					<meta itemprop="position" content="1">
				</li>
				<li class="breadcrumbs__crumb" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a href="/guidance" itemprop="name">
						Guidance
					</a>
					<meta itemprop="position" content="2">
				</li>
				<li class="breadcrumbs__crumb" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a href="/guidance/conditions-and-diseases" itemprop="name">
						Conditions and diseases
					</a>
					<meta itemprop="position" content="3">
				</li>
				<li class="breadcrumbs__crumb" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a href="/guidance/conditions-and-diseases" itemprop="name">
						Cancer
					</a>
					<meta itemprop="position" content="4">
				</li>
				<li class="breadcrumbs__crumb" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<span itemprop="name">
						Breast cancer
					</span>
					<meta itemprop="position" content="5">
				</li>
			</ol>
		</nav>

		<h1>Breast cancer</h1>

		<p class="lead">
			Everything NICE has produced on the topic of breast cancer. Includes related guidelines, NICE Pathways, quality standards and advice.
		</p>

	</div>

	{{ ctaBar({ title: "Interested in becoming a NICE stakeholder?", body: "Receive alerts about the latest guidance, comment on consultations, and participate in NICE events and workshops", cta: { text: "Register as a stakeholder", href: "https://www.nice.org.uk/get-involved/stakeholder-registration" } }) }}

	<div class="container">
		<div class="grid grid--loose">
			<div data-g="12 md:3">
				{% set stackedNavContent = {
					root: {
						title: "Breast cancer",
						href: "/guidance/conditions-and-diseases/cancer/breast-cancer",
						current: true
					},
					links: [
						{
							title: "Research recommendations",
							href: "/resources/conditions-and-diseases/cancer/breast-cancer"
						},
						{
							title: "Shared learning",
							href: "/localpracticeresources/conditions-and-diseases/cancer/breast-cancer"
						}
					]
				} %}
				{{ stackedNav(stackedNavContent) }}
			</div>
			<div data-g="12 md:9">

				<h2 class="mt--0">NICE Pathways<small> - mapping our guidance</small></h2>

				<p><a href="https://www.nice.org.uk/About/What-we-do/Our-Programmes/About-NICE-Pathways">NICE Pathways</a> brings together everything we have said on a topic in an interactive flowchart.</p>

				<ul class="list list--unstyled">
					<li>
						{{ card({ heading: { icon: "pathways", text: "Advanced breast cancer" }, href: "https://pathways.nice.org.uk/pathways/advanced-breast-cancer" }) }}
					</li>
					<li>
						{{ card({ heading: { icon: "pathways", text: "Early and locally advanced breast cancer" }, href: "https://pathways.nice.org.uk/pathways/early-and-locally-advanced-breast-cancer", tag: { modifier: "updated", label: "Updated" } }) }}
					</li>
					<li>
						{{ card({ heading: { icon: "pathways", text: "Familial breast cancer" }, href: "https://pathways.nice.org.uk/pathways/familial-breast-cancer" }) }}
					</li>
					<li>
						{{ card({ heading: { icon: "pathways", text: "Lung cancer" }, href: "https://pathways.nice.org.uk/pathways/lung-cancer" }) }}
					</li>
					<li>
						{{ card({ heading: { level: 5, icon: "pathways", text: "Suspected cancer recognition and referral" }, href: "https://pathways.nice.org.uk/pathways/suspected-cancer-recognition-and-referral", tag: { modifier: "new", label: "New" } }) }}
					</li>
				</ul>

				<h2>NICE guidelines</h2>

				<p><a href="https://www.nice.org.uk/About/What-we-do/Our-Programmes/NICE-guidance/NICE-guidelines">NICE guidelines</a> are evidence-based recommendations for health and care in England.</p>

				<ul class="list list--unstyled">
					<li>
						{{ card({ heading: { text: "Advanced breast cancer: diagnosis and treatment (CG81)" }, href: "https://www.nice.org.uk/guidance/cg81", tag: { modifier: "updated", label: "Updated" }, metadata: [ { key: "Published date", value: "February 2009", datetime: "2009-02" }, { key: "Last updated", value: "August 2017", datetime: "2017-08" } ] }) }}
					</li>
					<li>
						{{ card({ heading: { text: "Early and locally advanced breast cancer: diagnosis and treatment (CG80)" }, href: "https://www.nice.org.uk/guidance/cg80", metadata: [ { key: "Published date", value: "February 2009", datetime: "2009-02" } ] }) }}
					</li>
					<li>
						{{ card({ heading: { text: "Familial breast cancer: classification, care and managing breast cancer and related risks in people with a family history of breast cancer (CG164)" }, href: "https://www.nice.org.uk/guidance/cg164", metadata: [ { key: "Published date", value: "June 2013", datetime: "2013-06" } ] }) }}
					</li>
					<li>
						{{ card({ heading: { text: "Improving outcomes in breast cancer (CSG1)" }, href: "https://www.nice.org.uk/guidance/csg1", metadata: [ { key: "Published date", value: "August 2002", datetime: "2012-10" } ] }) }}
					</li>
					<li>
						{{ card({ heading: { text: "Suspected cancer: recognition and referral (NG12)" }, href: "https://www.nice.org.uk/guidance/ng12", tag: { modifier: "updated", label: "Updated" }, metadata: [ { key: "Published date", value: "June 2015", datetime: "2015-06" }, { key: "Last updated", value: "July 2017", datetime: "2017-07" } ] }) }}
					</li>
				</ul>

				<h2>NICE medtech innovation briefings</h2>

				<p>Medtech innovation briefings (<abbr title="Medtech innovation briefings">MIB</abbr>s) are NICE advice. These short briefings examine new, innovative technologies. <a href="https://www.nice.org.uk/About/What-we-do/Our-Programmes/NICE-Advice/Medtech-innovation-briefings">Find out more about MIBs</a></p>

				<ul class="list list--unstyled">
					<li>
						{{ card({ heading: { text: "Aixplorer ShearWave Elastography for ultrasound imaging and assessing suspicious breast lesions (MIB15)" }, href: "https://www.nice.org.uk/advice/mib15", metadata: [ { key: "Published date", value: "December 2014", datetime: "2014-12" } ] }) }}
					</li>
					<li>
						{{ card({ heading: { text: "ATEC system for vacuum-assisted breast biopsy (MIB43)" }, href: "https://www.nice.org.uk/advice/mib143", metadata: [ { key: "Published date", value: "November 2015", datetime: "2015-11" } ] }) }}
					</li>
					<li>
						{{ card({ heading: { text: "Axxent electronic brachytherapy system for early stage breast cancer (MIB76)" }, href: "https://www.nice.org.uk/advice/mib76", metadata: [ { key: "Published date", value: "August 2016", datetime: "2016-08" } ] }) }}
					</li>
					<li>
						{{ card({ heading: { text: "EndoPredict gene expression profiling assay for assessing risk of breast cancer recurrence (MIB44)" }, href: "https://www.nice.org.uk/advice/mib44", metadata: [ { key: "Published date", value: "November 2015", datetime: "2015-11" } ] }) }}
					</li>
					<li>
						{{ card({ heading: { text: "L-Dex U400 for lymphoedema after breast cancer treatment (MIB111)" }, href: "https://www.nice.org.uk/advice/mib111", tag: { modifier: "new", label: "New" }, metadata: [ { key: "Published date", value: "July 2017", datetime: "2017-07" } ] }) }}
					</li>
					<li>
						{{ card({ heading: { text: "The Prosigna gene expression profiling assay for assessing long‑term risk of breast cancer recurrence (MIB27)" }, href: "https://www.nice.org.uk/advice/mib27", metadata: [ { key: "Published date", value: "March 2015", datetime: "2015-03" } ] }) }}
					</li>
				</ul>


			</div>
		</div>
	</div>

	{{ footer({ year: moment().year() }) }}

{% endblock %}
