{% extends "layouts/_layout.njk" %}
{% set title = "Topic landing page" %}
{% from "stacked-nav/stacked-nav.njk" import stackedNav %}
{% from "card/card.njk" import card %}
{% from "footer/footer.njk" import footer %}
{% from "page-header/page-header.njk" import pageHeader %}

{% block body %}

	<div class="container">

		<nav aria-label="Breadcrumbs" role="navigation">
			<p class="visually-hidden" id="breadcrumb-label">
				You are here:
			</p>
			<ol class="breadcrumbs" aria-labelledby="breadcrumb-label" itemscope itemtype="http://schema.org/BreadcrumbList">
				<li class="breadcrumbs__crumb" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a href="/" itemprop="name">
						NICE
					</a>
					<meta itemprop="position" content="1">
				</li>
				<li class="breadcrumbs__crumb" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a href="/guidance" itemprop="name">
						Guidance
					</a>
					<meta itemprop="position" content="2">
				</li>
				<li class="breadcrumbs__crumb" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a href="/guidance/conditions-and-diseases" itemprop="name">
						Conditions and diseases
					</a>
					<meta itemprop="position" content="3">
				</li>
				<li class="breadcrumbs__crumb" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a href="/guidance/conditions-and-diseases" itemprop="name">
						Cancer
					</a>
					<meta itemprop="position" content="4">
				</li>
				<li class="breadcrumbs__crumb" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<span itemprop="name">
						Breast cancer
					</span>
					<meta itemprop="position" content="5">
				</li>
			</ol>
		</nav>

		{{ pageHeader({ heading: "Breast cancer", lead: "Everything NICE has produced on the topic of breast cancer. Includes related guidelines, NICE Pathways, quality standards and advice.", cta: { text: "Register as a stakeholder", href: "/register" } }) }}

	</div>

	<main class="container mt--e">
		<div class="grid grid--loose">
			<div data-g="12 sm:4 md:3">
				{% set stackedNavContent = {
					root: {
						title: "Breast cancer guidance",
						href: "/guidance/conditions-and-diseases/cancer/breast-cancer",
						current: true
					},
					links: [
						{
							title: "Shared learning",
							href: "/localpracticeresources/conditions-and-diseases/cancer/breast-cancer"
						}
					]
				} %}
				{{ stackedNav(stackedNavContent) }}
			</div>
			<div data-g="12 sm:8 md:9">

				<div class="grid grid--loose grid--rev">
					<div data-g="12 md:3">
						<div data-inpagenav></div>
					</div>
					<div data-g="12 md:9">

						<p class="mt--0">27 <span class="tag tag--new">new</span> and 2 <span class="tag tag--updated">updated</span> products since May 2017. There is 1 <span class="tag tag--consultation">consultation</span> in progress.</p>

						<h2 id="pathways">NICE Pathways</h2>

						<p>Interactive topic-based flowcharts that allow you to navigate our recommendations on any subject. <a href="https://www.nice.org.uk/About/What-we-do/Our-Programmes/About-NICE-Pathways">Find out more about NICE Pathways</a>.</p>

						<ul class="list list--unstyled">
							<li>
								{{ card({ heading: { text: "Advanced breast cancer" }, href: "https://pathways.nice.org.uk/pathways/advanced-breast-cancer" }) }}
							</li>
							<li>
								{{ card({ heading: { text: "Early and locally advanced breast cancer" }, href: "https://pathways.nice.org.uk/pathways/early-and-locally-advanced-breast-cancer", tag: { modifier: "updated", label: "Updated" } }) }}
							</li>
							<li>
								{{ card({ heading: { text: "Familial breast cancer" }, href: "https://pathways.nice.org.uk/pathways/familial-breast-cancer" }) }}
							</li>
							<li>
								{{ card({ heading: { text: "Lung cancer" }, href: "https://pathways.nice.org.uk/pathways/lung-cancer" }) }}
							</li>
							<li>
								{{ card({ heading: { level: 5, text: "Suspected cancer recognition and referral" }, href: "https://pathways.nice.org.uk/pathways/suspected-cancer-recognition-and-referral", tag: { modifier: "new", label: "New" } }) }}
							</li>
						</ul>

						<h2>NICE guidelines</h2>

						<p>Evidence-based recommendations on a range of health and care topics. <a href="https://www.nice.org.uk/About/What-we-do/Our-Programmes/About-NICE-Pathways">Find out more about NICE guidelines</a>.</p>

						<ul class="list list--unstyled">
							<li>
								{{ card({ heading: { text: "Advanced breast cancer: diagnosis and treatment (CG81)" }, href: "https://www.nice.org.uk/guidance/cg81", tag: { modifiers: ["updated", "flush"], label: "Updated" }, metadata: [ { key: "Published date", value: "February 2009", datetime: "2009-02" }, { key: "Last updated", value: "August 2017", datetime: "2017-08" } ] }) }}
							</li>
							<li>
								{{ card({ heading: { text: "Early and locally advanced breast cancer: diagnosis and treatment (CG80)" }, href: "https://www.nice.org.uk/guidance/cg80", metadata: [ { key: "Published date", value: "February 2009", datetime: "2009-02" } ] }) }}
							</li>
							<li>
								{{ card({ heading: { text: "Familial breast cancer: classification, care and managing breast cancer and related risks in people with a family history of breast cancer (CG164)" }, href: "https://www.nice.org.uk/guidance/cg164", metadata: [ { key: "Published date", value: "June 2013", datetime: "2013-06" } ] }) }}
							</li>
							<li>
								{{ card({ heading: { text: "Improving outcomes in breast cancer (CSG1)" }, href: "https://www.nice.org.uk/guidance/csg1", metadata: [ { key: "Published date", value: "August 2002", datetime: "2012-10" } ] }) }}
							</li>
							<li>
								{{ card({ heading: { text: "Suspected cancer: recognition and referral (NG12)" }, href: "https://www.nice.org.uk/guidance/ng12", tag: { modifiers: ["updated", "flush"], label: "Updated" }, metadata: [ { key: "Published date", value: "June 2015", datetime: "2015-06" }, { key: "Last updated", value: "July 2017", datetime: "2017-07" } ] }) }}
							</li>
						</ul>

						<h2>NICE medtech innovation briefings</h2>

						<p>Information on device and diagnostic technologies to help local decision-making. <a href="https://www.nice.org.uk/About/What-we-do/Our-Programmes/NICE-Advice/Medtech-innovation-briefings">Find out more about MIBs</a>.</p>

						<ul class="list list--unstyled">
							<li>
								{{ card({ heading: { text: "Aixplorer ShearWave Elastography for ultrasound imaging and assessing suspicious breast lesions (MIB15)" }, href: "https://www.nice.org.uk/advice/mib15", metadata: [ { key: "Published date", value: "December 2014", datetime: "2014-12" } ] }) }}
							</li>
							<li>
								{{ card({ heading: { text: "ATEC system for vacuum-assisted breast biopsy (MIB43)" }, href: "https://www.nice.org.uk/advice/mib143", metadata: [ { key: "Published date", value: "November 2015", datetime: "2015-11" } ] }) }}
							</li>
							<li>
								{{ card({ heading: { text: "Axxent electronic brachytherapy system for early stage breast cancer (MIB76)" }, href: "https://www.nice.org.uk/advice/mib76", metadata: [ { key: "Published date", value: "August 2016", datetime: "2016-08" } ] }) }}
							</li>
							<li>
								{{ card({ heading: { text: "EndoPredict gene expression profiling assay for assessing risk of breast cancer recurrence (MIB44)" }, href: "https://www.nice.org.uk/advice/mib44", metadata: [ { key: "Published date", value: "November 2015", datetime: "2015-11" } ] }) }}
							</li>
							<li>
								{{ card({ heading: { text: "L-Dex U400 for lymphoedema after breast cancer treatment (MIB111)" }, href: "https://www.nice.org.uk/advice/mib111", tag: { modifiers: ["new", "flush"], label: "New" }, metadata: [ { key: "Published date", value: "July 2017", datetime: "2017-07" } ] }) }}
							</li>
							<li>
								{{ card({ heading: { text: "The Prosigna gene expression profiling assay for assessing long‑term risk of breast cancer recurrence (MIB27)" }, href: "https://www.nice.org.uk/advice/mib27", metadata: [ { key: "Published date", value: "March 2015", datetime: "2015-03" } ] }) }}
							</li>
						</ul>

						<h2>In development</h2>

						<ul class="list list--unstyled">
							<li>
								{{ card({ heading: { text: "The Prosigna gene expression profiling assay for assessing long‑term risk of breast cancer recurrence (MIB27)" }, href: "https://www.nice.org.uk/advice/mib27", tags: [{ modifiers: ["consultation", "flush"], label: "In consultation" }, { modifiers: ["new", "flush"], label: "New" }], metadata: [ { key: "Published date", value: "March 2015", datetime: "2015-03" } ] }) }}
							</li>
						</ul>

						<h2>News &amp; blogs</h2>

						<h3 class="h4">Latest news on this topic</h3>

						{{ card({ heading: { text: "NICE final draft guidance recommends gene therapy for rare ‘bubble baby syndrome’" }, modifier: "flush", href: "https://www.nice.org.uk/news/article/nice-approves-gene-therapy-for-rare-bubble-baby-syndrome", image: { source: "https://www.nice.org.uk/Media/Default/_Profiles/9d48f06b/fc168ad0/DNA%20-%20200x200-1.jpg?v=636443424909234740", alt: "DNA moleclule spiral" }, summary: "Strimvelis, a treatment for an ultra-rare inherited immune deficiency condition that has been dubbed ‘bubble baby syndrome’ has been approved by NICE in final draft guidance.", metadata: [ { key: "Published", value: "03 January 2018", datetime: "2018-01-03" } ] }) }}

						<h3 class="h4">
							Latest blogs on this topic
						</h3>

						{{ card({ heading: { text: "Support people to make decisions if they have capacity but find it difficult, NICE says" }, modifier: "flush", author: "Jane Viner, chief nurse at Torbay and South Devon NHS Foundation Trust and NICE fellow", href: "https://www.nice.org.uk/news/article/nice-approves-gene-therapy-for-rare-bubble-baby-syndrome", image: { source: "https://www.nice.org.uk/Media/Default/_Profiles/9d48f06b/b8bb6725/couple%20making%20decision%20-%20200x200.jpg?v=636493615990150776" }, summary: "Health and social care professionals should support people to make decisions who find it difficult, NICE says in new draft guidance.", metadata: [ { key: "Published", value: "20 December 2017", datetime: "2017-12-20" } ] }) }}

					</div>
				</div>

			</div>
		</div>
	</main>

	{{ footer({ year: moment().year() }) }}

{% endblock %}
