// stylelint-disable no-descending-specificity

$output-glyph-classes: true;

@use '@nice-digital/design-system/scss/nice-design-system';
@use 'utils';

// Styling for the github-style permalink header links
.permalink-icon svg {
  height: 1.5rem;
  margin-right: 0.25rem;
}
