// stylelint-disable no-descending-specificity

@use '@nice-digital/design-system/scss/nice-design-system' with (
  $output-glyph-classes: true
);

@forward 'utils';

// Styling for the github-style permalink header links
.permalink-icon svg {
  height: 1.6rem;
  margin-right: 0.25rem;
}
