@use '@nice-digital/nds-core/scss/spacing';
@use '@nice-digital/nds-core/scss/typography';
@use '@nice-digital/nds-core/scss/utils';

.simple-pagination {
  &__link-wrapper {
    display: block;
    margin-bottom: utils.rem(spacing.$medium);
    margin-top: utils.rem(spacing.$medium);
  }

  &__link {
    @include typography.link-default;
    background: none;
    border: 0;
    cursor: pointer;
    display: inline-block;
    margin: -(utils.rem(spacing.$small));
    padding: utils.rem(spacing.$small);
    position: relative;
    z-index: 1;
  }
}
