@import '~@nice-digital/nds-core/scss/core';

.simple-pagination {
  &__link-wrapper {
    display: block;
    margin-bottom: rem($nds-spacing-medium);
    margin-top: rem($nds-spacing-medium);
  }
  &__link {
    display: inline-block;
    margin: -(rem($nds-spacing-small));
    padding: rem($nds-spacing-small);
    position: relative;
    z-index: 1;
  }
}
