<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">

	<title>{{ title }} | NICE Experience</title>

	<link rel="shortcut icon" href="/favicon.ico" />
	<link rel="stylesheet" href="/stylesheets/main.css" type="text/css" media="screen" charset="utf-8">
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.5.0/styles/default.min.css">
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.5.0/styles/github.min.css">
	<link href="//fonts.googleapis.com/css?family=Lato:200normal,200italic,300normal,300italic,400normal,400italic,700normal,700italic,900normal,900italic" rel="stylesheet" type="text/css">
</head>
<body>

	<div class="container">
		<p class="phase-banner">
			<span class="phase-banner__tag">
				<strong class="phase-tag phase-tag--alpha">ALPHA</strong>
			</span>
			<span class="phase-banner__label">
				NICE Experience is in development. This means there it isn't feature complete and there will be issues. Find any? Please, let us know!
			</span>
		</p>
	</div>

	{% if breadcrumbs %}
		<div class="container">
			<ol class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
				<li class="breadcrumbs__crumb" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a href="/">
						NICE Experience
					</a>
				</li>
				{% for crumb in breadcrumbs %}
					{% if crumb %}
						{% if crumb.href %}
							<li class="breadcrumbs__crumb" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
								<a href="{{ crumb.href }}">
									{{ crumb.title }}
								</a>
							</li>
						{% else %}
							<li class="breadcrumbs__crumb" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
								{{ crumb.title }}
							</li>
						{% endif %}
					{% endif %}
				{% endfor %}
			</ol>
		</div>
	{% endif %}

	<header>
		<nav role="nav">
			<ul>
				<li><a href="/">NICE Experience</a></li>
				<li><a href="/style-guide/">Style guide</a></li>
				<li><a href="/sass/">SASS</a></li>
				<li><a href="/javascript/">JavaScript</a></li>
			</ul>
		</nav>
	</header>

	{% block body %}
		This is the default body content
	{% endblock %}

	<footer class="footer">
		<nav>
			<ul>
				<li><a href="">NICE Experience</a></li>
			</ul>
		</nav>
	</footer>

	<script src="/javascripts/app.bundle.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.5.0/highlight.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.5.0/languages/scss.min.js"></script>
	<script>hljs.initHighlightingOnLoad();</script>

	<script src="//cdn.nice.org.uk/V3/Scripts/nice/NICE.TopHat.dev.js"></script>
</body>
</html>
