<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="description" content="{{ title }} in NICE Experience, from NICE Digital Services">

	<title>{{ title }} | NICE Experience</title>

	<script src="/javascripts/modernizr-custom.js"></script>

	<link rel="shortcut icon" href="/favicon.ico" />
	<link rel="stylesheet" href="/stylesheets/app.css" type="text/css" media="screen" charset="utf-8">
	<link href="//fonts.googleapis.com/css?family=Lato:200normal,200italic,300normal,300italic,400normal,400italic,700normal,700italic,900normal,900italic" rel="stylesheet" type="text/css">

	{# HLJS doesn't support IE8 #}
	<!--[if gte IE 9 | !IE ]><!-->
		<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.5.0/styles/default.min.css">
		<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.5.0/styles/github.min.css">
	<!--<![endif]-->

	<!--[if lt IE 9]>
		<script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>
<body data-tracker>

	<!-- Google Tag Manager -->
    <noscript>
        <iframe src="//www.googletagmanager.com/ns.html?id=GTM-MDNG92"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                    j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                        '//www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-MDNG92');</script>
	<!-- End Google Tag Manager -->

	<div class="skip-links">
		<a href="#content" class="skip-links__link">Skip to main content</a>
	</div>

	<nav class="navbar navbar--nice-top-level" role="navigation">
		<div class="navbar__inner">
			<ul class="navbar__nav">

				{% macro navItem(href, title) %}
					{% if (href == "/" and req.path == "/" and req.baseUrl == "") or (href != "/" and req.originalUrl.startsWith(href)) %}
						<li class="active">
							<a href="{{ href }}">
								{{ title }}
							</a>
						</li>
					{% else %}
						<li>
							<a href="{{ href }}">
								{{ title }}
							</a>
						</li>
					{% endif %}
				{% endmacro %}

				{{ navItem('/', 'NICE Experience') }}
				{{ navItem('/style-guide/', 'Style Guide') }}
				{{ navItem('/components/', 'Components') }}
				{{ navItem('/sass/', 'SASS') }}
				{{ navItem('/javascript/', 'JavaScript') }}
				{{ navItem('/about/', 'About NICE Experience') }}
			</ul>
		</div>
	</nav>

	<div class="container">
		<p class="phase-banner phase-banner--nice-development">
			<span class="phase-banner__tag">
				<strong class="phase-tag phase-tag--alpha">ALPHA</strong>
			</span>
			<span class="phase-banner__label">
				NICE Experience is in development. This means it is not feature complete and there may be issues. Find any? Please, <a href="https://www.nice.org.uk/leave-feedback"  target="_blank" rel="external">let us know</a>!
			</span>
		</p>
	</div>

	{% if breadcrumbs %}
		<div class="container">
			<nav aria-label="Breadcrumbs" role="navigation">
				<h2 class="visually-hidden" id="breadcrumb-label">
					You are here:
				</h2>
				<ol class="breadcrumbs" aria-labelledby="breadcrumb-label" itemscope itemtype="http://schema.org/BreadcrumbList">
					<li class="breadcrumbs__crumb" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
						<a href="/" itemprop="name">
							NICE Experience
						</a>
						<meta itemprop="position" content="1">
					</li>
					{% for crumb in breadcrumbs %}
						{% if crumb %}
							{% if crumb.href %}
								<li class="breadcrumbs__crumb" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
									<a href="{{ crumb.href }}" itemprop="name">
										{{ crumb.title }}
									</a>
									<meta itemprop="position" content="{{ loop.index + 1 }}">
								</li>
							{% else %}
								<li class="breadcrumbs__crumb" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
									<span itemprop="name">
										{{ crumb.title }}
									</span>
									<meta itemprop="position" content="{{ loop.index + 1 }}">
								</li>
							{% endif %}
						{% endif %}
					{% endfor %}
				</ol>
			</nav>
		</div>
	{% endif %}

	<div id="content">
		{% block body %}
			This is the default body content
		{% endblock %}
	</div>

	<footer class="footer" role="contentinfo">
		<nav>
			<ul>
				<li><a href="/">NICE Experience</a></li>
			</ul>
		</nav>
	</footer>

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="//cdn.nice.org.uk/V3/Scripts/nice/NICE.TopHat.dev.js"></script>
	<!--[if !IE]><!-->
		<script src="/javascripts/app.js"></script>
	<!--<![endif]-->
	<!--[if IE]>
		<script src="/javascripts/app.oldie.js"></script>
	<![endif]-->

	{# HLJS doesn't support IE8 #}
	<!--[if gte IE 9 | !IE ]><!-->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.5.0/highlight.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.5.0/languages/scss.min.js"></script>
		<script>hljs.initHighlightingOnLoad();</script>
	<!--<![endif]-->

	<script>
		if(typeof console !== "undefined" && console.info) {
			console.info("%c✪ We hire people like you; people who are curious about how things are built. Interested? See http://bit.ly/NICEJobs for more info ✪", "background: #333; border-radius: 4px; color: #fff; font-size: 18px; font-family: Lato,'Helvetica Neue',Helvetica,Arial,sans-serif; padding: 2px 6px;");
		}
	</script>
</body>
</html>
