{% extends "layouts/_layout.njk" %}

{% block body %}

	<div class="container">
		<div class="grid">

			{# Sidebar #}
			<aside data-g="12 sm:3 lg:2" role="complementary">
				{% block sidebar %}

					<nav>
						<h5>
							<a href="/style-guide/">Style Guide</a>
						</h5>
						<ul>
							<li><a href="/style-guide/buttons">Buttons</a></li>
							<li><a href="/style-guide/colour">Colour</a></li>
							<li><a href="/style-guide/grid">Grid &amp; layout</a></li>
							<li><a href="/style-guide/typography">Typography</a></li>
							<li><a href="/style-guide/iconography">Iconography</a></li>
							<li><a href="/style-guide/utilities">Utilities</a></li>
						</ul>
						<h5>
							<a href="/components/">Components</a>
						</h5>
						<ul>
							<li><a href="/components/alpha-beta-live">Alpha/beta</a></li>
							<li><a href="/components/breadcrumbs">Breadcrumbs</a></li>
							<li><a href="/components/navigation">Navigation</a></li>
							<li><a href="/components/tabs">Tabs</a></li>
						</ul>
						<h5>
							<a href="/sass/">SASS</a>
						</h5>
						<ul>
							<li><a href="/sass/code-standards">Code standards</a></li>
							<li><a href="/sass/libraries">Libraries</a></li>
							<li><a href="/sass/docs">Documentation</a></li>
						</ul>
						<h5>
							<a href="/javascript/">JavaScript</a>
						</h5>
						<ul>
							<li><a href="/javascript/docs">Documentation</a></li>
						</ul>
						<h5>
							<a href="/about/">About</a>
						</h5>
						<ul>
							<li><a href="/about/roadmap">Roadmap</a></li>
							<li><a href="/about/installation">Installation</a></li>
						</ul>
					</nav>

				{% endblock %}
			</aside>

			{# Main container #}
			<article data-g="12 sm:9 lg:10" role="main">
				{% block main %}
					Default body content
				{% endblock %}
			</article>

		</div>
	</div>

{% endblock %}
